<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota text-uppercase">Maestría en Ingeniería Electrónica <br> NÚCLEO ACADÉMICO BÁSICO
            </h2>
        </div>

        <div class="col-md-12">
            <div class="col-md-9">
                <div class="container col-md-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#mnab">Miembros
                                        del Núcleo Académico Básico</a>
                                </h4>
                            </div>
                            <div id="mnab" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <tr class="col-md-12">

                                            <td class="col-md-9">
                                                <b>Dr. Daniel Fernando Espejel Blanco (SNI -1) </b><br>
                                                 Doctor en Ciencias en Ciencias de la Ingeniería (2021) por el
                                                Instituto Tecnológico de Tuxtla Gutiérrez, opción Instrumentación y
                                                Control de Energía. <br>
                                                 Maestro en Ciencias en Ingeniería Industrial (2001) por el Instituto
                                                Tecnológico de Hermosillo. <br>
                                                 Ingeniero Industrial en Electrónica (1996), Instituto Tecnológico de
                                                Hermosillo. <br>
                                                 Perfil Deseable PRODEP. <br>
                                                 Intereses: Sistemas digitales con aplicación al control de Sistemas de
                                                Electrónica de Potencia, y Calidad de la Energía Eléctrica;
                                                Automatización de Edificios para implementación de Sistemas de Ahorro
                                                Energético; Sistemas de Iluminación. <br>
                                                Contacto: daniel.espejelb@hermosillo.tecnm.mx


                                            </td>
                                        </tr>
                                        <tr class="col-md-12">

                                            <td class="col-md-9">
                                                <b>Dr. Guillermo Valencia Palomo (SNI -2)</b><br>
                                                 Doctor en Ciencias en Control Automático y Sistemas de
                                                Ingeniería (2010), Universidad de Sheffield, Reino
                                                Unido.<br>
                                                 Maestro en Ciencias en Control Automático (2006), Centro
                                                Nacional de Investigación y Desarrollo Tecnológico.<br>
                                                 Ingeniero en Electrónica (2003), Instituto Tecnológico de
                                                Mérida.<br>
                                                 Perfil deseable PRODEP.<br>
                                                 Líder de la línea: Robótica y Control.<br>
                                                 Líder del Cuerpo Académico: Automatización y Electrónica
                                                Industrial (Consolidado).<br>
                                                 Intereses: Control predictivo y su aplicación en la
                                                industria; estudio de la factibilidad, estabilidad y
                                                eficiencia computacional de los algoritmos de control
                                                predictivo así como en algoritmos de optimización
                                                multiparamétrica y geometría computacional, aplicación del
                                                control a diferentes sistemas físicos, control de
                                                procesos.<br>
                                                 Contacto: gvalencia@hermosillo.tecnm.mx, (662) 2606500,
                                                ext. 230.

                                            </td>
                                        </tr>

                                        <tr class="col-md-12">

                                            <td class="col-md-9">
                                                <b>Dr. José Antonio Hoyo Montaño (SNI -1)</b><br>
                                                 Doctor en Ciencias en Electrónica de Potencia (2005),
                                                Centro Nacional de Investigación y Desarrollo
                                                Tecnológico.<br>
                                                 Maestro en Ciencias en Electrónica de Potencia (2000),
                                                Centro Nacional de Investigación y Desarrollo
                                                Tecnológico.<br>
                                                 Ingeniero Industrial en Electrónica (1989), Instituto
                                                Tecnológico de Hermosillo.<br>
                                                 Perfil deseable PRODEP.<br>
                                                 Líder de la línea: Electrónica Industrial.<br>
                                                 Miembro del Cuerpo Académico: Automatización y Electrónica
                                                Industrial (Consolidado).<br>
                                                 Intereses: Sistemas digitales con aplicación al control de
                                                Sistemas de Electrónica de Potencia, y Calidad de la Energía
                                                Eléctrica; Automatización de Edificios para implementación
                                                de Sistemas de Ahorro Energético; Sistemas de Iluminación de
                                                Estado Sólido.<br>
                                                 Contacto: jose.hoyom@hermosillo.tecnm.mx, (662) 2606500,
                                                ext. 231.

                                            </td>
                                        </tr>
                                        <tr class="col-md-12">

                                            <td class="col-md-9">
                                                <b>Dr. Omar Hernández González (SNI-1)</b><br>
                                                 Doctor en Ciencias en Automática en Producción y Robótica
                                                (2017), Universidad de
                                                Caen en Normandie (Francia).<br>
                                                 Doctor en Ciencias en Ingeniería Eléctrónica, opción
                                                Control Automático (2017),
                                                Centro Nacional de Investigación y Desarrollo
                                                Tecnológico.<br>
                                                 Maestro en Ciencias en Ingeniería Eléctrica, opción
                                                Control Automático (2008),
                                                Centro Nacional de Investigación y Desarrollo
                                                Tecnológico.<br>
                                                 Ingeniero en Electrónica (2005), Instituto Tecnológico de
                                                Minatitlán.<br>
                                                 Miembro de la línea: Robótica y Control.<br>
                                                 Intereses: Observadores de estado, Control no lineal,
                                                control de procesos, modelado,
                                                estudios de estabilidad de sistemas de control.<br>
                                                 Contacto: maria.guerreros@hermosillo.tecnm.mx, (662)
                                                2606500, ext. 233.

                                            </td>
                                        </tr>
                                        <tr class="col-md-12">

                                            <td class="col-md-9">
                                                <b>Dra. María Eusebia Gerrero Sánchez (SNI -1, Cátedras
                                                    Conacyt Proy. 88)</b><br>
                                                 Doctor en Ciencias en Ingeniería Eléctrónica, opción
                                                Control Automático (2017), Centro Nacional de Investigación
                                                y Desarrollo Tecnológico.<br>
                                                 Maestro en Ciencias en Ingeniería Eléctrica, opción
                                                Control Automático (2008), Centro Nacional de Investigación
                                                y Desarrollo Tecnológico.<br>
                                                 Ingeniero en Electrónica (2005), Instituto Tecnológico de
                                                Minatitlán.<br>
                                                 Miembro de la línea: Robótica y Control.<br>
                                                 Intereses: Control no lineal, control de sistemas
                                                mecatrónicos, modelado, estudios de estabilidad de sistemas
                                                de control. <br>
                                                 Contacto: maria.guerreros@hermosillo.tecnm.mx; (662)
                                                2606500, ext. 233.

                                            </td>
                                        </tr>
                                        <tr class="col-md-12">

                                            <td class="col-md-9">
                                                <b>Dra. Rosalía del Carmen Gutiérrez Urquídez</b><br>
                                                 Doctor en Ciencias en Ciencias de la Ingeniería (2016),
                                                Instituto Tecnológico de Tijuana.<br>
                                                 Maestro en Ciencias en Ciencias de la Computación (2007),
                                                Instituto Tecnológico de Hermosillo.<br>
                                                 Ingeniero en Comunicaciones y Electrónica (1998),
                                                Instituto Politécnico Nacional.<br>
                                                 Miembro de la línea: Electrónica Industrial.<br>
                                                 Intereses: Redes de sensores, comunicaciones inalámbricas,
                                                algoritmos de control, algoritmos evolutivos.<br>
                                                 Contacto: rosalía.gutierrezu@hermosillo.tecnm.mx, (662)
                                                2606500, ext. 235.

                                            </td>
                                        </tr>

                                        <tr class="col-md-12">

                                            <td class="col-md-9">
                                                <b>M.C. Rafael Armando Galaz Bustamante</b> <br>
                                                 Maestro en Ciencias en Ciencias de la Computación (2001),
                                                Instituto Tecnológico de Nogales.<br>
                                                 Ingeniero Industrial en Electrónica (1998), Instituto
                                                Tecnológico de Hermosillo.<br>
                                                 Perfil Deseable PRODEP.<br>
                                                 Miembro de la línea: Robótica y Control.<br>
                                                 Miembro del Cuerpo Académico: Automatización y Electrónica
                                                Industrial (Consolidado).<br>
                                                 Intereses: Robótica, manipuladores, control de motores,
                                                automatización de procesos.<br>
                                                 Contacto: rafael.galazb@hermosillo.tecnm.mx, (662)
                                                2606500, ext. 234.

                                            </td>
                                        </tr>

                                        <tr class="col-md-12">

                                            <td class="col-md-9">
                                                <b>M.C. Fredy Alberto Hernández Aguirre</b><br>
                                                 Maestro en Ciencias en Ingeniería Electrónica (2012),
                                                Instituto Tecnológico de Chihuahua.<br>
                                                 Ingeniero Industrial en Electrónica (1992), Instituto
                                                Tecnológico de Nogales.<br>
                                                 Perfil Deseable PRODEP.<br>
                                                 Miembro de la línea: Robótica y Control.<br>
                                                 Miembro del Cuerpo Académico: Automatización y control
                                                utilizando tecnologías inteligentes y renovables.<br>
                                                 Intereses: Instrumentación digital, control,
                                                automatización de procesos.<br>
                                                 Contacto: fredy.hernandeza@hermosillo.tecnm.mx.

                                            </td>
                                        </tr>

                                        <tr class="col-md-12">

                                            <td class="col-md-9">
                                                <b>M.C. José Manuel Chávez</b><br>
                                                 Maestro en Ciencias en Ingeniería Electrónica (2003),
                                                Instituto Tecnológico de Chihuahua.<br>
                                                 Ingeniero Industrial en Electrónica (1980), Instituto
                                                Tecnológico de Durango.<br>
                                                 Perfil Deseable PRODEP.<br>
                                                 Miembro de la línea: Electrónica Industrial.<br>
                                                 Líder del Cuerpo Académico: Automatización y control
                                                utilizando tecnologías inteligentes y renovables.<br>
                                                 Intereses: Electrónica Industrial, Procesamiento Digital,
                                                Control y Automatización con aplicación al control de
                                                Sistemas de Electrónica.<br>
                                                 Contacto: jose.chavez@hermosillo.tecnm.mx, (662) 2606500,
                                                ext. 234.

                                            </td>
                                        </tr>


                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ptp">Profesores de tiempo
                                        parcial</a>
                                </h4>
                            </div>
                            <div id="ptp" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <tr class="col-md-12">

                                            <td class="col-md-9">
                                                <b>M.C. Carlos Alberto Pereyda Pierre (SNI-C)</b><br>
                                                 Candidato a Doctor en Ciencias Física, Universidad de
                                                Sonora. Fecha de obtención de grado esperada: Mayo 2018.<br>
                                                 Maestro en Ciencias Física (2009), Universidad de
                                                Sonora.<br>
                                                 Licenciado en Física (2004), Universidad de Sonora.<br>
                                                 Licenciado en Matemáticas (2004), Escuela Normal Superior
                                                de Nayarit.<br>
                                                 Ingeniero en Electrónica (2003), Instituto Tecnológico de
                                                Hermosillo.<br>
                                                 Apoyo a la línea: Electrónica Industrial.<br>
                                                 Intereses: Análisis de señales, aplicaciones de
                                                instrumentación biomédica.<br>
                                                 Contacto: carlos.pereydap@hermosillo.tecnm.mx, (662)
                                                2606500.

                                            </td>
                                        </tr>

                                        <tr class="col-md-12">

                                            <td class="col-md-9">
                                                <b>M.C. Jesús Manuel Tarín Fontes</b><br>
                                                 Maestro en Ciencias en Ingeniería Electrónica (2010),
                                                Instituto Tecnológico de Chihuahua.<br>
                                                 Ingeniero Industrial en Electrónica (1995), Instituto
                                                Tecnológico de Hermosillo.<br>
                                                 Perfil Deseable PRODEP.<br>
                                                 Miembro de la línea: Electrónica Industrial.<br>
                                                 Intereses: Instrumentación, instrumentación digital.<br>
                                                 Contacto: jesus.tarinf@hermosillo.tecnm.mx.

                                            </td>
                                        </tr>

                                    </table>

                                </div>
                            </div>
                        </div>
                        <!-- <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion"
                                                    href="#pfdlbc">Profesores en formación doctoral con licencia de
                                                    beca-comisión</a>
                                            </h4>
                                        </div>
                                        <div id="pfdlbc" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table table-bordered">
                                                    <tr class="col-md-12">

                                                        <td class="col-md-9">
                                                            <b>M.C. Daniel Fernando Espejel Blanco</b><br>
                                                             En estudios de Doctorado en Ciencias de la Ingeniería en
                                                            la opción de Instrumentación y Control en Energías,
                                                            Instituto Tecnológico de Tuxtla Gutiérrez. Fecha de
                                                            obtención de grado esperada: Enero 2021.<br>
                                                             Maestro en Ciencias en Ingeniería Industrial (2001),
                                                            Instituto Tecnológico de Hermosillo.<br>
                                                             Ingeniero Industrial en Electrónica (1996), Instituto
                                                            Tecnológico de Hermosillo.<br>
                                                             Perfil Deseable PRODEP.<br>
                                                             Intereses: Sistemas digitales con aplicación al control de
                                                            Sistemas de Electrónica de Potencia, y Calidad de la Energía
                                                            Eléctrica; Automatización de Edificios para implementación
                                                            de Sistemas de Ahorro Energético; Sistemas de
                                                            Iluminación.<br>
                                                             Contacto: daniel.espejelb@hermosillo.tecnm.mx.


                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                   <app-navbar3></app-navbar3>
                </div>
                <div class="col-md-12 img-responsive text-center" style="margin-top:20px;">
                    <img
                        src="https://conahcyt.mx/wp-content/uploads/2021/10/logo_conacyt_con_sintagma_azul_completo.svg">
                </div>


            </div>
        </div>



        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>