<div class="col-menu-carrera">
    <div class="board-inner">
        <ul class="nav nav-tabs" id="myTab">
            <li class="btn-tab active">
                <label class="label-titulo-icono"
                    style="font-family:Open Sans,Helvetica Neue, Helvetica, Arial, sans-serif;margin-top: 41px;margin-left: 5px;font-size: 15px;">
                    Objetivos
                </label>
                <a href="#home" data-toggle="tab" title="Inicio" style="float:left;margin-left:69px">
                    <span class="round-tabs one">
                        <i class="glyphicon glyphicon-home"></i>
                    </span>
                </a>
            </li>
            <li class="btn-tab">
                <label class="label-titulo-icono"
                    style="font-family:Open Sans,Helvetica Neue, Helvetica, Arial, sans-serif;margin-top: 41px;margin-left: 8px;font-size: 15px;">
                    Perfil
                </label>
                <a href="#perfil" data-toggle="tab" title="Perfil" style="float:left;margin-left:69px">
                    <span class="round-tabs two">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                </a>
            </li>
            <li class="btn-tab">
                <label class="label-titulo-icono"
                    style="font-family:Open Sans,Helvetica Neue, Helvetica, Arial, sans-serif;margin-top: 41px;margin-left: 8px;font-size: 15px;">
                    Materias
                </label>
                <a href="#materias" data-toggle="tab" title="Materias" style="float:left;margin-left:69px">
                    <span class="round-tabs three">
                        <i class="glyphicon glyphicon-book"></i>
                    </span>
                </a>
            </li>
            <li class="btn-tab">
                <label class="label-titulo-icono"
                    style="font-family:Open Sans,Helvetica Neue, Helvetica, Arial, sans-serif;margin-top: 41px;margin-left: 8px;font-size: 15px;">
                    Directorios
                </label>
                <a href="#directorio" data-toggle="tab" title="Directorio" style="float:left;margin-left:53px">
                    <span class="round-tabs four">
                        <i class="glyphicon glyphicon-th-list"></i>
                    </span>
                </a>
            </li>
            <li class="btn-tab">
                <label class="label-titulo-icono"
                    style="font-family:Open Sans,Helvetica Neue, Helvetica, Arial, sans-serif;margin-top: 41px;margin-left: 8px;font-size: 15px;">
                    Contacto
                </label>
                <a href="#contacto" data-toggle="tab" title="Contacto" style="float:left;margin-left:69px">
                    <span class="round-tabs five">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </span>
                </a>
            </li>

        </ul>
    </div>
</div>