<div class="row">
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12" style="margin-bottom: 30px;margin-top: 10px; justify-items: center;">
            <ul class="nav nav-tabs">
                <li role="presentation"><a routerLink="/Sitios/Ciie">¿Quiénes Somos?</a></li>
                <li role="presentation"><a routerLink="/Sitios/Proceso">Proceso de Incubación</a></li>
                <li role="presentation"><a routerLink="/Sitios/Recurso">Recursos</a></li>
                <li role="presentation" class="active"><a routerLink="/Sitios/Contacto">Contáctanos</a></li>
            </ul>
        </div>
        <div class="col-md-12" style="color: black !important;margin-bottom: 30px;">
            <div clas="col-md-12" style="text-align: center;">


                <article id='info-contacto'>
                    <p style="color: black;">
                        Coordinadora:
                        <span class='datos-contacto'>Maby Denia Sánchez González.</span>
                        Telefonos:<br>
                        <span class='datos-contacto'> (662) 2 60 65 00 Ext. 154 </span><br />
                        Correo:
                        <span class='datos-contacto'> ciie_hermosillo@tecnm.mx </span><br /><br>
                        Direcci&oacute;n:
                        <span class='datos-contacto'> Av. Tecnológico 115, edificio B5, Colonia Sahuaro, Hermosillo
                            Sonora, México CP. 83170 </span><br />
                    </p>

                </article>
            </div>

            <div clas="col-md-12" style="text-align: center;">
                <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://maps.google.com.mx/maps/ms?t=h&amp;msa=0&amp;msid=204451402483383688920.0004dae434fed4b56e8a7&amp;source=embed&amp;ie=UTF8&amp;z=17&amp;output=embed"></iframe>
                <br />
                <small>Ver <a
                        href="https://maps.google.com.mx/maps/ms?t=h&amp;msa=0&amp;msid=204451402483383688920.0004dae434fed4b56e8a7&amp;source=embed&amp;ie=UTF8&amp;z=17"
                        style="color:#0000FF;text-align:left" target="_blanck">CENTRO DE INCUBACIÓN E INNOVACIÓN
                        EMPRESARIAL ITH</a> en un mapa ampliado</small>
            </div>

        </div>

    </div>


    <div class="col-md-12" style="display: none;">
        <div class="col-md-12">
            <h3>Galeria:</h3>
        </div>
        <div class="col-md-12">
            <!-- Least Gallery -->
            <section id="least">

                <!-- Least Gallery: Fullscreen Preview -->
                <div class="least-preview"></div>

                <!-- Least Gallery: Thumbnails -->
                <ul class="least-gallery">
                    <!-- 1 || Element with data-caption ||-->
                    <li>
                        <a href="imagenes/Mov Col ITH (2).jpeg" title=" ">
                            <img src="imagenes/Mov Col ITH (2).jpeg" class="img-responsive" alt="Alt Image Text" />
                        </a>
                    <li>
                    <li>
                        <a href="imagenes/Mov Col ITH (3).jpeg" title=" ">
                            <img src="imagenes/Mov Col ITH (3).jpeg" class="img-responsive" alt="Alt Image Text" />
                        </a>
                    <li>
                    <li>
                        <a href="imagenes/Mov Col ITH (4).jpeg" title=" ">
                            <img src="imagenes/Mov Col ITH (4).jpeg" class="img-responsive" alt="Alt Image Text" />
                        </a>
                    <li>
                </ul>
            </section>
        </div>
    </div>

    <!-----------------script galerias------------------->
    <script src="FotoGaleria/js/libs/jquery/2.0.2/jquery.min.js"></script>
    <!-- least.js library -->
    <script src="FotoGaleria/js/libs/least/least.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.least-gallery').least();
        });
    </script>

    <!-- &&& START CODE &&& ONLY FOR PERSONAL USE: PLEASE DON'T EMBED THIS CODE INTO YOUR PAGE -->
    <script>
        /* Google Analytics */
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-16040332-11', 'leastjs.com');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
    </script>


    <!------------------------------------>
    <!--------END CONTENIDO-->
</div>