<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota">MAESTRÍA EN INGENIERÍA INDUSTRIAL <br> ESTUDIANTES MATRICULADOS</h2>
        </div>

        <div class="col-md-12">
            <div class="col-md-9">
                <div class="container col-md-12">

                    <div class="panel-group" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#g2016">Generación 2016</a>
                                </h4>
                            </div>
                            <div id="g2016" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <tr>

                                            <th>Estudiante</th>
                                            <th>Tesis</th>
                                            <th>Estado</th>

                                        </tr>
                                        <tr>
                                            <td>
                                                Aguilar Angulo Jorge Adrián
                                            </td>
                                            <td>
                                                Análisis de la postura de la mano y muñeca para empleados de un centro
                                                de llamadas
                                            </td>
                                            <td>
                                                <a href="/posgrado/mii/tesis/Jorge Adrian Aguilar Angulo.pdf"
                                                    target="blank">Terminada</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Alcantar Jatomea Olivia
                                            </td>
                                            <td>
                                                Estudio y análisis de enfermedades laborales en la industria sonorense
                                                en el periodo 2014 - 2016
                                            </td>
                                            <td>
                                                <a href="/posgrado/mii/tesis/Olivia Alcantar Jatomea.pdf"
                                                    target="blank">Terminada</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Encinas Del Castillo Ana Rosa
                                            </td>
                                            <td>
                                                Caracterización del flujo de la cadena de suministros de una OEM
                                                automotriz
                                            </td>
                                            <td>
                                                <a href="/posgrado/mii/tesis/Ana Rosa Encinas del Castillo.pdf"
                                                    target="blank">Terminada</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Flores Martínez Juan Manuel
                                            </td>
                                            <td>
                                                Caracterización del flujo de la cadena de suministros justo a tiempo de
                                                una OEM automotriz

                                                . </td>
                                            <td>
                                                <a href="/posgrado/mii/tesis/Juan Manuel Flores Martínez.pdf"
                                                    target="blank">Terminada</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Jesus Gerardo Perezmoreno Jesus
                                            </td>
                                            <td>
                                                Diseño y Fabricación de prototipo extrusor de filamentos poliméricos
                                                para manufactura aditiva
                                                . </td>
                                            <td>
                                                <a href="/posgrado/mii/tesis/Jesus Gerardo Perezmoreno.pdf"
                                                    target="blank">Terminada</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Jimenez Gutierrez Gabriela
                                            </td>
                                            <td>
                                                Diseño de arquitectura física de una urna electrónica

                                                . </td>
                                            <td>
                                                <a href="/posgrado/mii/tesis/Gabriela Jimenez Gutierrez.pdf"
                                                    target="blank">Terminada</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Mejía Martínez Cristopher Josue
                                            </td>
                                            <td>
                                                Estudió del diseño de almacenes para optimizar la cadena de suministros
                                                de una empresa de la industria automotriz

                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Moreno Molina Carlos Ernesto
                                            </td>
                                            <td>
                                                Desarrollo y puesta en marcha del producto CEMD para su lanzamiento en
                                                la empresa ASMD

                                            </td>
                                            <td>
                                                <a href="/posgrado/mii/tesis/Carlos Ernesto Moreno Molina.pdf"
                                                    target="blank">Terminada</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Noriega Urtusuaztegui Rogelio
                                            </td>
                                            <td>
                                                Diseño de dispositivo poka-yoke para inserción guiada de terminales en
                                                industria Fabricantes de Arneses.

                                            </td>
                                            <td>
                                                <a href="/posgrado/mii/tesis/Rogelio Noriega Urtuzuastegui.pdf"
                                                    target="blank">Terminada</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Valenzuela Martínez Angel Adrián
                                            </td>
                                            <td>
                                                Estudio de pruebas mecánicas a productos manufacturados por técnicas de
                                                adición.

                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Velazquez Quijada Gloria María
                                            </td>
                                            <td>
                                                Mejoramiento en la efectividad total del equipo en prensas por medio de
                                                la implementación de controladores lógicos programables.

                                            </td>
                                            <td>
                                                <a href="/posgrado/mii/tesis/Gloria María Velazquez Quijada.pdf"
                                                    target="blank">Terminada</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Yuman Ibarra Carlos Augusto
                                            </td>
                                            <td>
                                                Mejoramiento en la efectividad total del equipo en prensas por medio de
                                                la implementación de controladores lógicos programables.

                                            </td>
                                            <td>
                                                Baja
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#g2017">Generación 2017</a>
                                </h4>
                            </div>
                            <div id="g2017" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <tr>

                                            <th>Estudiante</th>
                                            <th>Tesis</th>
                                            <th>Estado</th>

                                        </tr>
                                        <tr>
                                            <td>
                                                Alday Garay Alma Rosa
                                            </td>
                                            <td>
                                                Sistema de manejo de control de inventarios para detectar obsolescencia
                                            </td>
                                            <td>
                                                Baja
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Felix Felix Jorge Edgar
                                            </td>
                                            <td>
                                                Diseño de sistema para medir y controlar el OEE
                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Gamez Davila Luis Angel
                                            </td>
                                            <td>
                                                Análisis de fatiga de tres posturas de la mano y muñeca al teclear.
                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Lopez Robles Luis Fernando
                                            </td>
                                            <td>
                                                Aseguramiento de la calidad en manufactura automotriz mediante APQP

                                            </td>
                                            <td>
                                                Baja
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Martinez Montaño Jose Luis
                                            </td>
                                            <td>
                                                Metodología de diseño de moldes por medio del prototipado virtual para
                                                el proceso de inyección de plástico

                                            </td>
                                            <td>
                                                <a href="/posgrado/mii/tesis/Jose Luis Martínez Montaño.pdf"
                                                    target="blank">Terminada</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Montoya Enriquez Edith
                                            </td>
                                            <td>
                                                Estudio de riesgos de factor musculoesquelético en personal del área de
                                                la salud en hospital integral de la mujer del estado de Sonora

                                            </td>
                                            <td>
                                                <a href="/posgrado/mii/tesis/Edith Montoya Enriquez.pdf"
                                                    target="blank">Terminada</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Moreno Martinez Juan Leonardo
                                            </td>
                                            <td>
                                                Analisis del ciclo de vida del producto para la mejora en la
                                                administración e integración de los sistemas procedimientos u procesos
                                                de producción en la empresa ATS
                                            </td>
                                            <td>
                                                Baja
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Rodriguez Morales Pablo Gustavo
                                            </td>
                                            <td>

                                                Analisis del ciclo de vida del producto para la mejora en la
                                                administración e integración de los sistemas procedimientos u procesos
                                                de producción en la empresa ATS
                                                . </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Vasquez Gomez Debbie Yemileth
                                            </td>
                                            <td>
                                                Manejo Manual de Materiales orientado a operaciones logísticas internas

                                            </td>
                                            <td>
                                                <a href="/posgrado/mii/tesis/Debbie Yemileth Vasquez Gomez.pdf"
                                                    target="blank">Terminada</a>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#g2018">Generación 2018</a>
                                </h4>
                            </div>
                            <div id="g2018" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <tr>

                                            <th>Estudiante</th>
                                            <th>Tesis</th>
                                            <th>Estado</th>

                                        </tr>
                                        <tr>
                                            <td>
                                                Acosta Lopez Karla Maricela
                                            </td>
                                            <td>
                                                Influencia negativa de los factores de risgo psicosociales en los
                                                indicadores de la productividad y la calidad en la industria maquiladora
                                            </td>
                                            <td>
                                                Baja
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Benitez Monge Horacio
                                            </td>
                                            <td>
                                                Mejora de la calidad por medio de un sistema de control en maquinas de
                                                troquelado y moldeo
                                            </td>
                                            <td>
                                                Baja
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Espinoza Balderrama Juleny Aracely
                                            </td>
                                            <td>
                                                Desarrollo de una metodología de Evaluación por competencias para
                                                factores psicosociales en la supervisión del trabajo en el área de
                                                producción de la industria automotriz

                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Gomez Angulo Luisa Fernanda
                                            </td>
                                            <td>
                                                Diseño de equipo de evaluación ergonómica y biomecánica que mida
                                                esfuerzo muscular

                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Huez Moreno Benjamin Tercero
                                            </td>
                                            <td>
                                                Documentación de un lanzamiento y validación de un sistema de escape a
                                                través del uso de las metodologías APQP-PPAP

                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Inzunza Robles Daniela
                                            </td>
                                            <td>

                                                Factores de riesgo ocasionados por jornadas laborales de 12 horas en la
                                                industria maquiladora TE Conectivity
                                                . </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Lagarda Sierra Gibran Manuel
                                            </td>
                                            <td>
                                                Diseño e implementación de un sistema de manufactura esbelta aplicado en
                                                ergonomía ocupacional para reducir enfermedades profesionales
                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Lopez Villarreal Alexia
                                            </td>
                                            <td>
                                                Método para medir el desempeño de proyectos no estandarizados

                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Quintero Rubio Diego
                                            </td>
                                            <td>
                                                Rediseño de un sistema de control para mejorar el desempeño de una
                                                microformadora
                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Quintero Sañudo Guadalupe De Jesus
                                            </td>
                                            <td>
                                                Diagnóstico de factores y riesgos psicosociales que afecten la
                                                productividad en la empresa Amphenol
                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Rivera Alvizuri Jonathan
                                            </td>
                                            <td>
                                                Causas laborales que influyen en el síndrome del Quemado (Burning Out)
                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Rivera Rodriguez Ana Laura
                                            </td>
                                            <td>
                                                Evaluación del suministro manual de materia prima vs sistema e-Kanban en
                                                un proceso de logística interna de un proveedor automotriz
                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Rodriguez Tapia Luis Alonso
                                            </td>
                                            <td>
                                                Diseño de componentes termo electrónico para conservar la temperatura
                                                corporal de las extremidades superiores en ambientes fríos industriales
                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Ruedaflores Arvizu Linda Lizeth
                                            </td>
                                            <td>
                                                Diseño de una herramienta de software para evaluación de riesgos
                                                ergonómicos
                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Soto Murrieta Julio Alfonso
                                            </td>
                                            <td>
                                                Desarrollo de kit didácticos para el modelo por competencias en la
                                                carrera de ingeniería industrial
                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Valdez Rodriguez Francisco Javier
                                            </td>
                                            <td>
                                                Variabilidad de propiedades mecánicas según el tipo de pigmentación del
                                                material ABS
                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#g2019">Generación 2019</a>
                                </h4>
                            </div>
                            <div id="g2019" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <tr>

                                            <th>Estudiante</th>
                                            <th>Tesis</th>
                                            <th>Estado</th>

                                        </tr>
                                        <tr>
                                            <td>
                                                Ruiz Ramos Milthon Eduardo
                                            </td>
                                            <td>
                                                Desarrollo de sistema para la captura de movimiento humano a través de
                                                sensores inerciales

                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Garcia Salazar Gildardo
                                            </td>
                                            <td>

                                                Diseño de un sistema estándar para la planeación, análisis y control en
                                                el flujo de trabajo en procesos y productos.
                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Retamoza Rivera Romina
                                            </td>
                                            <td>

                                                Contracción muscular: Modelo de evaluación ergonómica utilizando art
                                                tool y Sue Rogers.
                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Contreras Chavarin Denny Missel
                                            </td>
                                            <td>
                                                Diseño de un sistema para la medición de vibraciones generadas por
                                                pruebas destructivas

                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Estrada Rodríguez Ana Ivis
                                            </td>
                                            <td>
                                                Diseño y fabricación de una máquina trituradora de residuos plásticos

                                            </td>
                                            <td>
                                                En proceso
                                            </td>
                                        </tr>

                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                   <app-navbar4></app-navbar4>
                </div>
                <div class="col-md-12 img-responsive text-center" style="margin-top:20px;">
                    <img src="conacyt-pnpc.png">
                </div>


            </div>



            <!------------------------------------>
            <!--------END CONTENIDO-->
        </div>
    </div>
    <!----END NOTAS------>

</div>