<div class="row">
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h1 class="tnota"> </h1>
        </div>
        <div class="col-md-12">

        </div>
        <div class="col-md-12">
            <ul class="doc">
                <li><a href="../documentos/----ITH-AC-PO-002-01_CALENDARIO_ESCOLAR_2025 V0.pdf" target="_blank">Si tienes
                        problemas visualizando el calendario haz click aquí</a></li>
            </ul>
            <embed src="../documentos/----ITH-AC-PO-002-01_CALENDARIO_ESCOLAR_2025 V0.pdf" type="application/pdf"
                width="100%" height="600px" />

        </div>
        <br>
        <br>
        <br>
        <br>
     


        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>