<div class="row">
                <div class="col-md-12">
                    <!------CONTENIDO-------->
                    <div class="col-md-12">
                        <h1 class="tnota">
                        </h1>
                    </div>
                    <div class="col-md-12">
                        <div>
                            <img src="imagenes/Egresados (2).png" class="img-responsive" style="max-width:100%;">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p><br>
                            <strong>
                                EGRESADO LICENCIATURA E INGENIERÍA
                            </strong><br>

                            <a
                                href=" https://docs.google.com/forms/d/e/1FAIpQLSfLhw6dS0ASc1UUd2_xHCPoBgNlCqP9dF8q1EJEBR8Lv1KVSQ/viewform">ENCUESTA
                                EGRESADO LICENCIATURA E INGENIERÍA</a><br>
                            <br>

                            <strong>EGRESADO POSGRADO</strong>
                            <br>
                            <a
                                href="https://docs.google.com/forms/d/e/1FAIpQLSes2IyEHia6iO6gCQ4KaUIEOt-TtJAPBO8g-oNcwcFYBIytyA/viewform">ENCUESTA
                                EGRESADO POSGRADO</a><br>
                            <br>
                            <!--                            

                            <strong>
                                Ingeniería Biomédica y Electrónica
                            </strong><br>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdFHKS9_IfTRjCTbHkRcSPj7vxPDp1-hfBlHbYY0e2wu3L47g/viewform?usp=send_form">Egreso 2017 - 2018 - 2019 - 2020  </a><br>
                            <br>
                            RECIÉN EGRESADO
                            <br>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfRFCe1zxQx5lAu8woGog_yPydRmpUikS_zHxVydBjk2DX0PQ/viewform?usp=send_form">Egreso 2021 </a><br>
                            <br>
                            <strong>
                                Ingeniería en Gestión Empresarial y Licenciatura en Administración
                            </strong><br>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeGNk4wvFlTTw_pF-pE_ngh6Behvp4Fjau_7Ia2Y6fNImBkvg/viewform?usp=send_form">Egreso 2017 - 2018 - 2019 – 2020  </a><br>
                            <br>
                            RECIÉN EGRESADO
                            <br>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScMGRwLZ8ay5NrOcWgWZNIDYXK_uc6bdJ1TWnor70RUrJdsSw/viewform?usp=send_form">Egreso 2021  </a><br>
                            <br>
                            <strong>
                                Ingeniería Eléctrica
                            </strong><br>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScTLcCXncKiiXjUZnC_uGxa4X2wR2zxnilhZz9gu2XBQuKzug/viewform">Egreso  2017 - 2018 - 2019 – 2020  </a><br>
                            <br>
                            RECIÉN EGRESADO
                            <br>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeiCrL_joTJ-WBYLW6pfcpJ6HNS6jORRsI3a0W9kuv8v7JY9A/viewform">Egreso 2021  </a><br>
                            <br>
                            <strong>
                                Ingeniería Industrial
                            </strong><br>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfgWOS4-xC62Scs9jAfPDfV2jZ-A9wERxeKa8TaHI93VzbJoQ/viewform">Egreso 2017 -  2018 - 2019 – 2020 </a><br>
                            <br>
                            RECIÉN EGRESADO
                            <br>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdVz-ZChxSXVPMTFPvrGYbAnYjzfr5TaeiMg0FCC6QzT8913A/viewform">Egreso 2021  </a><br>
                            <br>
                            <strong>
                                Ingeniería Mecánica
                            </strong><br>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSc_5FAC-C0j5A-Wl88ThEzPdlGR3Q39r_FqGPN5w7u3kH-v8g/viewform?usp=send_form">Egreso 2017 - 2018 - 2019 – 2020  </a><br>
                            <br>
                            RECIÉN EGRESADO
                            <br>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScqcP92eP4nfafyV9RdE3bR5yndUzqUjlCNgyMagJ3QwOpWRQ/viewform">Egreso 2021  </a><br>
                            <br>
                            <strong>
                                Ingeniería Mecatrónica
                            </strong><br>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdQ4vpGTae4DYwU-5g3OhD6LifMOSdImenhWKYwWW7oukMLEg/viewform">Egreso 2017 - 2018 - 2019 - 2020  </a><br>
                            <br>
                            RECIÉN EGRESADO
                            <br>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdMQSepI3-wOtjmX5GEc52DsHp59aEWptoFS1PMdvy40QQLDg/viewform">Egreso 2021  </a><br>
                            <br>
                            <strong>
                                Ingeniería en Sistemas Computacionales e Informática
                            </strong><br>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeidXGSXk7tUJS7-Voz22InUcPN_r1lAV6avBU9hpMmG5lDPQ/viewform">Egreso  2017 - 2018 - 2019 – 2020  </a><br>
                            <br>
                            RECIÉN EGRESADO
                            <br>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdPohD2jHAxgvtZoFn55fQtglLHppAoxATCehBWcWnRpsE-Vg/viewform">Egreso 2021  </a><br>
                        </p>
                    </div>
                    <div class="col-md-12" style="display: none;">
                        <div class="col-md-12">
                            <h3>Galeria:</h3>
                        </div>
                        <div class="col-md-12" >
                            <!-- Least Gallery -->
                        
                    </div>
                </div>

                <!-----------------script galerias------------------->
          


                <!------------------------------------>
                <!--------END CONTENIDO-->
            </div>