 <div class="row">
                <script>
                    /*
                    
                    Want to customize your button? visit our documentation page:
                    
                    https://login.equalweb.com/custom-button.taf
                    
                    */
                    window.interdeal = {
                        "sitekey": "c8700d9cf950be63738668a48d457167",
                        "Position": "Left",
                        "domains": {
                            "js": "https://cdn.equalweb.com/",
                            "acc": "https://access.equalweb.com/"
                        },
                        "Menulang": "es-MX",
                        "showTooltip": true,
                        "btnStyle": {
                            "vPosition": [
                                "80%",
                                "80%"
                            ],
                            "scale": [
                                "0.5",
                                "0.5"
                            ],
                            "color": {
                                "main": "#1876c9",
                                "second": "#ffffff"
                            },
                            "icon": {
                                "outline": false,
                                "type": 1,
                                "shape": "circle"
                            }
                        }
                    };
                    (function(doc, head, body){
                        var coreCall             = doc.createElement('script');
                        coreCall.src             = interdeal.domains.js + 'core/5.0.9/accessibility.js';
                        coreCall.defer           = true;
                        coreCall.integrity       = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
                        coreCall.crossOrigin     = 'anonymous';
                        coreCall.setAttribute('data-cfasync', true );
                        body? body.appendChild(coreCall) : head.appendChild(coreCall);
                    })(document, document.head, document.body);
                    </script>
                <div class="col-md-12">
                    <!------CONTENIDO-------->
                    <div class="col-md-12">
                        <h2 class="tnota">MAESTRÍA EN INGENIERÍA ELECTRÓNICA</h2>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-9">
                            <div class="col-md-12"><img src="Banner posgrado.jpg" class="img-responsive"></div>
                            <p style="text-align: justify;">

                                La Maestría en Ingeniería Electrónica inicia operaciones en agosto de 2014 en respuesta a la creciente demanda en la zona de influencia del Instituto Tecnológico de Hermosillo. Esta área se ha destacado por un notable crecimiento industrial, contando con una planta industrial consolidada y diversificada, que abarca sectores clave como el aeroespacial, automotriz, minero y maquilador, entre otros.
                                <br><br>
                                El programa de maestría cuenta con Profesores-Investigadores de reconocido prestigio que desarrollan su labor en dos líneas de investigación, apoyados por laboratorios equipados y de vanguardia. Además, la Maestría en Ingeniería Electrónica forma parte del Sistema Nacional de Posgrados del CONAHCYT, lo cual permite a los estudiantes acceder a becas de manutención para apoyar sus estudios.

                                <!-- La operación del programa de la Maestría en Ingeniería Electrónica inicia en agosto de
                                2014 como una respuesta a la demanda existente en la zona de influencia del Instituto
                                Tecnológico de Hermosillo, donde el desarrollo industrial ha alcanzado un crecimiento
                                considerable en los últimos años y se cuenta con una planta industrial consolidada y
                                diversa en su naturaleza. Se tienen industrias y empresas de diferentes sectores entre
                                las que destacan: aeroespacial, automotriz, minera, maquiladora, entre otras.
                                <br><br>
                                El programa cuenta con Profesores-Investigadores de reconocido prestigio que trabajan en dos diferentes líneas de investigación con laboratorios equipados. Actualmente, la Maestría en Ciencias de la Computación cuenta con el reconocimiento del CONAHCYT dentro del Padrón Nacional de Programas de Posgrado de Calidad lo cual permite el acceso a becas de manutención para los estudiantes del programa".
                                <br><br>
                                <a href="Diptico Posgrado Electronica RGB 1.jpg">Díptico Posgrado Electrónica Parte
                                    1</a><br>
                                <a href="Diptico Posgrado Electronica RGB 2.jpg">Díptico Posgrado Electrónica Parte
                                    2</a>
                                <br><br>
                                <center><a href="https://www.facebook.com/ITH.Maestria.Ingenieria.Electronica/"
                                        target="_blank">
                                        <img class="img-responsive" src="facebook-icon.png" width="30px"
                                            height="30px">Síguenos en Facebook </a>
                                </center> -->

                            </p>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                              <app-navbar3></app-navbar3>
                            </div>
                            <div class="col-md-12 img-responsive text-center" style="margin-top:20px;">
                                <img
                                    src="https://conahcyt.mx/wp-content/uploads/2021/10/logo_conacyt_con_sintagma_azul_completo.svg">
                            </div>


                        </div>
                    </div>



                    <!------------------------------------>
                    <!--------END CONTENIDO-->
                </div>
            </div>