<div class=container-fluid>
        <div class=col-md-12>
            <div class="col-md-12 col-menu"></div>
            <script>
                $(function () {
                    // Agrega un parámetro de versión o timestamp
                    $(".col-menu").load("MenuV9.html?v=" + Date.now());
                });
            </script>

            <!--------NOTAS--->
            <div class="row">
                <script>
                    /*
                    
                    Want to customize your button? visit our documentation page:
                    
                    https://login.equalweb.com/custom-button.taf
                    
                    */
                    window.interdeal = {
                        "sitekey": "c8700d9cf950be63738668a48d457167",
                        "Position": "Left",
                        "domains": {
                            "js": "https://cdn.equalweb.com/",
                            "acc": "https://access.equalweb.com/"
                        },
                        "Menulang": "es-MX",
                        "showTooltip": true,
                        "btnStyle": {
                            "vPosition": [
                                "80%",
                                "80%"
                            ],
                            "scale": [
                                "0.5",
                                "0.5"
                            ],
                            "color": {
                                "main": "#1876c9",
                                "second": "#ffffff"
                            },
                            "icon": {
                                "outline": false,
                                "type": 1,
                                "shape": "circle"
                            }
                        }
                    };
                    (function(doc, head, body){
                        var coreCall             = doc.createElement('script');
                        coreCall.src             = interdeal.domains.js + 'core/5.0.9/accessibility.js';
                        coreCall.defer           = true;
                        coreCall.integrity       = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
                        coreCall.crossOrigin     = 'anonymous';
                        coreCall.setAttribute('data-cfasync', true );
                        body? body.appendChild(coreCall) : head.appendChild(coreCall);
                    })(document, document.head, document.body);
                    </script>
                <div class="col-md-12">
                    <!------CONTENIDO-------->
                    <div class="col-md-12"> 
                        <h2 class="tnota">MAESTRÍA EN ADMINISTRACIÓN</h2> 
                    </div> 

                    <div class="col-md-12">
                           <div class="col-md-9">
                            <p>
                                Maestría en Administración
                                <br>
                                La Maestría en Administración del Instituto Tecnológico de Hermosillo, adscrita a la División de Estudios de Posgrado e Investigación, responde a las demandas económicas, sociales y culturales de Sonora y México. En un contexto global que exige atraer inversión extranjera y desarrollar alternativas económicas, el programa forma líderes comprometidos con el desarrollo sostenible y la economía social, impulsando un crecimiento inclusivo y equitativo.
                                <br>
                                Este programa de orientación profesional avanzada se enfoca en la investigación aplicada para resolver problemas concretos en Administración, promoviendo prácticas empresariales rentables y socialmente responsables. Los egresados están preparados para asumir roles clave en organizaciones con impacto positivo en sus comunidades y el entorno global.
                                <br>
                                ________________________________________
                                <br>
                                Líneas de Generación y Aplicación del Conocimiento (LGAC)
                                <br>
                                •	Dirección Estratégica: Desarrollo de estrategias innovadoras y sostenibles para alcanzar objetivos organizacionales en entornos competitivos, promoviendo el bienestar social y económico.
                                <br>
                                •	Gestión del Talento Humano: Optimización del potencial humano mediante prácticas éticas y eficientes que generen valor compartido, alineadas con la economía social y solidaria.
                                <br>
                                <br><br>
                                Contactos
                                <br>
                                M.A.N. Ivonne Esmeralda Lizarraga Coronado.
                                <br>
                                •	depi_hermosillo@tecnm.mx
                                <br>
                                •	(662) 2606500 ext 136
                                <br>

                                <br>
                                M.A. Francisco Alberto Martínez Villa
                                <br>
                                •	coordinacion.ma@hermosillo.tecnm.mx
                                <br>
                                •	(662) 2606500 ext 136
                                <br>


                            </p>
                           </div>
                            <div class="col-md-3">
                               <app-navbar></app-navbar>
                                <!--<div class="col-md-12 img-responsive text-center" style="margin-top:20px;">
                                        <img src="conacyt-pnpc.png">
                                </div>-->
                                
                            </div>
                    </div>



                    <!------------------------------------>
                    <!--------END CONTENIDO-->
                </div>
            </div>
            <!----END NOTAS------>

        </div>
        <!--------FOOTER--------------->
        <!---------END FOOTER------------>
    </div>