<div class="row">
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h3 class="tnota">
                Apoyo a Madres de Familia para Fortalecer su Desarrollo Profesional
            </h3>
        </div>
        <div class="col-md-12" style="display: none;">
            <div style="align-items: center;">
                <img src="../imagenes/Graduacion-ASU-TecNM-HErmosillo-03-2021-(principal).png" class="img-responsive"
                    style="max-width:100%;">
            </div>
        </div>
        <div class="col-md-12">
            <p>
                <br><br>
                Consulta la convocatoria <a href="../documentos/Convocatoria_MJF-2021.pdf">aquí</a>
                <br><br>
                Los documentos serán enviados escaneados (no fotos con dispositivo móvil) en color y mínimo de 300 dpi a
                <a href="#">fernando.godinezr@hermosillo.tecnm.mx.</a>
                <br><br>
                Una vez que sea completado el expediente digital de las aspirantes, se contactará para informar los
                siguientes pasos. Fecha límite para recibir expedientes completos 9 de abril de 2021.
                <br><br>
            </p>
        </div>
        <div class="col-md-12" style="display: none;">
            <div class="col-md-12">
                <h3>Galeria:</h3>
            </div>
            <div class="col-md-12">
                <!-- Least Gallery -->
                <section id="least">

                    <!-- Least Gallery: Fullscreen Preview -->
                    <div class="least-preview"></div>

                    <!-- Least Gallery: Thumbnails -->
                    <ul class="least-gallery">
                        <!-- 1 || Element with data-caption ||-->
                        <li>
                            <a href="../imagenes/Graduacion-ASU-TecNM-HErmosillo-03-2021-(2).jpeg" title=" ">
                                <img src="../imagenes/Graduacion-ASU-TecNM-HErmosillo-03-2021-(2).jpeg"
                                    class="img-responsive" alt="Alt Image Text" />
                            </a>
                        <li>
                    </ul>
                </section>
            </div>
        </div>

        <!-----------------script galerias------------------->
        <script src="FotoGaleria/js/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- least.js library -->
        <script src="FotoGaleria/js/libs/least/least.min.js"></script>

        <script>
            $(document).ready(function () {
                $('.least-gallery').least();
            });
        </script>

        <!-- &&& START CODE &&& ONLY FOR PERSONAL USE: PLEASE DON'T EMBED THIS CODE INTO YOUR PAGE -->
        <script>
            /* Google Analytics */
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-16040332-11', 'leastjs.com');
            ga('set', 'anonymizeIp', true);
            ga('send', 'pageview');
        </script>


        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>