<ul class="nav nav-pills nav-stacked">
    <li class="active"><a routerLink="/oferta-educativa/Maestria-CC">Inicio</a></li>
    <li><a target="_blank" href="../../documentos/Listado aspirantes aceptados MCC 2024.pdf">Listado
            aspirantes aceptados MCC 2024</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-CC-convocatoria">Convocatorias</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-CC-costo">Costos</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-CC-plan">Plan de Estudios</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-CC-app">Aplicación de Conocimientos</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-CC-nucleo">Núcleo Academico Básico</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-CC-estudiantes">Estudiantes Matriculados</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-CC-productivdad">Productividad Académica</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-CC-vinculacion">Vinculación</a></li>
    <!-- <li><a href="https://rinacional.tecnm.mx/" target="_blank">Repositorio de tesis</a></li> -->
    <li><a routerLink="/oferta-educativa/Maestria-CC-actividades">Actividades de retribucion social y
            divulgacion</a></li>
    <li><a href="https://www.dof.gob.mx/nota_detalle.php?codigo=5698698&fecha=16/08/2023#gsc.tab=0">Reglamento de becas
            CONAHCyT.</a></li>
    <li><a
            href="../../documentos/LINEAMIENTOS PARA LA OPERACION DEL POSGRADO DEL TECNOLOOGICO NACIONAL DE MEXICO 2023 -1-1.pdf">Línea
            Lineamientos de Posgrado TecNM:</a></li>
    <li><a href="https://rinacional.tecnm.mx/">Repositorio institucional.</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-CC-contacto">Contacto</a></li>
</ul>