<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota">MAESTRÍA EN CIENCIAS DE LA COMPUTACIÓN <br> NÚCLEO ACADÉMICO BÁSICO</h2>
        </div>

        <div class="col-md-12">
            <div class="col-md-9">
                <div class="container col-md-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#mnab">Miembros del Núcleo
                                        Académico Básico</a>
                                </h4>
                            </div>
                            <div id="mnab" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-bordered">


                                        <tr class="col-md-12">

                                            <td class="col-md-9">
                                                <b>Dr. Omar Hernández González (SNI-1)</b><br>

                                                 Doctor en Ciencias en Automática en Producción y Robótica (2017),
                                                Universidad de Caen en Normandie (Francia). <br>
                                                 Doctor en Ciencias en Ingeniería Electrónica, opción Control
                                                Automático (2017), Centro Nacional de Investigación y Desarrollo
                                                Tecnológico. <br>
                                                 Maestro en Ciencias en Ingeniería Eléctrica, opción Control Automático
                                                (2008), Centro Nacional de Investigación y Desarrollo Tecnológico. <br>
                                                 Ingeniero en Electrónica (2005), Instituto Tecnológico de Minatitlán.
                                                <br>
                                                 Miembro de la línea: Sistemas Inteligentes. <br>
                                                 Intereses: Observadores de estado, Control no lineal, control de
                                                procesos, modelado, estudios de estabilidad de sistemas de control. <br>
                                                Contacto: omar.hernandezg@hermosillo.tecnm.mx (662) 2606500, ext. 233

                                            </td>
                                        </tr>
                                        <tr class="col-md-12">

                                            <td class="col-md-9">
                                                <b>Dr. Oscar Mario Rodríguez Elías (SNI -1) </b><br>

                                                 Doctor en Ciencias en Ciencias de la Computación (2007) por el Centro
                                                de Investigación Científica y de Educación Superior de Ensenada
                                                (CICESE), México. <br>
                                                 Maestro en Ciencias en Ciencias de la Computación (2003) por el Centro
                                                de Investigación Científica y de Educación Superior de Ensenada
                                                (CICESE), México. <br>
                                                 Ingeniero en Sistemas Computacionales (1999) por el Instituto
                                                Tecnológico de Hermosillo. <br>
                                                 Miembro del Sistema Nacional de Investigadores. <br>
                                                 Perfil deseable PRODEP. <br>
                                                 Líder del Cuerpo Académico: Tecnologías de Software de la Industria
                                                4.0. <br>
                                                 Líder de la Línea de Investigación en Ingeniería de Software de la
                                                Maestría en Ciencias de la Computación <br>
                                                 Intereses: Sistemas basados en Conocimiento; Gestión del Conocimiento;
                                                Procesos de Software; Tecnologías de la Industria 4.0 <br>
                                                Contacto: omrodriguez@hermosillo.tecnm.mx, (662) 2606500, ext. 136.
                                                http://www.omrodriguez.mx/

                                            </td>
                                        </tr>

                                        <!-- <tr class="col-md-12">
                                                          <td class="col-md-3"> </td>
                                                          <td class="col-md-9">
                                                              <b>M.C. Sonia Regina Meneses Mendoza</b><br>
                                                              
                                                              *Maestra en Ciencias en Ciencias Computacionales (2006) Instituto Tecnológico de Hermosillo<br>
                                                              *Especialización en Bases de Datos (2001) Instituto Tecnológico de Hermosillo<br>
                                                              *Licenciatura en Informática (1989) Instituto Tecnológico de Hermosillo<br>
                                                              *Perfil Deseable Prodep<br>
                                                              *Miembro del Cuerpo Académico: Sistemas Informáticos para Aplicaciones Industriales.<br>
                                                              *Intereses: Bases de Datos, Minería de Datos, Análisis OLAP, Modelado conceptual, Ingeniería de Software<br>
                                                              *Contacto: so_meneses@hermosillo.tecnm.mx, (662)2606500, ext. 136
              
              
              
              
                                                          </td>
                                                      </tr>
                                                       -->

                                        <tr class="col-md-12">
                                            <td class="col-md-9">
                                                <b>M.C. Rafael Armando Galaz Bustamante</b> <br>
                                                 Maestro en Ciencias en Ciencias de la Computación (2001), Instituto
                                                Tecnológico de Nogales.<br>
                                                 Ingeniero Industrial en Electrónica (1998), Instituto Tecnológico de
                                                Hermosillo.<br>
                                                 Perfil Deseable PRODEP.<br>
                                                 Miembro de la línea: Ingeniería de Software.<br>
                                                 Miembro del Cuerpo Académico: Automatización y Electrónica Industrial
                                                (Consolidado).<br>
                                                 Intereses: Robótica, Bioingeniería.<br>
                                                 Contacto: rafael.galazb@hermosillo.tecnm.mx, (662) 2606500, ext. 234.

                                            </td>
                                        </tr>


                                        <tr class="col-md-12">
                                            <td class="col-md-9">
                                                <b>Dra. Maria Trinidad Serna Encinas</b><br>

                                                 Doctora en Informática (2005), Universidad Joseph Fourier, Grenoble,
                                                Francia. <br>
                                                 Maestro en Ciencias en Ciencias Computacionales (2000), Instituto
                                                Tecnológico de Nogales. <br>
                                                 Lic. en Informática (1986), Instituto Tecnológico de Hermosillo. <br>
                                                 Perfil deseable PRODEP. <br>
                                                 Líder de la Línea de Investigación de Sistemas Inteligentes <br>
                                                 Líder del Cuerpo Académico: Inteligencia Computacional y Aprendizaje
                                                Automático. <br>
                                                 Intereses: Sistemas Inteligentes; Análisis Inteligente de datos,
                                                Sistemas para la Toma de Decisión. <br>
                                                 Contacto: maria.sernae@hermosillo.tecnm.mx, (662) 2606500, ext. 136.

                                            </td>
                                        </tr>
                                        <tr class="col-md-12">
                                            <td class="col-md-9">
                                                <b>Dra. Rosalía del Carmen Gutiérrez Urquídez</b><br>

                                                  Doctor en Ciencias en Ciencias de la Ingeniería (2016), Instituto
                                                Tecnológico de Tijuana. <br>
                                                 Maestro en Ciencias en Ciencias de la Computación (2007), Instituto
                                                Tecnológico de Hermosillo. <br>
                                                 Ingeniero en Comunicaciones y Electrónica (1998), Instituto
                                                Politécnico Nacional. <br>
                                                 Miembro de la línea: Electrónica Industrial. <br>
                                                 Intereses: Redes de sensores, comunicaciones inalámbricas, algoritmos
                                                de control, algoritmos evolutivos. <br>
                                                Contacto: rosalia. gutierrezu@hermosillo.tecnm.mx, (662) 2606500, ext.
                                                235.

                                            </td>
                                        </tr>
                                        <tr class="col-md-12">
                                            <td class="col-md-9">
                                                <b>M.C. Rafael Armando Galaz Bustamante</b><br>

                                                 Maestro en Ciencias en Ciencias de la Computación (2001), Instituto
                                                Tecnológico de Nogales. <br>
                                                 Ingeniero Industrial en Electrónica (1998), Instituto Tecnológico de
                                                Hermosillo. <br>
                                                 Perfil Deseable PRODEP. <br>
                                                 Miembro de la línea: Sistemas Inteligentes. <br>
                                                 Miembro del Cuerpo Académico: Automatización y Electrónica Industrial
                                                (Consolidado). <br>
                                                 Intereses: Robótica, Bioingeniería. <br>
                                                Contacto: rafael.galazb@hermosillo.tecnm.mx, (662) 2606500, ext. 234

                                            </td>
                                        </tr>

                                        <tr class="col-md-12">
                                            <!-- <td class="col-md-3"> </td>
                                                          <td class="col-md-9">
                                                              <b>M.C. César Enrique Rose Gómez</b><br>
                                                              
                                                              *Maestro en Ciencias de la Computación, (1997), New Mexico State University, USA.<br>
                                                              *Maestro en Ciencias en Ingeniería Electrónica (1990), Instituto Tecnológico de Chihuahua.<br>
                                                              *Ingeniería Industrial en Electrónica (1979), Instituto Tecnológico de Chihuahua.<br>
                                                              *Perfil deseable PRODEP.<br>
                                                              *Miembro del Cuerpo Académico: Inteligencia Computacional y Aprendizaje Automático.<br>
                                                              *Intereses: Sistemas Inteligentes; Sistemas Basados en Conocimiento; Bases de Datos.<br>
                                                              *Contacto: cesar.roseg@hermosillo.tecnm.mx, (662) 2606500, ext. 136.
              
              
              
                                                          </td>
                                                      </tr> -->
                                        <tr class="col-md-12">
                                            <td class="col-md-9">

                                                <b>M.C.C. Francisco Gabriel Ibarra Lemas</b><br>
                                                * Maestro en Ciencias en Ciencias Computacionales (2006) Instituto
                                                Tecnológico de Hermosillo. <br>
                                                 Ingeniería en Sistemas Computacionales (1985), Instituto Tecnológico y
                                                de Estudios Superiores Campus Monterrey. (ITESUM) <br>
                                                 Perfil deseable PRODEP. <br>
                                                 Miembro del Cuerpo Académico: Ingeniería de Software <br>
                                                 Intereses: Telecomunicaciones y manejo de servidores, Desarrollo de
                                                Software, Telefonía, Voz IP, Datos. <br>
                                                Contacto: francisco.ibarral@hermosillo.tecnm.mx
                                                (662) 2606500, ext. 136.

                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container col-md-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#mnabp">Profesores de
                                        tiempo parcial</a>
                                </h4>
                            </div>
                            <div id="mnabp" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-bordered">



                                        <tr class="col-md-12">
                                            <td class="col-md-9">

                                                <b>M.C. Hazael Gómez Encinas</b><br>
                                                *Maestro en Ciencias de la Computación (2011), Instituto Tecnológico de
                                                Hermosillo.<br>
                                                *Ingeniería en Sistemas Computacionales (2002), Instituto Tecnológico de
                                                Hermosillo.<br>
                                                *Intereses: Aplicaciones Móviles; Inteligencia Artificial,
                                                Automatización en la Web.<br>
                                                *Contacto: hazael.gomeze@hermosillo.tecnm.mx, (662) 2606500, ext. 136.

                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                   <app-navbar2></app-navbar2>
                </div>
                <div class="col-md-12 img-responsive text-center" style="margin-top:20px;">
                    <img
                        src="https://conahcyt.mx/wp-content/uploads/2021/10/logo_conacyt_con_sintagma_azul_completo.svg">
                </div>


            </div>
        </div>



        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>