<div class="row">
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h1 class="tnota"> </h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 80px;">
            <h1 class="tnota">Código de Conducta del Tecnológico Nacional de México </h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 150px;">
            <a href="../documentos/M00-CC-01_Codigo_de_Conducta_del_TecNM.pdf">Código de Conducta del TECNM</a><br>
            <a href="../documentos/Pronunciamiento Cero Tolerancia al Hostigamiento y Acoso Sexual en el TecNM.pdf">Pronunciamiento
                de cero tolerancia al hostigamiento sexual y al acoso sexual en el TECNM</a><br>
            <a href="../documentos/ANEXO 1 Protocolo HSyAS.pdf">PROTOCOLO para la prevención, atención y sanción del
                hostigamiento sexual y acoso sexual.</a><br>
            <a href="../documentos/SFP-CE-2019_Código_de_Ética.pdf">ACUERDO por el que se emite el Código de Ética de las
                personas servidoras públicas del Gobierno Federal.</a><br>
        </div>
        <div class="col-md-12" style="display: none;">
            <div class="col-md-12">
                <h3>Galeria:</h3>
            </div>
            <div class="col-md-12">
                <!-- Least Gallery -->
                <section id="least">

                    <!-- Least Gallery: Fullscreen Preview -->
                    <div class="least-preview"></div>

                    <!-- Least Gallery: Thumbnails -->
                    <ul class="least-gallery">
                        <!-- 1 || Element with data-caption ||-->
                        <li>
                            <a href="../imagenes/Mov Col ITH (2).jpeg" title=" ">
                                <img src="imagenes/Mov Col ITH (2).jpeg" class="img-responsive" alt="Alt Image Text" />
                            </a>
                        <li>
                        <li>
                            <a href="../imagenes/Mov Col ITH (3).jpeg" title=" ">
                                <img src="imagenes/Mov Col ITH (3).jpeg" class="img-responsive" alt="Alt Image Text" />
                            </a>
                        <li>
                        <li>
                            <a href="../imagenes/Mov Col ITH (4).jpeg" title=" ">
                                <img src="imagenes/Mov Col ITH (4).jpeg" class="img-responsive" alt="Alt Image Text" />
                            </a>
                        <li>
                    </ul>
                </section>
            </div>
        </div>

        <!-----------------script galerias------------------->
        <script src="FotoGaleria/js/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- least.js library -->
        <script src="FotoGaleria/js/libs/least/least.min.js"></script>

        <script>
            $(document).ready(function () {
                $('.least-gallery').least();
            });
        </script>

        <!-- &&& START CODE &&& ONLY FOR PERSONAL USE: PLEASE DON'T EMBED THIS CODE INTO YOUR PAGE -->
        <script>
            /* Google Analytics */
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-16040332-11', 'leastjs.com');
            ga('set', 'anonymizeIp', true);
            ga('send', 'pageview');
        </script>


        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>