<div class="navbar-container ">
    <nav class="navbar top-navbar navbar-default">
        <div class="container-fluid">
            <!-- Botón para menú móvil TOP -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#topNavCollapse" aria-expanded="false">
                    <span class="sr-only">Mostrar menú</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Menú colapsable/responsivo TOP -->
            <div class="collapse navbar-collapse" id="topNavCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            Transparencia <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/codigo-de-conducta.html">Código de Ética</a></li>
                            <li><a href="/U079.html">U079</a></li>
                            <li><a href="/SGIG.html">Sistema de Gestión de Igualdad de Género y No
                                    Discriminación</a>
                            </li>
                            <li><a href="/documentos/INFORME%20DE%20RENDICION%20DE%20CUENTAS%202023-ITH.pdf">Rendición
                                    de Cuentas</a></li>
                            <li><a href="#informes">Informes</a></li>
                            <li><a href="#normatividad">Normatividad</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            Aviso de Privacidad <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/documentos/OFICIO 662 Aviso de privacidad-1.pdf">Simplificado</a></li>
                            <li><a href="/documentos/AVISO_PRIVACIDAD_TECNM_2025_INTEGRAL.pdf">Integral</a></li>
                            <li><a routerLink="/privacidad/info">Infografía</a></li>
                        </ul>
                    </li>
                    <li><a href="/Obituario.html">Publicaciones</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            Alumnos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/documentos/Reglamento_de_Estudiantes_del_TecNM.pdf">Reglamento</a></li>
                            <li><a href="https://www.facebook.com/groups/426759764077538/">Becas</a></li>
                            <li><a routerLink="/comunidad/residencias">Residencias</a></li>
                            <li><a href="/serviciosocial/">Servicio Social</a></li>
                            <li><a href="/documentos/REGLAMENTO CI.pdf" target="_blank">Reglamento Biblioteca</a>
                            </li>
                            <li><a routerLink="/comunidad/titulacion">Titulación</a></li>
                            <li><a href="/Coordinación-de-Lenguas-Extranjeras.html" target="_blank">Coordinación de
                                    Lenguas Extranjeras</a></li>
                            <li><a href="/moodle/">Moodle</a></li>
                            <li><a routerLink="/comunidad/alumnos/egresados">Egresados</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            Académicos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="documentos/Directorio TecNMIT_Hermosillo.pdf">Directorio</a>
                            </li>
                            <li><a href="http://hermosillo.tecnm.mx/documentos/COORDINADORES 2022.pdf"
                                    target="_blank">Coordinadores</a></li>
                        </ul>
                    </li>
                    <li><a href="#ayuda">AYUDA</a></li>
                    <li><a href="#correo">CORREO</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>  