 <div class="col-md-12">
                                    <ul class="nav nav-pills nav-stacked">
                                    <li class="active"><a routerLink="/oferta-educativa/Maestria-Admin">Inicio</a></li>
                                    <li><a target="_blank" href="/../documentos/Listado aspirantes aceptados MA 2024-1.pdf">Listado aspirantes aceptados MA 2024-1</a></li>
                                    <!-- <li><a target="_blank" href="coloquio-madmin.html">Coloquio de la Maestría en Administración</a></li> -->
                                    <li><a routerLink="/oferta-educativa/Objetivos">objetivos</a></li>
                                    <li><a href="plandeestudios.html">Plan de Estudios</a></li>
                                    <li><a href="perfildeegreso.html">perfil de ingreso y egreso</a></li>
                                    <li><a href="Inversion.html">Inversión</a></li>
                                    <li><a href="Productividad.html">Productividad</a></li>
                                    <li><a href="nucleoacademico.html">Núcleo Academico Básico</a></li>
                                    <li><a href="aplicaciondeconocimientos.html">Aplicación de Conocimientos</a></li>
                                    <li><a href="alumnosmatriculados.html">Estudiantes Matriculados</a></li>
                                    <!-- <li><a href="contacto.html">Contacto</a></li> -->
                                    <li><a href="convocatorias.html">Convocatorias</a></li>
                                  </ul>
                                </div>