<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota">MAESTRÍA EN ADMINISTRACIÓN <br> NÚCLEO ACADÉMICO BÁSICO</h2>
        </div>

        <div class="col-md-12">
            <div class="col-md-9">
                <div class="container col-md-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#mnab">Miembros
                                        del Núcleo Académico Básico</a>
                                </h4>
                            </div>
                            <div id="mnab">
                                <div class="gestion-talento-container">
                                    <h1 class="gestion-talento-titulo">Gestión del Talento Humano</h1>

                                    <div class="tabla-container">
                                        <h1 class="tabla-titulo">Dra. Martha Estela Díaz Muro</h1>

                                        <table class="tabla">
                                            <tr>
                                                <td><strong>Correo Electrónico:</strong></td>
                                                <td><a
                                                        href="mailto:martha.diazm&#64;hermosillo.tecnm.mx">martha.diazm&#64;hermosillo.tecnm.mx</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Teléfono:</strong></td>
                                                <td>(662) 2606500 ext 136</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Posdoctorado:</strong></td>
                                                <td>Prácticas de Recursos Humanos Innovación y Cultura Organizacional,
                                                    Colegio de la Frontera Norte
                                                    (2013)</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Doctorado:</strong></td>
                                                <td>Doctorado en Ciencias en Desarrollo Regional y Tecnológico,
                                                    Instituto Tecnológico de Oaxaca (2010)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Maestría:</strong></td>
                                                <td>Maestra en Ciencias en Administración (2002), Instituto Tecnológico
                                                    de Tijuana</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Licenciatura:</strong></td>
                                                <td>Licenciada en Psicología (1985), Escuela Libre de Psicología AC</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Perfil deseable:</strong></td>
                                                <td>PRODEP</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Líder de línea:</strong></td>
                                                <td>Gestión de Talento Humano en la Maestría de Administración ITH</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Líder del Cuerpo Académico:</strong></td>
                                                <td>Gestión de Talento Humano</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Miembro de:</strong></td>
                                                <td>Red de Investigación en Economía Social y Solidaria (RIESS)</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Intereses:</strong></td>
                                                <td>Gestión del Talento Humano, Factores de Riesgos Psicosociales,
                                                    Estudios de Capacidades Tecnológicas
                                                </td>
                                            </tr>

                                            <tr>

                                        </table>

                                        <div class="tabla-container">
                                            <h1 class="tabla-titulo">M.A. Martha Cecilia Terán Contreras</h1>

                                            <table class="tabla">
                                                <tr>
                                                    <td><strong>Correo Electrónico:</strong></td>
                                                    <td><a
                                                            href="mailto:martha.teranc&#64;hermosillo.tecnm.mx">martha.teranc&#64;hermosillo.tecnm.mx</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Teléfono:</strong></td>
                                                    <td>(662) 2606500, ext. 136</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Maestría:</strong></td>
                                                    <td>Maestra en Administración (2014), Instituto Tecnológico de
                                                        Hermosillo</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Licenciatura:</strong></td>
                                                    <td>Licenciada en Relaciones Comerciales (1995), Instituto
                                                        Tecnológico de Hermosillo</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Líder de línea de investigación:</strong></td>
                                                    <td>Gestión de Talento Humano en la Maestría de Administración ITH
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Perfil Deseable:</strong></td>
                                                    <td>PRODEP</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Cuerpo Académico:</strong></td>
                                                    <td>Miembro del Cuerpo Académico grado En Consolidación: Gestión de
                                                        Talento Humano</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Miembro de:</strong></td>
                                                    <td>Red de Investigación en Economía Social y Solidaria (RIESS)</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Intereses:</strong></td>
                                                    <td>Gestión de Talento Humano, Mercadotecnia, Relaciones
                                                        Industriales, Administración del Recurso
                                                        Humano</td>
                                                </tr>
                                            </table>
                                        </div>

                                        <div class="tabla-container">
                                            <h1 class="tabla-titulo">M.A.N. Ivonne Esmeralda Lizárraga Coronado</h1>

                                            <table class="tabla">
                                                <tr>
                                                    <td><strong>Correo Electrónico:</strong></td>
                                                    <td><a
                                                            href="mailto:ivonne.lizarragac&#64;hermosillo.tecnm.mx">ivonne.lizarragac&#64;hermosillo.tecnm.mx</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Teléfono:</strong></td>
                                                    <td>(662) 2606500, ext. 136</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Maestría:</strong></td>
                                                    <td>Maestra en Administración (2015), Universidad Interamericana
                                                        para el Desarrollo</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Licenciatura:</strong></td>
                                                    <td>Licenciada en Relaciones Comerciales (1995), Instituto
                                                        Tecnológico de Hermosillo</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Líder de línea de investigación:</strong></td>
                                                    <td>Gestión de Talento Humano en la Maestría de Administración ITH
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Cuerpo Académico:</strong></td>
                                                    <td>Líder del Cuerpo Académico: Administración del Capital Humano
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Miembro de:</strong></td>
                                                    <td>Red de Investigación de Economía Social y Solidaria (RIEES)</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Reconocimiento:</strong></td>
                                                    <td>Reconocimiento a PTC con Perfil Deseable (PRODEP)</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Certificación:</strong></td>
                                                    <td>Auditor Líder de la NMX-R-025-SCFI-2015</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Intereses:</strong></td>
                                                    <td>Gestión de Talento Humano, Liderazgo, Trabajo en Equipo,
                                                        Comportamiento Organizacional</td>
                                                </tr>
                                            </table>
                                        </div>

                                        <div class="tabla-container">
                                            <h1 class="tabla-titulo">M.C.O. Ana Silvia López Millán</h1>

                                            <table class="tabla">
                                                <tr>
                                                    <td><strong>Correo Electrónico:</strong></td>
                                                    <td><a
                                                            href="mailto:ana.lopezm&#64;hermosillo.tecnm.mx">ana.lopezm&#64;hermosillo.tecnm.mx</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Teléfono:</strong></td>
                                                    <td>(662) 2606500, ext. 136</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Maestría:</strong></td>
                                                    <td>Maestra en Competitividad Organizacional en la Universidad del
                                                        Valle de México</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Licenciatura:</strong></td>
                                                    <td>Licenciada en Ciencias de la Comunicación por la Universidad de
                                                        Sonora</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Líder de línea de investigación:</strong></td>
                                                    <td>Integrante de la Línea de Gestión de Talento Humano</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Cuerpo Académico:</strong></td>
                                                    <td>Integrante del Cuerpo Académico Administración del Capital
                                                        Humano</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Intereses:</strong></td>
                                                    <td>Talento Humano, Cultura Organizacional, Relevo Generacional en
                                                        el liderazgo de las
                                                        organizaciones, Comunicación</td>
                                                </tr>
                                            </table>
                                        </div>

                                        <h1 class="tabla-titulo">Dirección Estratégica</h1>

                                        <div class="tabla-container">
                                            <h1 class="tabla-titulo">M.C.O. Rosa Irene Sánchez Fermín</h1>

                                            <table class="tabla">
                                                <tr>
                                                    <td><strong>Correo Electrónico:</strong></td>
                                                    <td><a
                                                            href="mailto:rosa.sanchezf&#64;hermosillo.tecnm.mx">rosa.sanchezf&#64;hermosillo.tecnm.mx</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Teléfono:</strong></td>
                                                    <td>(662) 2606500, ext. 136</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Candidato a Doctorado:</strong></td>
                                                    <td>Integración Económica, Universidad de Sonora</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Doctorado:</strong></td>
                                                    <td>Doctorado en Educación (2023)</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Maestría:</strong></td>
                                                    <td>Maestra en Competitividad Organizacional (2011), Universidad del
                                                        Valle de México</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Licenciatura:</strong></td>
                                                    <td>Licenciada en Economía (2006), Universidad de Sonora</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Líder de línea de investigación:</strong></td>
                                                    <td>Dirección Estratégica en la Maestría de Administración ITH</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Cuerpo Académico:</strong></td>
                                                    <td>Miembro del Cuerpo Académico: Optimización de Procesos
                                                        Industriales</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Miembro de:</strong></td>
                                                    <td>Red de Investigación de Economía Social y Solidaria (RIESS)</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Intereses:</strong></td>
                                                    <td>Competitividad, Productividad e Innovación y Desarrollo
                                                        Empresarial, Planeación Estratégica en
                                                        las Empresas, Procesos Empresariales</td>
                                                </tr>
                                            </table>
                                        </div>


                                        <div class="tabla-container">
                                            <h1 class="tabla-titulo">M.C.E. Carmen Adolfo Rivera Castillo</h1>

                                            <table class="tabla">
                                                <tr>
                                                    <td><strong>Correo Electrónico:</strong></td>
                                                    <td><a
                                                            href="mailto:carmen.riverac&#64;hermosillo.tecnm.mx">carmen.riverac&#64;hermosillo.tecnm.mx</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Teléfono:</strong></td>
                                                    <td>(662) 2606500, ext. 136</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Maestría:</strong></td>
                                                    <td>Maestro en Comercio Exterior (1984), Universidad Autónoma de
                                                        Tamaulipas</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Licenciatura:</strong></td>
                                                    <td>Licenciado en Administración de Empresas (1982), Instituto
                                                        Tecnológico de Los Mochis</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Líder de línea de investigación:</strong></td>
                                                    <td>Dirección Estratégica y Gestión del Talento Humano en la
                                                        Maestría de Administración ITH</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Cuerpo Académico:</strong></td>
                                                    <td>Miembro del Cuerpo Académico grado en Consolidación: Gestión de
                                                        Talento Humano</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Reconocimiento:</strong></td>
                                                    <td>Reconocimiento a Perfil Deseable (PRODEP)</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Miembro de:</strong></td>
                                                    <td>Red de Investigación en Economía Social y Solidaria (RIESS)</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Intereses:</strong></td>
                                                    <td>Tráfico Internacional de Mercancías, Mercadotecnia y Aduanas,
                                                        Dirección Estratégica y Gestión
                                                        del Capital Humano</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="tabla-container">
                                            <h1 class="tabla-titulo">Dr. Francisco Octavio López Millán</h1>

                                            <table class="tabla">
                                                <tr>
                                                    <td><strong>Correo Electrónico:</strong></td>
                                                    <td><a
                                                            href="mailto:francisco.lopezm&#64;hermosillo.tecnm.mx">francisco.lopezm&#64;hermosillo.tecnm.mx</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Teléfono:</strong></td>
                                                    <td>(662) 2606500, ext. 136</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Ingeniería:</strong></td>
                                                    <td>Ingeniero Industrial en Producción (1986), Instituto Tecnológico
                                                        de Nogales</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Maestría y Doctorado:</strong></td>
                                                    <td>Maestría y Doctorado en Ciencias en Ingeniería Industrial (1987,
                                                        2013), Instituto Tecnológico de
                                                        Cd. Juárez</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Expresidente:</strong></td>
                                                    <td>Sociedad de Ergonomistas de México A.C. (2014-2017)</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Cuerpo Académico:</strong></td>
                                                    <td>Cuerpo Académico de Ergonomía y Biomecánica</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Reconocimiento:</strong></td>
                                                    <td>Reconocimiento al Mérito Académico por ANFEI (2015)</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Perfil:</strong></td>
                                                    <td>Perfil deseable PRODEP</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Intereses:</strong></td>
                                                    <td>Gestión del Talento Humano en el Sistema de Producción Toyota,
                                                        Ergonomía Social</td>
                                                </tr>
                                            </table>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <app-navbar></app-navbar>
                </div>


            </div>
        </div>



        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>