<div class="row">
    <div class="col-md-12">
        <!------CONTENIDO-------->

        <div class="col-md-12">
            <h2 class="tnota">RESIDENCIAS</h2>
        </div>


        <div class="col-md-12">
            <h2>RESIDENCIA PROFESIONAL</h2><br><br>
            <p>
            </p>
            <strong>MANUAL DE LINEAMIENTOS ACADEMICO ADMINISTRATIVOS DEL TECNOLÓGICO NACIONAL DE MÉXICO.</strong>
            <br><br>
            <strong>(PLANES DE ESTUDIO PARA LA FORMACIÓN Y DESARROLLO DE COMPETENCIAS 2015)</strong>
            <br><br>
            <strong>CAPITULO 12. LINEAMIENTO PARA LA OPERACIÓN Y ACREDITACIÓN DE LA RESIDENCIA PROFESIONAL.</strong>
            <br><br>
            La Residencia Profesional es una estrategia educativa de carácter curricular, que permita al estudiante
            emprender un proyecto teórico-práctico, analítico, reflexivo, crítico y profesional; con el propósito de
            resolver un problema específico de la realidad social y productiva, para fortalecer y aplicar sus
            competencias profesionales.
            <br><br>
            Para ti que vas a cursar RESIDENCIAS en el próximo semestre, es importante que cumplas con los siguientes
            requisitos:
            <br><br>
            a) Tener acreditado el Servicio Social.
            <br>
            b) Tener acreditado las actividades complementarias.
            <br>
            c) Tener aprobado al menos el 80% de créditos de su plan de estudio.
            <br>
            d) No contar con ninguna asignatura en condición de “Curso Especial”
            <br><br>
            El valor curricular para la residencia profesional es de 10 créditos, y su duración queda determinada por un
            período de 4 meses como tiempo mínimo y 6 meses como tiempo máximo, debiendo acumularse un mínimo de 500
            horas.
            <br><br>
            <h3> <strong>¿QUÉ TIENES QUE HACER PARA INICIAR RESIDENCIAS PARA EL PRÓXIMO SEMESTRE?</strong></h3>

            <br><br>
            1. Asistir a la Plática de Inducción en la fecha publicada en el calendario escolar de cada semestre en la
            página web del Instituto.
            <br><br>
            2. La asignación de proyectos de residencias profesionales para los candidatos a residentes será gestionada
            por la Coordinación de Residencias Profesionales de cada Departamento Académico, por cualquiera de los
            siguientes mecanismos:
            <br><br>
            <ul style="list-style: none;">
                <li>
                    a) A través de su selección en un banco de proyectos de residencias profesionales relativos a su
                    carrera o interdisciplinarios, integradores o de educación dual.
                </li>
                <li>
                    b) Que el estudiante proponga su tema de forma directa a su Coordinador de Residencias Profesionales
                    para que sea avalado por la Academia y autorizado por el (la) Jefe (a) del Departamento Académico.
                </li>
                <li>
                    c) Que el estudiante presente a su Coordinador de Residencias Profesionales su situación como
                    trabajador de alguna empresa, organismo o dependencia para que sea avalado por la Academia y
                    autorizado por el (la) Jefe (a) de Departamento Académico.
                </li>
            </ul>
            <br><br>
            3. Cuando el estudiante realiza su residencia, debe reinscribirse al Instituto Tecnológico optando por las
            siguientes cargas académicas:
            <br><br>
            <ul style="list-style: none;">
                <li>
                    a) Exclusiva de la residencia profesional si se realiza a tiempo completo.
                </li>
                <li>
                    b) Carga especial que el Jefe de la División de Estudios Profesionales, pondrá a disposición de la
                    aprobación de Comité Académico, tomando en cuenta el historial académico del alumno, que demuestre
                    si puede atender adecuadamente sus actividades académicas sin descuidar su desempeño en la
                    residencia y cumplir a tiempo con la elaboración del reporte final.
                </li>
                <li>
                    c) Cuando el estudiante realice la Residencia Profesional en el extranjero y cumpla los requisitos y
                    lineamientos académicos y de los convenios de colaboración establecidos entre las Instituciones
                    involucradas. Cuyo convenio será gestionado a través del departamento de vinculación.
                </li>
            </ul>
            <br><br>
            4. Una vez asignado el proyecto de residencia profesional el estudiante deberá sustentar la entrevista con
            su asesor interno y externo, para que con base en el proyecto se determine el horario definitivo de
            actividades, y una vez autorizado el reporte preliminar por el asesor interno, (Formato
            <strong>ITH-AC-PO-007-04</strong>), <a href="https://hermosillo.tecnm.mx/iso.html">click aquí </a> el
            estudiante se dirigirá al departamento de gestión tecnológica y vinculación, a registrar su proyecto
            preliminar en el sistema de control de residencias profesionales (Siscrep), <a
                href="https://www.gestiontecnologica.hermosillo.tecnm.mx/siscrep/sistema/index.php">click aquí</a>
            generando el formato para la solicitud de residencias profesionales, cumpliendo los siguientes requisitos:
            <br><br>
            <ul style="list-style: none;">
                <li>
                    o Credencial vigente
                </li>
                <li>
                    o Reporte preliminar autorizado por el coordinador de residencias profesionales.
                </li>
                <li>
                    o Una vez requisitada la solicitud, se genera la carta de presentación y agradecimiento dirigida a
                    la empresa, respaldando la vinculación y convenio de colaboración existente o la generación del
                    mismo.
                </li>
            </ul>
            <br><br>
            5. El Departamento de Gestión Tecnológica y Vinculación te entregará la Carta de Presentación y
            Agradecimiento dirigida a la Empresa, la cual deberás presentar en ésta, para ser firmada y sellada de
            recibido, y entonces integrarla en el expediente.
            <br><br>
            6. Entregar a tu coordinador de residencias tu expediente, el cual debe contener lo siguiente:
            <br><br>
            <ul style="list-style: none;">
                <li>
                    a) Solicitud (3 tantos o según lo indique tu coordinador de residencias).
                </li>
                <li>
                    b) Carta de Presentación y Agradecimiento con firma y sello de recibido de la empresa (2 tantos).
                </li>
                <li>
                    c) Proyecto preliminar (2 tantos).
                </li>
                <li>
                    d) Carta de Aceptación de la empresa en papel membretado correspondiente con firma y sello, (1
                    tanto).
                </li>
            </ul>
            <br><br>
            <h3>
                <strong>NOTA 1: </strong>
            </h3>
            La asignación de proyectos de residencias profesionales se debe realizar en periodos previos a la elección
            de la carga académica, e integrar su expediente máximo dos semanas de iniciado el ciclo escolar, antes de
            iniciar el periodo escolar y sólo podrá autorizarse en periodos intermedios si:
            <br><br>
            <ul style="list-style: none;">
                <li>
                    a) El Instituto Tecnológico no contaba con una oferta suficiente para cubrir la demanda de los
                    alumnos y la carga académica no afecta el desempeño del alumno.
                </li>
                <li>
                    b) Existe una empresa, organismo o dependencia que demanda la participación de un residente, y este
                    disponga de tiempo suficiente para no afectar su desempeño y se cuenta con asesor interno disponible
                    que tenga las competencias profesionales acordes al proyecto que se le asigne para atender la
                    demanda.
                </li>
            </ul>
            <br><br>
            <h3>
                <strong>NOTA 2: </strong>Ningún proyecto es válido para iniciar si no ha sido autorizado por la academia
                y con asesor asignado.
            </h3>
            <br><br>
            <h3>
                <strong>
                    ¿QUÉ TIENES QUE HACER DURANTE EL DESARROLLO DE LAS RESIDENCIAS PROFESIONALES?
                </strong>
            </h3>
            <br><br>
            7.- El Departamento Académico al cual estés adscrito, realizara la asignación oficial de asesor interno, el
            cual mantendrá un contacto efectivo y constante con el asesor interno durante la ejecución del proyecto.
            <br><br>
            8.- Atender las recomendaciones de tu asesor interno y asesor externo, los cuales darán seguimiento a tu
            proyecto durante el tiempo que duren las Residencias, debiendo registrar y evaluar las asesorías en el
            Formato mensual de evaluación y seguimiento de Residencial Profesional (ITH-AC-PO-007-06) y el Formato de
            evaluación de Reporte Final de Residencia profesional. (ITH-AC-PO-007-08) <a
                href="https://hermosillo.tecnm.mx/iso.html">click aquí </a>
            <br><br>
            9.- El residente puede solicitar la cancelación o reasignación de otro proyecto de Residencia Profesional a
            la División de Estudios Profesionales únicamente cuando por circunstancias especiales tales como: huelgas,
            bancarrota, cierre de empresa, organismo o dependencia, cambio de políticas empresariales o cualquier otra
            causa plenamente justificada, y que no sea imputable al residente. El asesor interno comunicará al
            coordinador de residencias del Departamento Académico la cancelación de la residencia profesional; para que
            este a su vez, lo comunique a través de oficio a la División de Estudios Profesionales con copia al
            Departamento de Gestión Tecnológica y Vinculación, así como al Departamento de Servicios Escolares. En esta
            segunda asignación el alumno deberá mantener las mismas condiciones académicas que cualquier residente.
            <br><br>
            10.- El residente dispondrá de 15 días naturales como tiempo máximo a partir de la fecha en que concluyó las
            actividades de la Residencia Profesional, para presentar su reporte final a la Coordinación de Residencias.
            (ANEXO ITH-AC-PO-007-07 Estructura del Reporte Final). <a href="https://hermosillo.tecnm.mx/iso.html">click
                aquí</a>
            <br><br>
            <h3>
                <strong>NOTA3: </strong> Si el Residente no se comunica con su asesor interno por un periodo de dos
                meses, se le dará de baja en las Residencias.
            </h3>
            <br><br>
            <h3>
                <strong>¿QUÉ TIENES QUE HACER AL CONCLUIR EL DESARROLLO DE LAS RESIDENCIAS PROFESIONALES?</strong>
            </h3>
            <br><br>
            11.- Se considerará que una residencia ha concluido cuando el residente entregue a la Coordinación de
            Residencias la siguiente documentación:
            <br><br>
            <ul style="list-style: none;">
                <li>
                    a) Entrega del Reporte Final de Residencias Profesional en formato digital al Departamento
                    Académico. (FORMATO ITH-AC-PO-007-07)
                </li>
                <li>
                    b) Formato mensual de evaluación y seguimiento de Residencia Profesional (FORMATO ITH-AC-PO-007-06)
                </li>
                <li>
                    c) Formato de Evaluación de Reporte Final de Residencia Profesional (FORMATO ITH-AC-PO-007-08) <a
                        href="https://hermosillo.tecnm.mx/iso.html">click aquí</a>
                </li>
                <li>
                    d) Encuesta de opinión del empleador (CACEI-Entregada por tu coordinador de Residencias de tu
                    carrera)
                </li>
            </ul>
            <br><br>
            La asignación de la calificación final de la residencia la realizará el asesor interno y el asesor externo
            en el Formato de Evaluación de Reporte Final de Residencia Profesional (ITH-AC-PO-007-08) siendo el
            coordinador de residencias profesionales de cada departamento académico el encargado de concentrar y
            entregar el total de actas de los residentes aprobados, al Departamento de Servicios Escolares el cual se
            encargara de registrar la calificación correspondiente.
            <br><br>
            <h3>
                <strong>NOTA 4: </strong>
                No se registra calificación en el sistema hasta que se haya cumplido con la entrega de los documentos
                del paso 11.
            </h3>
            <br><br>
            <strong>
                Nota importante: Para darte una mejor atención en cada una de las etapas de tu Residencia Profesional,
                completa correctamente todos y cada uno de los Requisitos y cumple puntualmente con las fechas límites
                de entrega.
            </strong>
            <br><br>
            <strong>
                LA COMUNICACIÓN CON TU COORDINADOR DE RESIDENCIAS, ES DE GRAN IMPORTANCIA PARA LA CULMINACION DE TU
                PROCESO.
            </strong>
            <br><br>
            <strong>
                <h3>
                    ATENCIÓN:
                </h3>
            </strong>
            <br><br>
            <strong>La plática de inducción de residencias se realizará el día 21 de mayo a las 11 y 17 hrs. en el
                teatro auditorio.</strong>
            <br><br>

            <br><br>

            <!------------------------------------>
            <!--------END CONTENIDO-->
        </div>
    </div>
</div>