<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota">INGENIERIA EN AERONÁUTICA</h2>
        </div>

        <div class="col-md-12">
            <!-- Tab panes -->

            <section>
                <div>
                    <div>
                        <div class="col-menu-carrera">
                            <app-navbar-carrera></app-navbar-carrera>
                            <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                            <!-- <script>
                                    $(function () {
                                        $(".col-menu-carrera").load("menu-carrera.html");
                                    });
                                </script> -->
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane  in active" id="home">
                                <h3 class="head text-center text-warning col-md-9">Bienvenidos</h3>
                                <div class="col-md-12">
                                    <div class="col-md-9">
                                        <p class="narrow" style="text-align: center;width: 100%;">
                                            <b> Objetivo General</b><br><br>
                                            Formar profesionistas de la Ingeniería Aeronáutica, con una base
                                            científica, tecnológica y humanística, capaces de diseñar, evaluar,
                                            gestionar y desarrollar procesos de manufactura y componentes; así
                                            como operar, mantener y administrar sistemas aeronáuticos, con los
                                            índices de seguridad y confiabilidad establecidos en las
                                            regulaciones aeronáuticas vigentes, bajo un enfoque sustentable.
                                            <br><br>
                                        </p>
                                    </div>
                                    <div class="col-md-3" style="text-align: center;">
                                        <img src="imagenes/Thumb-triptico-Aeronautica.png">
                                        <a class="text-warning" style="font-weight: bold;" target="_blank"
                                            href="imagenes/Aeronautica-ITH-TecNM-Campus-Hermosillo-triptico-2020.png">Descarga
                                            el tríptico informativo</a>
                                    </div>
                                </div>


                            </div>
                            <div class="tab-pane " id="perfil">
                                <h3 class="head text-center text-warning">Perfiles </h3>
                                <p class="narrow">
                                    <b>Perfil de Egreso</b><br><br>
                                    1. Comprende y aplica las legislaciones, regulaciones y normas
                                    nacionales e internacionales vigentes, para mantener las
                                    condiciones de aeronavegabilidad de las aeronaves.<br>
                                    2. Identifica y conoce el funcionamiento de sistemas, subsistemas,
                                    componentes y diversas partes que conforman las aeronaves.<br>
                                    3. Utiliza herramientas computacionales para análisis, diseño o
                                    simulación de sistemas, componentes y dispositivos aplicados en la
                                    industria aeronáutica.<br>
                                    4. Implementa y administra los programas de mantenimiento de
                                    sistemas, subsistemas y componentes de las aeronaves para
                                    garantizar su óptima operación.<br>
                                    5. Evalúa el comportamiento y desempeño de sistemas, subsistemas,
                                    componentes, partes y materiales para la industria aeronáutica a
                                    través de equipo especializado de laboratorio interno y externo.<br>
                                    6. Diseña e implementa procesos de manufactura para productos y
                                    componentes aeronáuticos que cumplan con las regulaciones de
                                    calidad vigentes.<br>
                                    7. Analiza y evalúa la factibilidad técnica, económica y de
                                    sustentabilidad para proyectos de inversión en el área aeronáutica.


                                </p>
                            </div>
                            <div class="tab-pane " id="materias">
                                <h3 class="head text-center text-warning">Materias</h3>
                                <p>
                                    <b>Reticula </b>
                                    <br><br>
                                <div class="panel panel-default col-md-12 col-xs-12 col-sm-12">
                                    <div class="panel-heading col-md-12 col-md-sm-12 col-xs-12 text-center">
                                        <div class="text-success">
                                            <b>INGENIERIA AERONÁUTICA<br />
                                                ESPECIALIDAD: DISEÑO E INNOVACIÓN EN PROCESOS TECNOLÓGICOS </b>
                                        </div>
                                    </div>
                                    <div class="panel-body col-md-12 col-md-sm-12 col-xs-12 table-responsive">

                                        <table class="table table-bordered table-responsive text-center">
                                            <tbody>
                                                <tr class="text-info">
                                                    <td>
                                                        Semestre 1</td>
                                                    <td>
                                                        Semestre 2</td>
                                                    <td>
                                                        Semestre 3</td>
                                                    <td>
                                                        Semestre 4</td>
                                                    <td>
                                                        Semestre 5</td>
                                                    <td>
                                                        Semestre 6</td>
                                                    <td>
                                                        Semestre 7</td>
                                                    <td>
                                                        Semestre 8</td>
                                                    <td>
                                                        Semestre 9</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-danger materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 1/AC001 Calculo Diferencial.pdf"
                                                            target="_blank"> Cálculo <br>Diferencial<br>ACF-0901
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-warning materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 2/AC002 Calculo Integral.pdf"
                                                            target="_blank"> Cálculo <br>Integral<br>ACF-0902
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 3/AC004 Calculo Vectorial.pdf"
                                                            target="_blank"> Cálculo <br>Vectorial<br>ACF-0904</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-success materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 3/AC005 Ecuaciones Diferenciales.pdf"
                                                            target="_blank"> Ecuaciones
                                                            <br>Diferenciales<br>ACF-0905</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-default materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 4/IARO-2013-239 Fundamentos de Electricidad y Electronica.pdf"
                                                            target="_blank">Fundamentos de<br>
                                                            Electricidad y<br> Electrónica<br>AOF-1310</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-danger materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 6/IARO-2013-239 Analisis de Vibraciones.pdf"
                                                            target="_blank"> Analisis de
                                                            <br>Vibraciones<br>AOF-1303</a>

                                                    </td>
                                                    <td>
                                                        <a class="btn btn-warning materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 7/IARO-2013-239 Sistemas de Aeronaves.pdf"
                                                            target="_blank"> Sistemas de<br>
                                                            Aeronaves<br>AOC-1322</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 8/IARO-2013-239 Avionica.pdf"
                                                            target="_blank">Aviónica<br>AOC-1304</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-success materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 9/IPD-2105 DESARROLLO DE PROYECTOS EN INDUSTRIA AERONAUTICA.pdf">
                                                            Desarrollo <br>De Proyectos<br> En Industria <br>
                                                            Aeronáutica<br> AEO-2105</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-danger materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 1/IARO-2013-239 Desarrollo Humano.pdf"
                                                            target="_blank">Desarrollo <br>Humano<br>AOO-1306</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-warning materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 2/AE093 Metrologia y Normalizacion.pdf"
                                                            target="_blank"> Metrologia y<br>
                                                            Normalización<br>AEH-1393</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 3/IARO-2013-239 Estatica.pdf"
                                                            target="_blank"> Estatica<br>AOD-1308</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-success materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 4/IARO-2013-239 Mecanica de Materiales I.pdf"
                                                            target="_blank"> Mecanica de<br>
                                                            Materiales I<br>AOF-1317</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-default materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 5/IARO-2013-239 Mecanica de Materiales II.pdf"
                                                            target="_blank">Mecanica de <br>Materiales
                                                            II<br>AOC-1318</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-danger materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 6/IARO-2013-239 Diseño de Elementos Mecanicos en Aeronautica.pdf"
                                                            target="_blank">Diseño de <br>Elementos
                                                            <br>Mecanicos en <br>Aeronautica<br>AOF-1307</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-warning materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 6/IARO-2013-239 Operaciones Aeronauticas.pdf"
                                                            target="_blank">Operaciones <br>Aeronáuticas<br>
                                                            AOF-1320</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 8/AE089 Desarrollo y Evaluacion de Proyectos.pdf"
                                                            target="_blank">Desarrollo y <br>Evaluación
                                                            de<br> Proyectos<br>AEO-1389</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-success materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 9/IPD-2106 ANALISIS, PROSPECTIVA Y SUSTENTABILIDAD ENERGETICA.pdf"
                                                            target="_blank">Análisis y <br>Prospectiva
                                                            Y Sustentebilidad <br>AEO-2106</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-danger materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 1/AE058 Quimica.pdf"
                                                            target="_blank"> Quimica<br>AEC-1058</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-warning materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 2/AE051 Probabilidad y Estadistica.pdf"
                                                            target="_blank"> Probabilidad y
                                                            <br>Estadistica<br>AEE-1051</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 3/AE092 Gestion de Costos.pdf"
                                                            target="_blank"> Gestión de<br> Costos<br>AEC-1392</a>
                                                    </td>

                                                    <td>
                                                        <a class="btn btn-success materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 4/IARO-2013-239 Mecanica de Fluidos.pdf"
                                                            target="_blank"> Mecanica de <br>Fluidos<br>AOF-1316
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-default materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 5/IARO-2013-239 Aerodinamica.pdf"
                                                            target="_blank">Aerodinámica<br>
                                                            AOF-1302</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-danger materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 7/IARO-2013-239 Mecanica de Vuelo.pdf"
                                                            target="_blank"> Mecanica de <br>Vuelo<br>
                                                            AOF-1319</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-warning materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 7/IARO-2013-239 Estructuras Aeronauticas.pdf"
                                                            target="_blank">Estructuras <br>Aeronauticas<br>AOF-1309
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 8/AC008 Desarrollo Sustentable.pdf"
                                                            target="_blank"> Desarrollo
                                                            <br>Sustentable<br>ACF-0908</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-success materias" href="#"
                                                            target="_blank">Residencia <br>
                                                            Profesional</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-danger materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 1/AE087 Comunicacion Humana.pdf"
                                                            target="_blank"> Comunicación <br>Humana<br>AEQ-1387</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-warning materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 2/IARO-2013-239 Legislacion Aeronautica.pdf"
                                                            target="_blank">Legislación
                                                            <br>Aeronautica<br>AOF-1313</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 3/AE020 Electromagnetismo.pdf"
                                                            target="_blank"> Electromagnetismo<br>AEF-1020
                                                        </a>
                                                    </td>
                                                    <td><a class="btn btn-success materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 4/AE091 Dinamica.pdf"
                                                            target="_blank"> Dinámica<br>AED-1391</a>

                                                    </td>
                                                    <td>
                                                        <a class="btn btn-default materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 5/IARO-2013-239 Procesos de Fabricacion.pdf"
                                                            target="_blank">Procesos de<br>
                                                            Fabricación<br>AOD-1321</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-danger materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 6/IARO-2013-239 Manufactura Avanzada en Aeronautica.pdf"
                                                            target="_blank"> Manufactura <br>Avanzada
                                                            en <br>Aeronautica<br>AOD-1314</a>

                                                    </td>
                                                    <td>
                                                        <a class="btn btn-warning materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 7/IARO-2013-239 Helicopteros.pdf"
                                                            target="_blank">Helicopteros<br>AOF-1311
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 8/IARO-2013-239 Avionica.pdf"
                                                            target="_blank">Análisis Estructural De Elementos
                                                            <br>IPF–2102</a>
                                                    </td>
                                                    <td>
                                                        &nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-danger materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 1/AC007 Taller de Etica.pdf"
                                                            target="_blank"> Taller de<br> Etica<br>ACA-0907</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-warning materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 2/IARO-2013-239 Ingenieria de Materiales.pdf"
                                                            target="_blank">Ingenieria de<br>
                                                            Materiales<br>AOF-1312</a>
                                                    </td>
                                                    <td>

                                                        <a class="btn btn-info materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 4/IARO-2013-239 Materiales Aeronauticos.pdf"
                                                            target="_blank">Materiales
                                                            <br>Aeronauticos<br>AOF-1315</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-success materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 5/IARO-2013-239 Administracion del Mantenimiento de Aeronaves.pdf"
                                                            target="_blank"> Administración del<br>
                                                            Mantenimiento de<br> Aeronaves<br>AOD-1301</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-default materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 5/IARO-2013-239 Transferencia de Calor.pdf"
                                                            target="_blank">Transferencia de
                                                            <br>Calor<br>AOL-1326</a>
                                                    </td>
                                                    <td><a class="btn btn-danger materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 6/IARO-2013-239 Sistemas de Propulsion.pdf"
                                                            target="_blank"> Sistemas de<br>
                                                            Propulsión<br>AOF-1324</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-warning materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 7/IARO-2013-239 CAE Aplicado a la Aeronautica.pdf"
                                                            target="_blank"> CAE Aplicado<br> a la
                                                            Aeronautica<br>AOC-1305</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 8/IPF-2104  PROCESOS ESPECIALES.pdf"></a>
                                                        <a class="btn btn-info materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 8/IPF-2104  PROCESOS ESPECIALES.pdf"
                                                            target="_blank">Procesos Especiales <br>IPF–2104</a>


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-danger materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 1/AC006 Fundamentos de Investigacion.pdf"
                                                            target="_blank"> Fundamentos de
                                                            <br>Investigación<br>ACC-0906</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-warning materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 2/AE090 Dibujo Electromecanico.pdf"
                                                            target="_blank"> Dibujo
                                                            <br>Electromecanico<br>AEF-1390</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 3/IARO-2013-239 Termodinamica.pdf"
                                                            target="_blank">Termodinamica<br>AOL-1325</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-success materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 4/IARO-2013-239 Sistemas de Calidad en Aeronautica.pdf"
                                                            target="_blank">Sistemas de <br>Calidad
                                                            en <br>Aeronautica<br>AOH-1323</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-default materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 5/AC009 Taller de Investigacion I.pdf"
                                                            target="_blank"> Taller de <br>Investigación
                                                            I<br>ACA-0909</a>
                                                    </td>
                                                    <td>

                                                        <a class="btn btn-danger materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 6/AC010 Taller de Investigacion II.pdf"
                                                            target="_blank"> Taller de<br>
                                                            Investigación II<br>ACA-0910</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-warning materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 7/IPD-2021 AUTOMATIZACION.pdf"
                                                            target="_blank">Automatización <br><br>
                                                            IPD–2101</a>

                                                    <td>
                                                        <a class="btn btn-info materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 8/IPF-2103 ENERGÍA Y PROPULSIÓN.pdf"></a>
                                                        <a class="btn btn-info materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 8/IPF-2103 ENERGÍA Y PROPULSIÓN.pdf"
                                                            target="_blank">Energia Y Propulsion <br>IPF–2103</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-danger materias" href="#">
                                                            Tutorias I</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-warning materias" href="#">Tutorias
                                                            II</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info materias" href="#">Actividad
                                                            <br>Complementaria 4</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-success materias" href="#">Actividad
                                                            <br>Complementaria 5</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-default materias" href="#" target="_blank">
                                                            Actividades<br>
                                                            Complementarias</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-danger materias" href="#" target="_blank">
                                                            Servicio<br> Social</a>
                                                    </td>
                                                    <td>
                                                        &nbsp;</td>
                                                    <td>
                                                        <a class="btn btn-info materias" href="#"></a>
                                                    <td>
                                                        <a class="btn btn-info materias"
                                                            href="documentos/reticulas/aeronautica/SEMESTRE 8/AE088 Desarrollo Profesional.pdf"
                                                            target="_blank">Desarrollo Profesional <br>IPF–1388</a>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <a class="btn btn-danger materias" href="#">
                                                            Extraescolar I</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-warning materias" href="#">Extraescolar
                                                            II</a>
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        &nbsp;</td>
                                                    <td>
                                                        &nbsp;</td>
                                                    <td>
                                                        &nbsp;</td>
                                                    <td>
                                                        &nbsp;</td>
                                                    <td>
                                                        &nbsp;</td>
                                                    <td>
                                                        &nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>


                                        <div class="col-md-12">
                                            <a href="/documentos/reticulas/aeronautica/RETICULA INGENIERIA AERONAUTICA ESP-IARE-IPT-2021-01.pdf"
                                                target="_blank">Descargar Reticula</a>
                                        </div>
                                        <p style="text-align: center;"><b>Objetivo</b></p>
                                        <br>
                                        <p>Formar el capital humano con técnicas, herramientas matemáticas y
                                            computacionales, métodos experimentales y competencias para diseñar,
                                            desarrollar, innovar y emprender en el sector aeronáutico bajo un marco
                                            de calidad, ético y normativo.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="directorio">
                                <h3 class="head text-center text-warning">Directorio</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <table class="table table-striped">
                                            <tr class="active">
                                                <td><b>Nombre:</b> MTRO. AARON CORDOVA SUAREZ</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Email:</b> metalmecanica@hermosillo.tecnm.mx</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Puesto:</b> Jefe del Departamento de Metal Mecánica</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Teléfono:</b> (662) 26065.00 ext. 143</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-striped">
                                            <tr class="active">
                                                <td><b>Nombre:</b> MARCIA ALEJANDRA MORALES RIVERA</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Email:</b> marcia.moralesr@hermosillo.tecnm.mx</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Puesto:</b> Secretaria del Departamento de Metal Mecánica
                                                </td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Teléfono:</b> (662) 26065.00 ext. 145</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-striped">
                                            <tr class="active">
                                                <td><b>Nombre:</b> M.C. LUIS IGNACIO LOMELI GALAZ</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Email:</b> coordinacion.aeronautica@hermosillo.tecnm.mx</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Puesto:</b> Coordinador de la carrera de Ing. Aeronáutica
                                                </td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Teléfono:</b> (662) 260.6500 ext. 186</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Facebook:</b> coord aeronáutica ith</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-striped">
                                            <tr class="active">
                                                <td><b>Nombre:</b> Ing. LUIS RODOLFO IBARRA REYNA</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Email:</b> luis.ibarrar@hermosillo.tecnm.mx</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Puesto:</b> Presidente de Academia</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-striped">
                                            <tr class="active">
                                                <td><b>Nombre:</b> M.C. DENISSE ARGENTINA OROZCO ATONDO</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Email:</b> denisse.orozcoa@hermosillo.tecnm.mx</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Puesto:</b> Secretario de Academia</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <h2 class="text-center">Planta Docente</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <table class="table table-striped">
                                            <tr class="active">
                                                <td><b>Nombre:</b> DR. FERNANDO JAVIER CARRASCO GUIGÓN</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Email:</b> fernando.carrascog@hermosillo.tecnm.mx</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Puesto:</b> Profesor</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-striped">
                                            <tr class="active">
                                                <td><b>Nombre:</b> ING. SERGIO TADEO LEYVA FÍMBRES</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Email:</b> sergio.leyvaf@hermosillo.tecnm.mx</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Puesto:</b> Profesor</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-striped">
                                            <div class="col-md-6">
                                                <table class="table table-striped">
                                                    <tr class="active">
                                                        <td><b>Nombre:</b> M.C. JOSÉ LUIS MARTÍNEZ MONTAÑO</td>
                                                    </tr>
                                                    <tr class="active">
                                                        <td><b>Email:</b> jose.martinezm@hermosillo.tecnm.mx</td>
                                                    </tr>
                                                    <tr class="active">
                                                        <td><b>Puesto:</b> Profesor</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <tr class="active">
                                                <td><b>Nombre:</b> ING. REY DAVID MENDEZ ORNELAS</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Email:</b> rey.mendezo@hermosillo.tecnm.mx</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Puesto:</b> Profesor</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-striped">
                                            <tr class="active">
                                                <td><b>Nombre:</b> ING. JOSE LUIS MOLINA QUIJADA</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Email:</b> jl.molina@hermosillo.tecnm.mx</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Puesto:</b> Profesor</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-striped">
                                            <tr class="active">
                                                <td><b>Nombre:</b> DR. ARNOLDO NAVARRO URIBE</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Email:</b> jose.navarrou@hermosillo.tecnm.mx</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Puesto:</b> Profesor</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-striped">
                                            <tr class="active">
                                                <td><b>Nombre:</b> DR. ARNOLDO NAVARRO URIBE</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Email:</b> jose.navarrou@hermosillo.tecnm.mx</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Puesto:</b> Profesor</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-striped">
                                            <tr class="active">
                                                <td><b>Nombre:</b> DR. ARNOLDO NAVARRO URIBE</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Email:</b> jose.navarrou@hermosillo.tecnm.mx</td>
                                            </tr>
                                            <tr class="active">
                                                <td><b>Puesto:</b> Profesor</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-striped">
                                        <tr class="active">
                                            <td><b>Nombre:</b> ING. WENDLANDT HURTADO FCO JAVIER</td>
                                        </tr>
                                        <tr class="active">
                                            <td><b>Email:</b> francisco.wendlandth@hermosillo.tecnm.mx</td>
                                        </tr>
                                        <tr class="active">
                                            <td><b>Puesto:</b> Profesor</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-striped">
                                        <tr class="active">
                                            <td><b>Nombre:</b> ING. WENDLANDT HURTADO FCO JAVIER</td>
                                        </tr>
                                        <tr class="active">
                                            <td><b>Email:</b> francisco.wendlandth@hermosillo.tecnm.mx</td>
                                        </tr>
                                        <tr class="active">
                                            <td><b>Puesto:</b> Profesor</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane " id="contacto">
                                <h3 class="head text-center text-warning">Contacto</h3>
                                <p class="narrow text-center">
                                    Nombre: Aarón Córdova Suárez<br>
                                    Puesto: Jefe del Departamento de Metal Mecánica<br>
                                    Email: metalmecanica@hermosillo.tecnm.mx<br>
                                    Teléfono: (662) 26065.00 ext. 143<br><br>
                                    Nombre: Luis Ignacio Lomelí Galaz <br>
                                    Puesto: Coordinador de Ingeniería Aeronáutica<br>
                                    Email: coordinacion.aeronautica@hermosillo.tecnm.mx<br>
                                    Teléfono: (662) 26065.00 ext. 180<br>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
            </section>