<div class="row">
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h1 class="tnota">
            </h1>
        </div>
        <div class="col-md-12">
            <div style="align-items: center;">
                <img src="../imagenes/Banner promocion docente 2021-1.png" class="img-responsive" style="max-width:100%;">
            </div>
        </div>
        <div class="col-md-12">
            <p>
                <br><br>

                <br>
                <label id="fecha-noticia" style="float:right"></label>
                <br><br>
                Al personal docente a participar por cancelación-creación de plazas 2021, con base en la normatividad
                vigente aplicable a los Institutos Tecnológicos federales adscritos al Tecnológico Nacional de México.
                <br><br>
                Se entiende por promoción, el ascenso del personal docente al nivel o categoría inmediata superior,
                respecto de la que tenga asignada a la fecha en que sea promovido.
                <br><br>
                Se adjuntan los documentos del Programa de Promoción Docente 2021:
                <br><br>
                <a target="_blank" href="../documentos/Convocatoria_al_Proceso_Promocion_Docente_2021.pdf">1. Convocatoria
                    Proceso de Promoción Docente 2021.</a>
                <br><br>
                <a target="_blank"
                    href="../documentos/Documento_del_Proceso_de_Promocion_para_el_Persomal_Docente_de_los_ITs_2021.pdf">2.
                    Documento del Proceso de Promoción Docente 2021.</a>
                <br><br>
                <a target="_blank"
                    href="../documentos/Formatos_de_Solicitud_para_Evaluacion_de_Promocion_Docente_2021.xlsx">3. Formatos
                    de solicitud para la Evaluación del Programa de Promoción Docente 2021.</a>
                <br><br>
                Para dar cumplimiento al proceso de revisión y evaluación documental de quienes participan en el
                Programa de Promoción Docente 2021, favor de enviar el expediente completo al correo electrónico
                rh_hermosillo@tecnm.mx para turnarlo a la Comisión Dictaminadora Docente.
                <br><br>
                Por su atención, muchas gracias
                <strong>Departamento de Recursos Humanos.</strong>
                <br><br>
            </p>
        </div>
        <div class="col-md-12" style="display: none;">
            <div class="col-md-12">
                <h3>Galeria:</h3>
            </div>
            <div class="col-md-12">
                <!-- Least Gallery -->
                <section id="least">

                    <!-- Least Gallery: Fullscreen Preview -->
                    <div class="least-preview"></div>

                    <!-- Least Gallery: Thumbnails -->
                    <ul class="least-gallery">
                        <!-- 1 || Element with data-caption ||-->
                        <li>
                            <a href="../imagenes/Clausura-3a-semana intersemestrales-TecNM-Hermosillo-2021-(2).jpeg"
                                title=" ">
                                <img src="../imagenes/Clausura-3a-semana intersemestrales-TecNM-Hermosillo-2021-(2).jpeg"
                                    class="img-responsive" alt="Alt Image Text" />
                            </a>
                        <li>
                        <li>
                            <a href="../imagenes/Clausura-3a-semana intersemestrales-TecNM-Hermosillo-2021-(3).jpeg"
                                title=" ">
                                <img src="../imagenes/Clausura-3a-semana intersemestrales-TecNM-Hermosillo-2021-(3).jpeg"
                                    class="img-responsive" alt="Alt Image Text" />
                            </a>
                        <li>
                        <li>
                            <a href="../imagenes/Clausura-3a-semana intersemestrales-TecNM-Hermosillo-2021-(4).jpeg"
                                title=" ">
                                <img src="../imagenes/Clausura-3a-semana intersemestrales-TecNM-Hermosillo-2021-(4).jpeg"
                                    class="img-responsive" alt="Alt Image Text" />
                            </a>
                        <li>
                    </ul>
                </section>
            </div>
        </div>

        <!-----------------script galerias------------------->
        <script src="FotoGaleria/js/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- least.js library -->
        <script src="FotoGaleria/js/libs/least/least.min.js"></script>

        <script>
            $(document).ready(function () {
                $('.least-gallery').least();
            });
        </script>

        <!-- &&& START CODE &&& ONLY FOR PERSONAL USE: PLEASE DON'T EMBED THIS CODE INTO YOUR PAGE -->
        <script>
            /* Google Analytics */
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-16040332-11', 'leastjs.com');
            ga('set', 'anonymizeIp', true);
            ga('send', 'pageview');
        </script>


        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>