<ul class="nav nav-pills nav-stacked">
    <li class="active"><a routerLink="/oferta-educativa//Maestria-II">Inicio</a></li>
    <li><a target="_blank" href="/../documentos/Listado aspirantes aceptados MII 2024-1.pdf">Listado aspirantes
            aceptados MII 2024-1</a></li>
    <li><a routerLink="/oferta-educativa//Maestria-II-convocatorias">Convocatorias</a></li>
    <li><a routerLink="/oferta-educativa//Maestria-II-objetivo">objetivos</a></li>
    <li><a routerLink="/oferta-educativa//Maestria-II-plan">Plan de Estudios</a></li>
    <li><a routerLink="/oferta-educativa//Maestria-II-perfil">Perfil de Ingreso</a></li>
    <li><a routerLink="/oferta-educativa//Maestria-II-inversion">Inversión</a></li>
    <!-- <li><a href="aplicaciondeconocimientos.html">Aplicación de Conocimientos</a></li> -->
    <li><a routerLink="/oferta-educativa//Maestria-II-nucleo">Núcleo Academico Básico</a></li>
    <li><a routerLink="/oferta-educativa//Maestria-II-estudiantes">Estudiantes Matriculados</a></li>
    <li><a routerLink="/oferta-educativa//Maestria-II-productividad">Productividad Académica</a></li>
    <li><a routerLink="/oferta-educativa//Maestria-II-actividad">Actividades de retribucion social y
            divulgacion</a></li>
    <li><a href="https://www.dof.gob.mx/nota_detalle.php?codigo=5698698&fecha=16/08/2023#gsc.tab=0">Reglamento de becas
            CONAHCyT.</a></li>
    <li><a
            href="../../documentos/LINEAMIENTOS PARA LA OPERACION DEL POSGRADO DEL TECNOLOOGICO NACIONAL DE MEXICO 2023 -1-1.pdf">Línea
            Lineamientos de Posgrado TecNM:</a></li>
    <li><a href="https://rinacional.tecnm.mx/">Repositorio institucional.</a></li>
    <li><a routerLink="/oferta-educativa//Maestria-II-contacto">Contacto</a></li>
</ul>