<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota">MAESTRÍA EN INGENIERÍA INDUSTRIAL <br> PRODUCTIVIDAD ACADÉMICA</h2>
        </div>

        <div class="col-md-12">
            <div class="col-md-9">
                <div class="col-md-12">
                    <p>
                        Productos académicos obtenidos donde los integrantes del <span class="text-info">NAB</span> se
                        encuentran de color <span class="text-info">AZUL</span>, los <span
                            class="text-danger">estudiantes</span> en color <span
                            class="text-danger">ROJO</span>.<br><br>

                    </p>
                </div>
                <div class="container col-md-12">

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#g2017">
                                    </a>
                                </h4>
                            </div>
                            <div id="g2017" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    L. A. Gamez Davila , G. Meza Partida, E. J. De La Vega Bustillos Y F. O. Lopez
                                    Millan, «Valoración de la disminución Del Desempeño En Actividades Laborales,»
                                    Avances de Investigación en Ingeniería en el Estado de Sonora, Vol. 4, Nº 1, Pp.
                                    336-339, 2018. ISSN: 24487473.
                                    <br>
                                    E. J. De La Vega Bustillos, F. O. Lopez Millan, K. P. Lucero Duarte Y G. Meza
                                    Partida, «Characterization Of Musculoskeletal Disorders In The Manufacturing
                                    Industry In Northwest Of México,» International Journal Of Engineering Research &
                                    Science, Vol. 2, Nº 2, Pp. 140- 143, 2016. ISSN: 23956992.


                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#g2016">
                                    </a>
                                </h4>
                            </div>
                            <div id="g2016" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    J. A. Aguilar Angulo, G. Meza Partida Y E. J. De La Vega Bustillos, «Análisis Del
                                    Desempeño De Tres Tipos De Colocación De La Muñeca Durante El Tecleo En
                                    Computadora.,» Avances de Investigación en Ingeniería en el Estado de Sonora, Vol.
                                    3, Nº 1, Pp. 274-279, 2017. ISSN: 24487473.
                                    <br>
                                    E. J. De La Vega Bustillos, C. E. Moreno Molina Y G. Ruiz Dominguez, «Lanzamiento
                                    Del Nuevo Producto Cemd En La Empresa Asmd,» Avances de Investigación en Ingeniería
                                    en el Estado de Sonora, Vol. 3, Nº 1, Pp. 280-286, 2017: ISSN 24487473.


                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#g2018">
                                    </a>
                                </h4>
                            </div>
                            <div id="g2018" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <b>Artículos de revista indexados en el JCR </b>
                                    <br><br>
                                    A continuación, se anexan las listas de productos académicos obtenidos en el periodo
                                    2016-19, de las LGACs donde los integrantes del <strong>NAB</strong> se encuentran
                                    de color <strong>NEGRO</strong>, los
                                    <label class="text-danger">estudiantes</label> en color <label
                                        class="text-danger">ROJO</label>, los <label class="text-info">graduados</label>
                                    en color <label class="text-info">AZUL</label> y el personal <label
                                        class="text-success">externo</label> en color <label
                                        class="text-success">VERDE</label>VERDE.

                                    <br><br>

                                    [1] <label class="text-danger">J. A. AGUILAR ANGULO</label> , G. MEZA PARTIDA y E.
                                    J. DE LA VEGA BUSTILLOS, «Análisis del Desempeño de Tres Tipos de Colocación de la
                                    Muñeca Durante el Tecleo en Computadora.,» AVANCES DE INVESTIGACION EN INGENIERIA EN
                                    EL ESTADO DE SONORA, vol. 3, nº 1, pp.
                                    274-279, 2017. ISSN: 24487473.
                                    <br>
                                    [2] E. J. DE LA VEGA BUSTILLOS, <label class="text-danger">C. E. MORENO MOLINA y G.
                                        RUIZ DOMINGUEZ</label>, «Lanzamiento del Nuevo Producto CEMD en la Empresa
                                    ASMD,» AVANCES DE INVESTIGACION EN INGENIERIA EN EL ESTADO DE SONORA, vol. 3, nº 1,
                                    pp. 280-286, 2017: ISSN 24487473.<br>
                                    [3] <label class="text-danger">L. A. GAMEZ DAVILA</label> , G. MEZA PARTIDA, E. J.
                                    DE LA VEGA BUSTILLOS y F. O. LOPEZ MILLAN,
                                    «VALORACION DE LA DISMINUCION DEL DESEMPEÑO EN ACTIVIDADES LABORALES,»
                                    AVANCES DE INVESTIGACION EN INGENIERIA EN EL ESTADO DE SONORA, vol. 4, nº 1, pp.
                                    336-339, 2018. ISSN: 24487473.
                                    <br>
                                    [4] E. J. DE LA VEGA BUSTILLOS, F. O. LOPEZ MILLAN, K. P. LUCERO DUARTE y G. MEZA
                                    PARTIDA,
                                    «Characterization of Musculoskeletal Disorders in the manufacturing industry in
                                    northwest of México,» International Journal of Engineering Research & Science, vol.
                                    2, nº 2, pp. 140-
                                    143, 2016. ISSN: 23956992.
                                    <br>
                                    [5] <label class="text-danger">L. L. RUEDAFLORES ARVIZU</label> y E. J. DE LA VEGA
                                    BUSTILLOS, «Diseño de una herramienta de software para evaluación de riesgos
                                    ergonómicos,» AVANCES DE INVESTIGACION EN INGENIERIA EN EL ESTADO DE SONORA, vol. 5,
                                    nº 1, pp. 165-168, 2019. ISSN: 24487473.<br>
                                    [6] E. J. DE LA VEGA BUSTILLOS y <label class="text-info">D. VASQUEZ GOMEZ</label>,
                                    «FACTORES DE RIESGO ERGONOMICO OCASIONADOS POR MANEJO MANUAL DE MATERIALES EN
                                    OPERACIONES LOGISTICA EN LA,» AVANCES DE INVESTIGACION EN INGENIERIA EN EL ESTADO DE
                                    SONOR, vol. 5, nº 1, pp. 61-
                                    66, 2019: ISSN: 24487473.<br>
                                    [7] <label class="text-danger">J. RIVERA ALVIZURI</label> , M. E. DIAZ MURO, E. J.
                                    LOPEZ MILLAN y E. DE LA VEGA BUSTILLOS,
                                    «Identificación de factores psicosociales que ocasionan el síndrome del burnout en
                                    call centers,» AVANCES DE INVESTIGACION EN INGENIERIA EN EL ESTADO DE SONORA, vol.
                                    5, nº
                                    1, pp. 216-219, 2019. ISSN:24487473.
                                    <br>
                                    [8] <label class="text-danger">J. A. Espinoza Balderrama</label> , M. E. Diaz Muro,
                                    F. O. Lopez Millan y E. J. de la Vega Bustillos,
                                    «Evaluación de desempeño laboral considerando factores psicosociales para
                                    supervisores de mando medio en el sector automotriz,» AVANCES DE INVESTIGACION EN
                                    INGENIERIA EN EL ESTADO DE SONOR, vol. 5, nº 1, pp. 193-196, 2019. ISSN: 24487473.
                                    <br>
                                    [9] <label class="text-danger">D. INZUNZA INZUNZA</label>, G. ORRANTIA DANIEL, E. J.
                                    DE LA VEGA BUSTILLOS, G. RUIZ DOMINGUEZ y R. U. RIVERA LANDAVERDE, «Estudio de las
                                    Jornadas Laborales de 12 horas en la Industria Manufacturera.,» AVANCES DE
                                    INVESTIGACION EN INGENIERIA EN EL ESTADO DE SONOR, vol. 5, nº 1, pp. 208-211, 2019:
                                    ISSN 24487473.
                                    <br>
                                    [10] <label class="text-danger">L. F. GOMEZ ANGULO</label>, O. V. ARELLANO TANORI,
                                    E. J. DE LA VEGA BUSTILLOS, C. A. PEREYDA PIERRE y F. O. LOPEZ MILLAN, «Diseño de
                                    equipo de evaluación ergonómica y biomecánica que mida esfuerzo muscular,» AVANCES
                                    DE INVESTIGACION EN INGENIERIA EN EL ESTADO DE SONORA, vol. 5, nº 1, pp. 185-188,
                                    2019. ISSN:24487473.
                                    <br>
                                    [11] <label class="text-danger">G. QUINTERO</label>, G. MEZA PARTIDA, E. J. DE LA
                                    VEGA BUSTILLOS y F. O. LOPEZ MILLAN,
                                    «PREVALENCIA DEL SINDROME DE BURNOUT EN EMPLEADOS INDIRECTOS DE UNA EMPRESA
                                    MANUFACTURERA EN HERMOSILLO, SONORA,» AVANCES DE INVESTIGACION EN INGENIERIA EN EL
                                    ESTADO DE SONORA, vol. 5, nº 1, pp. 181-184, 2019. ISSN: 24487473.
                                    <br>
                                    [12] <label class="text-danger">J. L. MARTINEZ MONTAÑO</label>, R. U. RIVERA
                                    LANDAVERDE, G. A. RUIZ DOMINGUEZ, ORRANTIA DANIEL y G. ORRANTIA DANIEL, «Propuesta
                                    de Metodología de Prototipado Virtual en el Diseño y Manufactura de Moldes para
                                    Inyección de Plásticos.,» AVANCES DE INVESTIGACION EN INGENIERIA EN EL ESTADO DE
                                    SONORA, vol. 4, nº 1, pp. 322-327, 2018. ISSN 24487473.
                                    <br>
                                    [13] <label class="text-danger">J. E. FELIX FELIX</label>, G. ORRANTIA DANIEL, G. A.
                                    RUIZ DOMINGUEZ, R. U. RIVERA LANDAVERDE y J. SANCHEZ LEAL, «Diseño de un Sistema de
                                    Medición y Control de la Productividad.,» AVANCES DE INVESTIGACION EN INGENIERIA EN
                                    EL ESTADO DE SONORA, vol. 4, nº 1, pp.
                                    328-335, 2018. ISBN 24487473.
                                    <br>
                                    [14] <label class="text-danger">D. QUINTERO RUBIO</label>, G. RUIZ DOMINGUEZ, R. U.
                                    RIVERA LANDAVERDE y G. ORRANTIA DANIEL, «Propuesta metodológica para mejorar un
                                    sistema de control en una máquina troqueladora,» AVANCES DE INVESTIGACION EN
                                    INGENIERIA EN EL ESTADO DE SONORA, vol.
                                    5, nº 1, pp. 216-219, 2019. ISBN 24487473.
                                    <br>
                                    [15] <label class="text-danger">A. LOPEZ VILLARREAL</label>, G. MEZA PARTIDA , O. V.
                                    ARELLANO TANORI y G. ORRANTIA DANIEL,
                                    «Propuesta Metodológica para Determinar un Método de Medición para el Desempeño de
                                    Proyectos No Predeterminados en las Agencias de Publicidad,» AVANCES DE
                                    INVESTIGACION EN INGENIERIA EN EL ESTADO DE SONORA, vol. 5, nº 1, pp. 240-242, 2019.
                                    ISBN 24487473.
                                    <br>
                                    [16] <label class="text-danger">O. ALCANTAR JATOMEA</label>, O. V. ARELLANO TANORI,
                                    E. J. DE LA VEGA BUSTILLOS y F. O. LOPEZ MILLAN, «Estudio y Análisis de Enfermedades
                                    Laborales en la Industria Sonorense en el periodo 2014 - 2016,» AVANCES DE
                                    INVESTIGACION EN INGENIERIA EN EL ESTADO DE SONORA, vol. 3, nº 1, pp. 303-309, 2017.
                                    ISSN: 24487473.
                                    <br>
                                    [17] <label class="text-success">E. CHAVEZ MENDIOLA</label>, <label
                                        class="text-success">M. C. ACOSTA-ENRÍQUEZ</label>, <label
                                        class="text-success">A. CARRILLO-CASTILLO</label>, O. ARELLANO TANORI, <label
                                        class="text-success">J. O. RIVERA-NIEBLAS</label> y S. J. CASTILLO, «PREPARATION
                                    OF THIN FILMS BISMUTH SULFIDE BY CHEMICAL BATH DEPOSITION TECHNIQUE, A SIMPLIFIED
                                    FORMULATION,» Chalcogenide Letters. JCR, vol. 15, nº 7, pp. 395-404, 2018. ISSN
                                    1584-8663.
                                    <br>
                                    [18] O. ARELLANO TANORI, <label class="text-success">E. CHÁVEZ-MENDIOLA, R.
                                        GÁMEZ-CORRALES, X. M. GARCÍA-CRUZ, K.
                                        APODACA-IBARRA y S. CASTILLO</label>, «OBTAINING NANO STRUCTURES OF COBALT
                                    TELLURIDE BY A SIMPLIFIED ION EXCHANGE REACTION AT AQUEOUS SOLUTION,» Chalcogenide
                                    Letters, vol.
                                    16, nº 2, pp. 57-61, 2019. ISSN 1584-8663.
                                    <br>
                                    [19] <label class="text-success">D. Sotelo Valencia</label>, C. A. Pereyda Pierre,
                                    <label class="text-success">F. Ramírez Torres, E. E. Montijo Valenzuela y A.
                                        Cerón Franco</label>, «Diseño y construcción de un prototipo de órtesis
                                    mecatrónica auxiliar en el proceso de rehabilitación de mano para pacientes que
                                    sufrieron una ECV,» AVANCE DE INVESTIGACION EN INGENIERIA EN EL ESTADO DE SONORA,
                                    vol. 5, nº 1, pp. 90-96, 2019. ISSN
                                    24487473.
                                    <br>
                                    [20] <label class="text-success">J. U. García Verdugo, J. M. Chávez, J. M. Tarín
                                        Fontes</label> y C. A. Pereyda Pierre, «Propuesta de mesa interactiva para
                                    producción de arneses para la industria aeroespacial,» AVANCES DE INVESTIGACION EN
                                    INGENIERIA EN EL ESTADO DE SONORA, vol. 4, nº 1, pp. 313-321, 2018. ISSN 24487473.
                                    <br>
                                    [21] <label class="text-success">H. Valencia Córdova, J. M. Chavez, J. M. Tarin
                                        Fontes</label> y C. Pereyda Pierre, «Sistema para dispositivo portátil
                                    inteligente para el cuidado de la salud enfocado al monitoreo de pulsos cardiacos,
                                    saturación de oxígeno y gasto energético.,» AVANCES EN INVESTIGACION EN INGENIERIA
                                    EN EL ESTADO DE DONORA, vol. 2, nº 1, pp. 10-18, 2016. ISSN 24487473.
                                    <br>
                                    [22] <label class="text-success">J. N. León Ortega, J. A. Hoyo Montaño, J. M. Tarin
                                        Fontes</label> y C. A. Pereyda Pierre, «Desarrollo de algoritmo de detección de
                                    firmas de consumo de potencia eléctrica para sistema de monitoreo de carga no
                                    invasivo basado en wavelet (ondoletas),» AVANCES DE INVESTIGACION EN INGENIERIA EN
                                    EL ESTADO DE SONORA, vol. 2, nº 1, pp. 305-311, 2016. ISSN 24487473.
                                    <br>
                                    [23] <label class="text-success">L. V. Pérez-Córdova</label>, C. A. Pereyda-Pierre,
                                    <label class="text-success">R. Gutiérrez Urquídez y J. A. Hoyo Montaño</label> ,
                                    «Sistema Electromédico/Móvil de Monitoreo Respiratorio Durante el Sueño para
                                    Detección de Riesgo de Apnea,» AVANCES DE INVESTIGACION EN INGENIERIA EN EL ESTADO
                                    DE SONORA, vol. 3, nº 1, pp. 176-183, 2017. ISSN 24487473.
                                    <br>
                                    [24] <label class="text-success">D. A. Duarte Moroyoqui, J. A. Hoyo Montaño, L. G.
                                        Valenzuela Segura</label> y C. A. Pereyda Pierre,
                                    «DISEÑO Y SIMULACIÓN DE SISTEMA ELECTRÓNICO DE BIOSENSOR PARA LA INDUSTRIA MÉDICA,»
                                    AVACIENT, vol. 5, nº 1, pp. 87-99, 2020. ISSN 2594018X.
                                    <br>
                                    [25] O. V. ARELLANO TANORI, <label class="text-success">E. B. ACOSTA ENRIQUEZ, R.
                                        CASTILLO ORTEGA, M. ACOSTA ENRIQUEZ, E. CHAVEZ-MENDIOLA, R. RAMOS-GARCÍA y S.
                                        CASTILLO</label>, «A VERSATILE METHOD TO OBTAIN NANO STRUCTURES OF CoSe FROM
                                    AQUEOUS SOLUTION,» Chalcogenide Letters, vol. 14, nº 3, pp. 107-111, 2017. ISSN
                                    1584-8663.
                                    <br>
                                    [26] <label class="text-success">D. Duarte-Moroyoqui</label>, C. Pereyda-Pierre,
                                    <label class="text-success">R. Gutiérrez-Urquídez y J. Hoyo-Montaño</label>,
                                    «Propuesta de Diseño y simulación de sistema electrónico de biosensor para la
                                    industria médica,» AVANCES DE INVESTIGACION EN INGENIERIA EN EL ESTADO DE SONORA,
                                    vol. 5, nº
                                    1, pp. 169-172, 2019. ISSN 24487473.
                                    <br>
                                    [27] G. A. RUIZ DOMINGUEZ, R. U. RIVERA LANDAVERDE, G. ORRANTIA DANIEL, M. D. J.
                                    TELLES MOROLLOQUI y <label class="text-danger">A. A. VALENZUELA MARTINEZ</label>,
                                    «Estudio de Esfuerzo y Deformación de Piezas de Impresión 3D,» Conciencia
                                    Tecnológica, vol. 1, nº 57, pp. 1-13, 2019. ISSN: 1405-5597.
                                    <br>
                                    [28] <label class="text-success">E. E. MONTIJO-VALENZUELA, F.
                                        RAMÍREZ-TORRES</label>, R. U. RIVERA-LANDAVERDE y F. J.
                                    <label class="text-success">RAMÍREZ-CORONEL</label>, «Diseño y monitoreo en tiempo
                                    real de un biodigestor, aplicado a las condiciones ambientales de Hermosillo,»
                                    Revista de Ingeniería Innovativa, vol. 3, nº 9, pp.
                                    19-33, 2019. ISSN 2523-6873.
                                    <br>
                                    [29] G. ORRANTIA DANIEL, <label class="text-success">J. SANCHEZ LEAL</label>, <label
                                        class="text-info">G. M. VAZQUEZ QUIJADA</label>, <label class="text-success">J.
                                        DE LA RIVA RODRIGUEZ y M. A. RODRIGUEZ MEDINA</label>, «Análisis de los tiempos
                                    de paro de producción en prensa de estampado.,» Avances de Investigación en
                                    Ingeniería en el Estado de Sonora, vol. 5, nº 1, pp.
                                    67-74, 2019: ISSN: 2448-7473.
                                    <br>
                                    [30] <label class="text-danger">J. E. FELIX FELIX</label>, G. ORRANTIA DANIEL, G. A.
                                    RUIZ DOMINGUEZ y R. U. RIVERA LANDAVERDE,
                                    «Diseño de un sistema de medición y control de la productividad.,» AVANCES DE
                                    INVESTIGACION EN INVESTIGACION EN EL ESTADO DE SONORA, vol. 5, nº 1, pp. 212-215,
                                    2019. ISSN 24487473.
                                    <br>
                                    [31] G. ORRANTIA DANIEL, <label class="text-success">J. SANCHEZ LEAL, J. DE LA RIVA
                                        RODRIGUEZ, M. RODRIGUEZ MEDINA y R. M. REYES MARTINEZ</label>, «PREDICCIÓN DEL
                                    NÚMERO DE PAROS DE PRODUCCIÓN EN LÍNEAS DE ENSAMBLE,» EPISTEMUS, vol. 1, nº 26, pp.
                                    29-35, 2019. ISSN: 2007-8196.
                                    <br>
                                    [32] R. U. Rivera Landaverde, G. Orrantia Daniel, G. A. Ruiz Domínguez y R. Acedo
                                    Ruiz,
                                    «EVALUACIÓN DE LA FATIGA EN TURNO COMPRIMIDO DE TRABAJO POBLACIÓN FEMENINA DE LA
                                    INDUSTRIA MAQUILADORA UTILIZANDO EL CUESTIONARIO DE YOSHITAKE,» THEOREMA, vol. 1, nº
                                    6, pp. 86-91, 2017.
                                    <br>
                                    [33] <label class="text-danger">G. M. VELAZQUEZ QUIJADA</label>, G. Orrantia-Daniel,
                                    G. A. Ruíz Domínguez y R. U. Rivera Landaverde, «Mejoramiento en la Efectividad
                                    Total del Equipo en Prensas por Medio de la Implementación de Controladores
                                    Lógicos,» AVANCES EN INVESTIGACION EN INGENIERIA EN EL ESTADO DE SONORA, vol. 3, nº
                                    1, pp. 433-439, 2017. ISSN 24487473.
                                    <br>
                                    [34] <label class="text-danger">Á. A. Valenzuela-Martínez</label> , R. U. Rivera
                                    Landaverde, G. A. Ruiz Dominguez y G. Orrantia Daniel, «Estudio de Pruebas Mecánicas
                                    a Productos Manufacturados por Técnicas de Adición (Impresion 3D),» AVANCES DE
                                    INVESTIGACION EN INGENIERIA EN EL ESTADO DE SONORA, vol. 3, nº 1, pp. 247-253, 2017.
                                    ISSN 24487473.
                                    <br>
                                    [35] <label class="text-danger">F. Valdez Rodriguez</label>, R. U. Rivera
                                    Landaverde, G. A. Ruiz Dominguez, G. Orrantia Daniel y F.
                                    Valdez Garcia., «Variabilidad de propiedades mecánicas según el tipo de pigmentación
                                    del material ABS.,» AVANCES DE INVESTIGACION EN INGENIERIA, vol. 5, nº 1, pp.
                                    236-239, 2019. ISSN 24487473.
                                    <br>
                                    [36] <label class="text-danger">P. G. RODRIGUEZ-MORALES</label>, F. O. LOPEZ MILLAN
                                    y G. A. RUIZ DOMINGUEZ, «Análisis del ciclo de vida del producto para la mejora en
                                    la administración e integración de los sistemas, procedimientos y procesos de
                                    producción en la empresa ATS.,» AVANCES DE INVESTIGACION EN INGENIERIA EN EL ESTADO
                                    DE SONORA, vol. 4, nº 1, pp. 260-267, 2018. ISSN 24487473.
                                    <br>
                                    [37] <label class="text-danger">G. JIMÉNEZ-GUTIÉRREZ</label>, G. A. RUIZ DOMINGUEZ,
                                    R. U. RIVERA LANDAVERDE y G. ORRANTIA DANIEL, «Propuesta de Arquitectura Física de
                                    Urna Electrónica,» AVANCES DE INVESTIGACION EN INGENIERIA EN EL ESTADO DE SONORA,
                                    vol. 3, nº 1, pp. 427-432, 2017.
                                    <br>
                                    [38] <label class="text-danger">J. Gerardo-Perezmoreno</label>, G. A.
                                    Ruiz-Domínguez, R. U. Rivera-Landaverde y G. Orrantia- Daniel, «Propuesta para el
                                    Diseño y Fabricación de Prototipo Extrusor de Filamentos para Manufactura Aditiva,»
                                    AVANCES DE INVESTIGACION EN INGENIERIA EN EL ESTADO DE SONORA, vol. 3, nº 1, pp.
                                    296-302, 2017. ISSN 24487473.
                                    <br>
                                    <b>CAPÍTULOS DE LIBRO </b>
                                    <br><br>

                                    [1] <label class="text-success">J. Vasquez Quiroga</label> , E. J. DE LA VEGA
                                    BUSTILLOS, <label class="text-success">J. R. GUZMAN HERNADEZ, J. M.
                                        Cadena Badilla y R. A. Vega Robles</label> , «STATE OF THE ART OF THE PROPOSAL
                                    OF A
                                    COMPREHENSIVE MODEL OF ERGONOMIC ASSESSMENT IN MICRO,» de
                                    ERGONOMIA OCUPACIONAL, INVESTIGACIONES Y APLICACIONES, VOL. 9, CD.
                                    JUAREZ, CHIHUAHUA, MEXICO, SOCIEDAD DE ERGONOMISTAS DE MEXICO, A.C.,
                                    2016. ISBN: 9780692669723, pp. 488-497.
                                    <br>
                                    [2] F. O. LOPEZ MILLAN, <label class="text-success">K. A. Flores Montaño</label> ,
                                    E. J. DE LA VEGA BUSTILLOS, <label class="text-success">F. TAPIA CARRILLO y G.
                                        MORALES ARANA</label>, «INTRODUCING MAC TOOL TO EVALUATE WEIGHT LIFTING TASKS,»
                                    de ERGONOMIA OCUPACIONAL, INVESTIGACIONES Y APLICACIONES, VOL. 9, CD. JUAREZ,
                                    CHIHUAHUA, MEXICO, SOCIEDAD DE ERGONOMISTAS DE MEXICO, A.C., 2016. ISBN:
                                    9780692669723, pp. 263-270.
                                    <br>
                                    [3] <label class="text-success">P. E. SORTILLON GONZALEZ</label> y E. J. DE LA VEGA
                                    BUSTILLOS, «STATIC BIOMECHANICAL MODELS FOR POSTURE ANALYSIS IN PAINTING, SCULPTING
                                    AND ENGRAVING TASKS,» de ERGONOMIA OCUPACIONAL. INVESTIGACIONES Y SOLUCIONES. VOL.
                                    10, CD. JUAREZ, CHIHUAHUA, MEXICO, SEMAC, 2017. ISBN:
                                    9780692881408, pp. 259-265.
                                    <br>
                                    [4] <label class="text-success">D. T. GAMIÑO ACEVEDO</label> , E. J. DE LA VEGA
                                    BUSTILLOS, <label class="text-success">A. CORONADO RIOS</label> y F. O.
                                    LOPEZ MILLAN, «EFFECT ON THE INSERTION OF PUSH PINS WITH FULLY
                                    THICKNESS USING PSYCHOPHYSICS METHODOLOGY,» de ERGONOMÍA OCUPACIONAL,
                                    INVESTIGACIONES Y SOLUCIONES, VOL. 10, CD. JUAREZ, CHIHUAHUA, MEXICO, SEMAC, 2017.
                                    ISBN:9780692881408, pp. 273-283.
                                    <br>
                                    [5] M. E. DIAZ MURO, F. O. LOPEZ MILLAN y E. J. DE LA VEGA BUSTILLOS,
                                    «INNOVACION Y PRACTICA ORGANIZACIONALES EN LA PLANTA DE ESTAMPADO Y ENSAMBLE DE LA
                                    INDUSTRIA AUTOMOTRIZ,» de INNOVACION Y PRACTICA
                                    ORGANIZACIONALES EN LA PLANTA DE ESTAMPADO Y ENSAMBLE DE LA INDUSTRIA AUTOMOTRIZ,
                                    CD. JUAREZ, CHIHUAHUA, MEXICO, AM EDITORES, 2017. ISBN: 9786074373813, pp. 193-211.
                                    <br>
                                    [6] M. E. DIAZ MURO, F. O. LOPEZ MILLAN, E. J. DE LA VEGA BUSTILLOS y <label
                                        class="text-success">D. L. ACUÑA FIMBRES</label>, «COMPLEJIDAD DE MANUFACTURA E
                                    INSPECCIONES DE CALIDAD EN FUNCION DEL ERROR HUMANO EN UNA ENSAMBLADORA,» de RUMBO
                                    AL AUTO DEL FUTURO. INNOVACION,SISTEMAS DE CALIDAD Y TRABAJO EN LA INDUSTRIA
                                    AUTOMOTRIZ DE MEXICO, HERMOSILLO, SONORA, MEXICO, AM EDITORIAL, 2017. ISBN:
                                    9786074374285, pp. 147-161.
                                    <br>
                                    [7] <label class="text-success">P. E. SORTILLON GONZALEZ</label> y E. J. DE LA VEGA
                                    BUSTILLOS, «MAXIMUM AND MINIMUM ROTATION ANGLES OF BODY SEGMENTS IN ART TASKS
                                    POSTURES,» de ERGONOMIA OCUPACIONAL. INVESTIGACIONES Y SOLUCIONES. VOL. 10, CD.
                                    JUAREZ, CHIHUAHUA, MEXICO, SEMAC, 2017. ISBN: 9780692881408, pp. 404-412.
                                    <br>
                                    [8] M. B. DIAZ MURO, F. O. LOPEZ MILLAN, B. E. J. DE LA VEGA y <label
                                        class="text-success">M. C. TERAN CONTRERAS</label> , «FACTORES PSICOSOCIALES EN
                                    LA INDUSTRIA AUTOMOTRIZ MEXICANA: ESTUDIO DIAGNOSTICO EN SONORA,» de CAMBIO
                                    TECNOLOGICO EN LA INDUSTRIA AUTOMOTRIZ DE MEXICO, HERMOSILLO, SONORA MEXICO, EL
                                    COLEGIO DE SONORA, 2017. ISBN: 9786078480722, pp. 247-275.
                                    <br>
                                    [9] G. MEZA PARTIDA, <label class="text-danger">J. A. AGUILAR ANGULO</label>, F. O.
                                    LOPEZ MILLAN y E. J. DE LA VEGA BUSTILLOS, «ANALYSIS OF THE PERFORMANCE OF THREE
                                    TYPES OF PLACEMENT OF THE HANDS AND WRISTS DURING REPETITIVE,» de ERGONOMÍA
                                    OCUPACIONAL INVESTIGACIONES Y APLICACIONES, VOL. 11, CD. JUAREZ, CHIHUAHUA, MEXICO,
                                    SOCIEDAD DE ERGONOMISTAS DE MEXICO, A.C., 2018.
                                    ISBN: 9780692103357, pp. 347-351.
                                    <br>
                                    [10] F. O. LOPEZ MILLAN, G. MEZA PARTIDA, O. V. ARELLANO TANORI, <label
                                        class="text-success">K. M. APODACA IBARRA</label> y E. J. DE LA VEGA BUSTILLOS,
                                    «THEORETICAL CONSIDERATIONS OF HUMAN ERROR ON QUALITY CONTROL TASKS,» de ERGONOMÍA
                                    OCUPACIONAL INVESTIGACIONES Y APLICACIONES, VOL. 11, CD. JUAREZ, CHIHUAHUA, MEXICO,
                                    SOCIEDAD DE ERGONOMISTAS DE MEXICO, A.C., 2018. ISBN: 9780692103357, pp.
                                    426-433.
                                    <br>
                                    [11] <label class="text-success">P. E. SORTILLON GONZALEZ</label> y E. J. DE LA VEGA
                                    BUSTILLOS, «BIOMECHANICAL DESIGN CONSIDERATIONS FOR AN ERGONOMIC HOME SEWING
                                    PRACTICE,» de ERGONOMÍA OCUPACIONAL INVESTIGACIONES Y APLICACIONES, VOL. 11, CD.
                                    JUAREZ, CHIHUAHUA. MEXICO, SOCIEDAD DE ERGONOMISTAS DE MEXICO, A.C.,
                                    2018. ISBN: 9780692103357, pp. 89-96.
                                    <br>
                                    [12] <label class="text-success">P. E. SORTILLON GONZALEZ</label> y E. J. DE LA VEGA
                                    BUSTILLOS, «CLASSROOM TELEVISION SCREEN ERGONOMIC HEIGHT PLACEMENT CONSIDERATIONS AS
                                    A MEAN TO AVOID NECK INJURIES,» de ERGONOMÍA OCUPACIONAL INVESTIGACIONES Y
                                    APLICACIONES, VOL. 11, CD. JUAREZ, CHIHUAHUA, MEXICO, SOCIEDAD DE ERGONOMISTAS DE
                                    MEXICO, A.C., 2018. ISBN: 9780692103357, pp.
                                    148-155.
                                    <br>
                                    [13] <label class="text-danger">L. A. GAMEZ DAVILA</label>, G. MEZA PARTIDA, O. V.
                                    ARELLANO TANORI, F. O. LOPEZ MILLAN y E. J. DE LA VEGA BUSTILLOS, «ERGONOMIA
                                    OCUPACIONAL, INVESTIGACIONES Y APLICACIONES, VOL. 12,» de ASSESSMENT OF THE
                                    PERFORMANCE OF WORK ACTIVITIES, CD. JUAREZ, CHIHUAHUA, MEXICO, SOCIEDAD DE
                                    ERGONOMISTAS DE MEXICO, A.C., 2019. ISBN: 9780578489155, pp.
                                    628-632.
                                    <br>
                                    [14] F. O. LOOEZ MILLAN, G. MEZA PARTIDA, O. V. ARELLANO TANORI y E. J. DE LA VEGA
                                    BUSTILLOS, «PROPOSAL OF A GUIDE TO SELECT METHODS OF ERGONOMIC ASSESSMENT FOR
                                    REPETITIVE WORK IN THE,» de ERGONOMIA OCUPACIONAL, INVESTIGACIONES Y APLICACIONES,
                                    VOL. 12, CD. JUAREZ, CHIHUAHUA, MEXICO, SOCIEDAD DE ERGONOMISTAS DE MEXICO, A.C.,
                                    2019. ISBN: 9780578489155, pp. 633-642.
                                    <br>
                                    [15] O. V. ARELLANO TANORI, <label class="text-info">O. ALCANTAR JATOMEA</label>, G.
                                    MEZA PARTIDA, F. O. LOPEZ MILLAN y E. J. DE LA VEGA BUSTILLOS, «STUDY AND ANALYSIS
                                    OF DISORDERS MUSCULOSKELETAL IN SONORA INDUSTRY IN THE PERIOD 2014-2016,» de
                                    ERGONOMIA OCUPACIONAL, INVESTIGACIONES Y APLICACIONES, VOL. 12, CD. JUAREZ,
                                    CHIHUAHUA, MEXICO, SOCIEDAD DE ERGONOMISTAS DE MEXICO, A.C.,
                                    2019. ISBN:9780578489155, pp. 426-436.
                                    <br>
                                    [16] <label class="text-success">P. E. SORTILLON GONZALEZ</label> y E. J. DE LA VEGA
                                    BUSTILLAS, «CORRELATIONAL STUDY OF MECHANICAL STRENGHTS DEVELOPED DURING THE USE OF
                                    SAFETY FOOTWEAR IN 12 HOURS,» de ERGONOMIA OCUPACIONAL, INVESTIGACIONES Y
                                    APLICACIONES, VOL. 12, CD. JUAREZ, CHIHUAHUA, SOCIEDAD DE ERGONOMISTAS DE MEXICO,
                                    A.C., 2019. ISBN: 9780578489155, pp. 277-287.
                                    <br>
                                    [17] <label class="text-danger">D. VASQUEZ GOMEZ</label>, E. J. DE LA VEGA
                                    BUSTILLOS, F. O. LOPEZ MILLAN, G. MEZA PARTIDA y O. V. ARELLANO TANORO, «MANUAL
                                    MATERIAL HANDLING ORIENTED TO LOGISTICS OPERATIONS IN THE AUTOMOTIVE INDUSTRY,» de
                                    ERGONOMIA OCUPACIONAL, INVESTIGACIONES Y APLICACIONES, VOL. 12, CD. JUAREZ,
                                    CHIHUAHUA, MEXICO, SOCIEDAD DE ERGONOMISTAS DE MEXICO, A.C., 2019. ISBN:
                                    9780578489155, pp. 353-361.
                                    <br>
                                    [18] <label class="text-success">P. E. SORTILLON GONZALEZ</label> y E. J. DE LA VEGA
                                    BUSTILLOS, «COMPARATIVE FATIGUE STUDY BETWEEN PAINTERS, SCULPTORS AND ENGRAVERS IN
                                    FOUR LEVELS OF CONTINUOUS JOB,» de ERGONOMIA OCUPACIONAL, INVESTIGACIONES Y
                                    APLICACIONES, VOL. 12, CD. JUAREZ, CHIHUAHUA, MEXICO, SOCIEDAD DE ERGONOMISTAS DE
                                    MEXICO, A.C., 2019. ISBN: 9780578489155, pp.
                                    218-228.
                                    <br>
                                    [19] G. MEZA PARTIDA, E. J. DE LA VEGA BUSTILLOS, F. O. LOPEZ MILLAN , <label
                                        class="text-success">J. SANCHEZ LEAL</label> y G. ORRANTIA DANIEL, «APPLICATION
                                    OF STEPWISE REGRESSION METHODS FOR THE ANALYSIS OF MANUAL FORCE.,» de ERGONOMÍA
                                    OCUPACIONAL INVESTIGACIONES Y APLICACIONES, VOL. 9, CD. JUAREZ, CHIHUAHUA, MEXICO,
                                    SOCIEDAD DE ERGONOMISTAS DE MEXICO, 2016. ISBN
                                    978-0-692-66972-3, pp. 167-173.
                                    <br>
                                    [20] M. E. DIAZ MURO, F. O. LOPEZ MILLAN y E. J. DE LA VEGA BUSTILLOS, «LOS FACTORES
                                    PSICOSOCIALES EN LA INDUSTRIA AUTOMOTRIZ EN MEXICO,» de LA INDUSTRIA AUTOMOTRIZ EN
                                    MEXICO, RELACIONES DE EMPLEO, CULTURAS ORGANIZACIONALES Y FACTORES PSICOSOCIALES,
                                    HERMOSILLO, SONORA, MEXICO, CLAVE EDITORIAL, 2016. ISBN: 9786074373707, pp. 137-160.
                                    <br>
                                    [21] G. MEZA PARTIDA, E. J. DE LA VEGA BUSTILLOS, <label class="text-success">J.
                                        SANCHEZ LEAL</label>, F. O. LOPEZ MILLAN y <label class="text-success">M. A.
                                        RODRIGUEZ MEDINA</label> , «VALIDATION OF A REGRESSION MODEL.,» de ERGONOMIA
                                    OCUPACIONAL. INVESTIGACIONES Y SOLUCIONES. VOL. 10, CD. JUAREZ, CHIHUAHUA, MEXICO,
                                    SEMAC, 2017. ISBN:9780692881408, pp. 240-244.
                                    <br>
                                    [22] <label class="text-success">E. E. Montijo-Valenzuela, E.
                                        Sámano-Hermosillo</label>, R. U. Rivera Landaverde, <label
                                        class="text-success">P. S.
                                        Carrillo-Villafaña, R. V. Armas-Flores y G. García-Corral</label>, «PROPUESTA DE
                                    UN
                                    DISPOSITIVO DE PULSERA ELECTRÓNICA PARA LA MEDICIÓN DE SIGNOS VITALES,» Academia
                                    Journals 2019, vol. 1, nº 1, pp. 609-612, 2019. ISBN 978-1-939982-
                                    53-7.
                                    <br>
                                    [23] <label class="text-success">O. F. Contreras</label> y M. E. Diaz Muro, «FORD
                                    MOTOR CO. EN MÉXICO: UNA PLATAFORMA DE BAJO COSTO Y ALTA CALIDAD PARA LA
                                    EXPORTACIÓN,» de ¿Es Posible Innovar Y Mejorar Laboralmente? Estudio de Trayectorias
                                    de Empresas Multinacionales en México, CD. MEXICO, MEXICO, Universidad Autónoma
                                    Metropolitana , 2017. ISBN 978-607-28-1119-5, pp. 239-272.
                                    <br>
                                    [24] <label class="text-success">S. A. Sandoval Godoy</label> y M. E. Diaz Muro, «La
                                    gente de Ford Hermosillo: trabajadores con filiación cooperativa de grupo e
                                    identidad limitada,» de La industria automotriz en méxico, relaciones de empleo,
                                    culturas organizacionales y factores psicosociales, Hermosillo, Sonora, México, El
                                    Colegio de Sonora, 2016. ISBN: 978-
                                    607-7900-25-2, pp. 75-92.
                                    <br>
                                    <b>MEMORIAS EN CONGRESOS </b>
                                    <br><br>
                                    [1] F. O. LOPEZ MILLAN, E. J. DE LA VEGA BUSTILLOS y M. E. DIAZ MURO, «Determinación
                                    del nivel de complejidad de la actividad de inspeccion de control de calidad en una
                                    industria automotriz en funcion del error humano,» Lima, Peru, 2016.
                                    <br>
                                    [2] M. DIAZ MURO, <label class="text-success">M. C. TERAN CONTRERAS</label> y A.
                                    RIVERA CASTILLO, «ESTUDIO DIAGNOSTICO DE LOS FACTORES PSICOSOCIALES EN LA INDUSTRIA
                                    AUTOMOTRIZ DE MEXICO,» LIMA, PERU,
                                    2016.
                                    <br>
                                    [3] F. O. LOPEZ OCTAVIO, E. J. DE LA VEGA BUSTILLOS, G. MEZA PARTIDA y O. V.
                                    ARELLANO TANORI, «PROPOSAL OF A GUIDE TO SELECT METHODS OF ERGONOMICS ASSESSMENT IN
                                    THE MANUFACTURING INDUSTRY,» de Proceedings Of The 20th Congress Of The
                                    International Ergonomics Association (Iea 2018), FLORENCIA, ITALIA, 2018.
                                    <br>
                                    [4] E. J. DE LA VEGA BUSTILLOS, <label class="text-success">D. T. GAMIÑO ACEVEDO, A.
                                        CORONADO RIOS</label> y F. O. LOPEZ OCTAVIO, «THUMB PLASTIC GUARD EFECT ON THE
                                    INSERTIONS OF PUSH PINS USING PSYCHOPHYSICAL METHODOLOGY,» de Proceedings of the
                                    20th Congress of the International Ergonomics Association (IEA 2018), FLORENCIA.
                                    ITALIA, 2018 .
                                    <br>
                                    [5] E. J. DE LA VEGA BUSTILLOS, F. O. LOPEZ OCTAVIO y <label class="text-success">A.
                                        CORONADO RIOS</label>, «PHYSICAL WORK CAPACITY IN PREGNANT WOMEN,» de
                                    Proceedings of the 20th Congress of the International Ergonomics Association (IEA
                                    2018), FLORENCIA, ITALIA, 2018.
                                    <br>
                                    [6] E. J. DE LA VEGA BUSTILLOS, F. O. LOPEZ MILLAN, G. MEZA PARTIDA y O. V. ARELLANO
                                    TANORI, «Grip and pinch strength of the population of the northwest of Mexico,» de
                                    Proceedings Of The 20th Congress of the International Ergonomics Association. IEA
                                    2018, FLORENCIA, ITALIA, 2018.
                                    <br>
                                    [7] <label class="text-success">E. E. Montijo-Valenzuela, E.
                                        Sámano-Hermosillo</label>, R. U. RiveraLandaverde, <label
                                        class="text-success">P. S. Carrillo- Villafaña, R. V. Armas-Flores, M.
                                        Martínez-García y G. García-Corral</label>, «PROPUESTA DE UN DISPOSITIVO DE
                                    PULSERA ELECTRÓNICA PARA LA MEDICIÓN DE SIGNOS VITALES,» de Memorias del Congreso
                                    Internacional de Investigación Academia Journals en Ciencias y Sustentabilidad 2019,
                                    TUXPAN, VERACRUZ, MEXICO, 2019. ISSN: 19465351.
                                    <br>
                                    <b>INFORMES TÉCNICOS </b>
                                    <br><br>
                                    [1] E. D. L. V. DE LA VEGA BUSTILLOS, E. S. Pérez Márquez y A. Y. Valdez Robles,
                                    «Reducción del nivel de riesgo ergonómico en los centros de trabajo,» SHAPE SA de
                                    CV, HERMOSILLO, SONORA, MEXICO, 2018.
                                    <br>
                                    [2] E. J. DE LA VEGA BUSTILLOS, A. TERÁN GONZALEZ, L. F. VALENZUELA QUIJADA y M. Á.
                                    MARQUEZ VILLAESCUSA, «REDUCCIÓN DEL NIVEL DE RIESGO ERGONÓMICO Y DTA´s,» ZOBELE SA
                                    de CV, HERMOSILLO, SONORA, MEXICO, 2018.
                                    <br>
                                    [3] E. J. DE LA VEGA BUSTILLOS, F. A. Castro Godoy, R. Jasso Gallego y R. Rodríguez
                                    Tarazón,
                                    «Reducción del nivel de riesgo ergonómico y problemas por desórdenes de trauma
                                    acumulado en el área de Jaguar DEVICE,» ZOBELE SA de CV, HERMOSILLO, SONORA, MEXICO,
                                    2018.
                                    <br>
                                    [4] G. A. RUIZ DOMINGUEZ, «DISEÑO Y FABRICACION DE PERFIL DE ESTAMPADO,» MARTIREA SA
                                    de CV, HERMOSILLO, SONORA, MEXICO, 2017.
                                    <br>
                                    [5] G. A. RUIZ DOMINGUEZ, «Estado del arte de manufactura aditiva,» TECNM/INSTITUTO
                                    TECNOLOGICO DE HERMOSILLO, HERMOSILLO, SONORA, MEXICO, 2017.
                                    <br>
                                    [6] C. A. PEREYDA PIERRE, «Diseño y desarrollo de un dispositivo de simulación de
                                    señales fisiológicas que incluya el proceso para la verificación de la calidad de
                                    DISPOSITIVOS MEDICOS,» 310MED Aplicaciones Tecnológicas S.A. de C.V., HERMOSILLO,
                                    SONORA, MEXICO,
                                    2018.
                                    <br>
                                    <b>LIBROS </b>
                                    <br><br>
                                    <label class="text-success">LOPEZ ACOSTA</label>, M., DE LA VEGA BUSTILLOS, <label
                                        class="text-success">RAMIREZ CARDENAS, E., VELARDE CANTU, J., & GARCIA VILCHEZ,
                                        S.</label>E., (2018. ISBN 9786073245005). LABORATORIO DE ERGONOMIA. CD. DE
                                    MEXICO, MEXICO: PEARSON EDUCACION DE MEXICO, SA DE CV.
                                    <br>
                                    <label class="text-success">LOPEZ ACOSTA</label>, M., DE LA VEGA BUSTILLOS, E.,
                                    <label class="text-success">VELARDE CANTU</label>, J., LOPEZ MILLAN, F., & CHACARA
                                    MONTES, A. (2018. ISBN 9786073247771). INVESTIGACIONES Y APLICACIONES EN ERGONOMIA.
                                    CD. MEXICO, MEXICO: PEARSON EDUCACION DE MEXICO SA DE CV.
                                    <br>
                                    <b>DERECHOS DE AUTOR </b>
                                    <br><br>
                                    PEREYDA PIERRE, C., <label class="text-success">AGUILAR MIRANDA, G., CARRANZA CONCHA
                                        , T., CASTILLO MADRID , P., HOYOS OCHOA , S., JUAREZ RIOS , M., . . . VALENZUELA
                                        SEGURA, L.</label> (2018). MODELADO DE PROTESIS TRANSTIBIAL. Registrado en
                                    INDAUTOR 2018
                                    03-2018-103012242300-01.

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-9">
                    <div class="construction-container">
                        <div class="construction-message">
                            <h1>En Construcción</h1>
                            <p>¡Estamos trabajando para ofrecerte algo increíble!</p>
                            <div class="construction-icon">
                                <i class="fa fa-cogs"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <app-navbar4></app-navbar4>
                </div>
                <div class="col-md-12 img-responsive text-center" style="margin-top:20px;">
                    <img src="conacyt-pnpc.png">
                </div>


            </div>



            <!------------------------------------>
            <!--------END CONTENIDO-->
        </div>
    </div>
    <!----END NOTAS------>

</div>