<nav class="navbar navbar-fixed-top navbar-inverse sub-navbar" style="top:-60px !important;">
    <div class="container">
        <div class="navbar-header">
            <button class="collapsed navbar-toggle" type="button" data-target="#navbarMainCollapse"
                data-toggle="collapse">
                <span class="sr-only">Interruptor de Navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://www.gob.mx/" class="navbar-brand" style="padding-left:8px;">
                <img src="https://framework-gb.cdn.gob.mx/gobmx/img/logo_blanco.svg" loading="lazy"
                    alt="Página de inicio, Gobierno de México" height="23" width="75" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarMainCollapse">
            <ul class="nav navbar-nav navbar-right" style="margin-right:46px !important;">
                <li><a href="https://www.gob.mx/tramites" title="Trámites">Trámites</a></li>
                <li><a href="https://www.gob.mx/gobierno" title="Gobierno">Gobierno</a></li>
                <li><a href="https://www.gob.mx/participa" title="Participación Ciudadana">Participa</a></li>
                <li><a href="https://datos.gob.mx" title="Datos Abiertos">Datos</a></li>
                <li>
                    <a href="https://www.gob.mx/busqueda">
                        <span class="sr-only">Búsqueda</span>
                        <i class="icon-search"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>