<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota text-uppercase">Maestría en Ingeniería Electrónica <br> PLAN DE ESTUDIOS</h2>
        </div>

        <div class="col-md-12">
            <div class="col-md-9">
                <div>
                    <b>Objetivo general</b>
                    <br><br>
                    El Plan de Estudios propuesto está enfocado a fomentar en el Maestro en Ingeniería
                    Electrónica las habilidades y capacidades necesarias para identificar, modelar y
                    proponer e implementar soluciones a problemas relativos al diseño, selección e
                    implementación de sistemas electrónicos para su aplicación en la industria, así como la
                    capacidad de comunicación con gente especializada en el área de ingeniería mecánica,
                    computación y de control entre otros.
                    <br><br>
                    <b>Objetivos específicos</b>
                    <br><br>
                    Preparar a los participantes en el programa de maestría para que sean capaces de:<br>
                    • Diseñar e implantar sistemas electrónicos que mejoren la productividad en las
                    industrias.<br>
                    • Participar en la formulación, evaluación y administración de proyectos.<br>
                    • Realizar actividades de asesoría y consultoría.<br>
                    • Encauzar la actividad profesional hacia niveles de mayor comprensión de las
                    necesidades del sector ocupacional, promoviendo la participación eficiente.<br>
                    • Ampliar los conocimientos en ingeniería y habilitar al profesional para la aplicación
                    innovadora del conocimiento científico o técnico.<br><br>

                    <b>Perfil de ingreso</b>
                    <br><br>
                    Los aspirantes a ingresar a la Maestría de Ingeniería Electrónica deberán ser egresados
                    de una carrera de licenciatura o ingeniería en electrónica, mecatrónica, mecánica o
                    áreas afines. Se selecciona y admite a estudiantes que tengan la capacidad de análisis y
                    síntesis, para comprender, plantear y resolver problemas, aprender y actualizarse
                    continuamente en el área de la electrónica, así como de manera personal y profesional.
                    Esto se evalúa en el proceso de selección de aspirantes.
                    <br><br>

                    <b>Perfil de egreso</b>
                    <br><br>
                    Debido a que el concepto de Electrónica se caracteriza por conocimientos en continua
                    evolución y propensa a un crecimiento que no cesa, los egresados de la Maestría en
                    Ingeniería Electrónica:<br>
                    • Adquirirán el conocimiento profundo y actualizado en las áreas de instrumentación y
                    control; control y activación de motores eléctricos; y redes industriales enfocadas a la
                    automatización de procesos.<br>
                    • Adquirirán el conocimiento profundo y actualizado en el área de ahorro y uso eficiente
                    de la energía eléctrica, en términos del beneficio que para la industria y la sociedad
                    en su conjunto tiene desde el punto de vista económico y del bajo impacto que en materia
                    de contaminación atmosférica representa el uso de convertidores electrónicos en la
                    solución de problemas de manejo de energía eléctrica.<br>
                    • Dominarán la habilidad de los métodos y técnicas fundamentales, teóricos y prácticos
                    de su campo disciplinario.<br>
                    • Serán capaces de apoyar el desarrollo de estudios y proyectos de investigación en
                    electrónica para su aplicación en la industria.<br>
                    • Manejarán de manera crítica la información científica y técnica de fuentes de
                    actualidad en materia de tecnología electrónica para su aplicación en la industria.<br>
                    • Estarán capacitados para desempeñarse como profesionales de alta calidad, en virtud de
                    su solidez conceptual y sus habilidades, colaborando en una organización para la gestión
                    y desarrollo de proyectos de innovación.

                    <br><br>

                    <b>Mapa curricular</b>
                    <br><br>

                    Siguiendo los lineamientos, que, a través de la Dirección de Posgrado Investigación e
                    Innovación de la Secretaría Académica del Tecnológico Nacional de México, se tiene un
                    plan de estudio estructurado de la siguiente manera:<br>
                    • Duración del plan de estudio: 24 meses.<br>
                    • Período lectivo: Semestral. <br>
                    • Ingreso al Programa: Anual, iniciando el año escolar en el mes de agosto. <br>
                    Los cursos están repartidos en grupos:<br>
                    • Asignaturas básicas, de carácter obligatorio a nivel del SNEST. <br>
                    • Asignaturas por línea de investigación, con carácter de optativos. Algunos de estos
                    cursos podrán ser optativos a juicio del asesor (o tutor) y estarán en apoyo a su
                    trabajo de tesis. <br>
                    • Un proyecto de investigación que da lugar a la tesis de grado.

                    <br><br>

                    <img src="reticula.JPG" class="img-responsive">

                    <br>
                    Los créditos de acuerdo al Plan de Estudios se encuentran a continuación:
                    <br>
                    <img src="planestudios.PNG" class="img-responsive">

                    <br>

                    <div><b style="color:black;font-size:20px;font-family:'Times New Roman';">Asignaturas
                            básicas</b></div>
                    <br>

                    <img src="asignaturabasica.png" class="img-responsive">
                    <br>
                    <img src="asignaturabasica1.1.PNG" class="img-responsive">
                    <br>

                    <img src="asignaturabasica2.JPG" class="img-responsive">
                    <br>
                    <span style="    font-family: 'soberana_sanslight';font-size: 14px;color: rgb(152, 151, 156);">
                        <b>Requisitos para la obtención del grado</b>
                        <br><br>
                        a) Estar inscrito en el programa.<br>
                        b) Haber aprobado la totalidad de la estructura académica del programa con un
                        promedio general mínimo de ochenta (80), sin considerar los créditos de la
                        tesis.<br>
                        c) Haber cubierto el requisito de egreso del idioma inglés.<br>
                        d) Haber sido autorizado el informe final de la tesis por el comité revisor.<br>
                        e) Haber publicado o tener aceptado donde aparezca como primer autor, un artículo en
                        algún foro académico.<br>
                        f) Defender el documento escrito durante el examen de grado, y ser aprobado en el
                        mismo.
                    </span>

                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <app-navbar3></app-navbar3>
                </div>
                <div class="col-md-12 img-responsive text-center" style="margin-top:20px;">
                    <img
                        src="https://conahcyt.mx/wp-content/uploads/2021/10/logo_conacyt_con_sintagma_azul_completo.svg">
                </div>


            </div>
        </div>



        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>