  <div class="row">
                <script>
                    /*
                    
                    Want to customize your button? visit our documentation page:
                    
                    https://login.equalweb.com/custom-button.taf
                    
                    */
                    window.interdeal = {
                        "sitekey": "c8700d9cf950be63738668a48d457167",
                        "Position": "Left",
                        "domains": {
                            "js": "https://cdn.equalweb.com/",
                            "acc": "https://access.equalweb.com/"
                        },
                        "Menulang": "es-MX",
                        "showTooltip": true,
                        "btnStyle": {
                            "vPosition": [
                                "80%",
                                "80%"
                            ],
                            "scale": [
                                "0.5",
                                "0.5"
                            ],
                            "color": {
                                "main": "#1876c9",
                                "second": "#ffffff"
                            },
                            "icon": {
                                "outline": false,
                                "type": 1,
                                "shape": "circle"
                            }
                        }
                    };
                    (function(doc, head, body){
                        var coreCall             = doc.createElement('script');
                        coreCall.src             = interdeal.domains.js + 'core/5.0.9/accessibility.js';
                        coreCall.defer           = true;
                        coreCall.integrity       = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
                        coreCall.crossOrigin     = 'anonymous';
                        coreCall.setAttribute('data-cfasync', true );
                        body? body.appendChild(coreCall) : head.appendChild(coreCall);
                    })(document, document.head, document.body);
                    </script>
                <div class="col-md-12">
                    <!------CONTENIDO-------->
                    <div class="col-md-12">
                        <h2 class="tnota">MURALES</h2>
                    </div>

                    <div class="col-md-12">
                        <div style="text-align: center;">
                            <p><img src="../mural1DT.jpg" class="img-responsive" width="336" height="448"></p>
                            <p><img src="../mural1.jpg" class="img-responsive" width="224" height="196"></p>
                          </div>
                  <p>Desarrollo Tecnológico
                  
                  Pintado en el interior del edificio administrativo, fue elaborado entre 1979 y 1980.
                  Representa la transformación industrial de los recursos naturales del Estado, acorde con el objetivo de los Institutos Tecnológicos en la formación de sus profesionistas.<br>
                  <br>La elaboración de este mural plasma una concepción futurista de la industria en Sonora. Actualmente, el Estado de Sonora vive efectivamente una mejor época industria en la cual instituciones como la nuestra han coadyuvado para la consecución de estos fines.<br>
                  
                  <br>La parte superior del mural conforma la ambientación propia de la región: un paisaje soleado y candente, las tierras sonorenses y la flora natural del desierto.<br>
                  
                  <br>En su parte central dominando el conjunto una figura humana.Su cerebro descubierto representa la elaboración mental del trabajo intelectual; su libro abierto en posición de leer, sostenido por su mano derecha, representa el estudio y la investigación, la escuadra y llave en su mano izquierda, la precisión y exactitud del desempeño tecnológico científico.<br>
                  
                  <br>Rodeando el tema central está el mapa del Estado en dónde se desprenden sus actividades económicas: en la parte interior del mismo la presencia del ITH señalado con un punto blanco a la altura de Hermosillo, su ciudad capital.<br>
                  
                  <br>En el primer plano inferior central, la representación del trabajo ante las máquinas y al fondo en la misma dirección , la silueta de una fábrica, símbolo del desarrollo industrial. 
                  </p>
                  <br>
                              <div style="text-align: center;"><img src="../mural2PGYY.jpg" class="img-responsive" width="448" height="171"></div>
                            <br><div style="text-align: center;"><img src="../mural2.jpg" class="img-responsive" width="224" height="198"></div><br>
                           
                            <p>La historia de nuestros grupos indígenas es poco conocida", decía el Prof. Adolfo López Miranda, cuando se le preguntaba porque había escogido el tema desarrollado en el mural. Él comentaba que "las actuales generaciones no tienen una idea completa de nuestro pasado; no saben que, tras cada indígena hay una larga historia de expoliación, o tal vez cabría hablar de genocidio". Argumentaba que esas eran las razones principales que lo habían llevado a realizar este mural, un relato plástico del martirio sufrido por la tribu yaqui durante tanto tiempo.<br>
                  
                  <br>En la parte superior, a nuestra izquierda aparecen las efigies de los Gobernadores Rafael Izabal, Luis E. Torres y Ramón Corral, principales auspiciadores de la campaña del yaqui. Un poco mas abajo y en su característica actitud prepotente, la figura del General Porfirio Díaz, prestando apoyo a los Gobernadores arriba representados.<br>
                  
                  <br>Por el hombro izquierdo del dictador vemos descender una procesión de indios yaquis, los cuales eran enviados por tren y barco al Valle Nacional y a los campos henequeneros de Yucatán, donde hacian trabajos de esclavos.<br>
                  
                  <br>En la parte central dominando la temática, la figura heróica de José María Leyva "Cajeme", en actitud de romper las cadenas y aureoleado por las silueta de Cuahutémoc, la determinación inquebrantable de defender a su pueblo hasta las últimas consecuencias, y de Morelos, la astucia y el genio guerrero, que tanto triunfo le dieron a su causa.<br>
                  
                  <br>Bajo la figura de Cajeme, aparece el retrato de Juan Maldonado "Tetabiate", continuador de la lucha por la supervivencia.<br>
                  
                  <br>El 6 de enero de 1915 el general Venustiano Carranza, promulgó una Ley Agraria que restituye y dota de tierras a los núcleos indígenas del país.<br>
                  
                  <br>En la parte superior, a nuestra derecha, estan representados Adolfo de la Huerta, Esteban Baca Calderón y el General Lázaro Cárdenas, ejecutores los dos primeros de la Ley Agraria del 6 de enero de 1915, y el tercero, ya como Presidente de la República dictó las resoluciones del 27 de octubre de 1937, con las que dotaba a los pueblos yaquis de 400,000 hectáreas de tierras de riego. De esta manera, concluyó lo que parecía una lucha eterna entre yaquis y yoris.<br>
                  
                  <br>En la parte inferior a la derecha, como plano de fondo aparece la Sierra del Bakatete, en el segundo plano, las danza tradicionales de pajkola, el coyote y el venado, acompañados por instrumental típico.<br>
                  
                  <br>En la parte inferior, osamentas sepultadas, como símbolo de los que ofrendaron su vida en defensa de su pueblo y como un homenaje al luchador desconocido.<br>
                  
                  <br>El Mural abarca una extensión de 120 metros cuadrados; 20 metros de largo por 6 metros de alto, fue inaugurado en 1985 por el C. Gobernador Constitucional de Estado de Sonora Ing. Rodolfo Félix Valdez.<br>
                  
                       </p>
                       <br>
                       
                       <div style="text-align: center;"><img src="../mural3HM.jpg" class="img-responsive" width="336" height="448"></div>
                            <br>
                            <div style="text-align: center;"><img src="../mural3.jpg" class="img-responsive" width="234" height="214"></div><br>
                            <p>Los matemáticos que iluatran este mural represnetan las bases de las matemáticas, siendo los que construyeron y fortalecieron la concepción que actualmente se tiene de las matemáticas, fueron personas sensibles a la problemática en su tiempo cuyos conocimientos son básicos en la era actual, la historia de las matemáticas es la expresión mas inteligente del ser humano en la búsqueda del bienestar común, auxiliando a otras ciencias como la Química, la Física,Adtrofísica, Ingeniería Genética, etc., que nos proveen de los satisfactores de la vida moderna.<br>
                  
                  <br>Aunque en ciertos momentos se ha hecho uso negativo del conocimiento matamático, vale la pena diferenciar entre las matemáticas y quienes la usan; en favor o en contra de la humanidad.<br>
                  
                  <br>Es también un reconocimiento al no menos actual y revolucionario caso de la investigación atómica que descansa en gran parte en la teoría de la relatividad de Einstein, quién a su vez utilizó las especulaciones matemáticas del siglo XIX.<br>
                  
                  <br>En este trabajo, se pone sobre relieve que la representación de las formas geométricas en ecuaciones, aproximación de una nueva geometría, abrió el camino a matemáticas superiores como el “Análisis” cuyo primer descendientes el cálculo que permitió al hombre actual, con el manejo de la dinámica, llegar al diseño de vehículos y naves espaciales. Lugar importante ocupan en esta selección de matemáticas, la aplicación de las leyes de la probabilidad, la concepción del espacio en tres dimensiones y la aplicación de diversos conceptos que dieron solución a los problemas de los campos electromagnéticos hasta llegar al desarrollo de los actuales medios electrónicos de comunicación y computación.</p>
                            
                    </div>



                    <!------------------------------------>
                    <!--------END CONTENIDO-->
                </div>
            </div>