<div class="col-md-12">
    <h4>Sitos de Interes</h4>

    <!-- Primera fila -->
    <style>
    /* Ajustes para que las imágenes no se vean tan grandes en móviles */
    .custom-img {
        width: 100%;
        max-width: 360px; /* límite en pantallas pequeñas */
        height: auto;
        border: 2px solid gray;
        border-radius: 15px;
        display: block;
    }

    /* En pantallas pequeñas centramos las imágenes dentro de la columna */
    @media (max-width: 576px) {
        .custom-img { max-width: 320px; }
        .col-mobile-center { display: flex; justify-content: center; }
    }
    </style>

    <div class="row mb-4">
            <div class="col-12 col-sm-6 col-md-4 col-mobile-center mb-3">
                    <a routerLink="/Sitios/Galery" title="Calendario escolar">
                            <img class="img-fluid custom-img" src="../../imagenes/ea14224d-cd61-48ba-b7b2-a04bd7e9bb42.jpeg" alt="Galería">
                    </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-mobile-center mb-3">
                    <a routerLink="/Sitios/Calendario" title="Calendario escolar">
                            <img class="img-fluid custom-img" src="../../imagenes/Boton - Calendario Escolar.jpg" alt="Calendario escolar">
                    </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-mobile-center mb-3">
                    <a href="documentos/INFORME DE RENDICION DE CUENTAS 2023-ITH.pdf" title="Informe de Rendición">
                            <img class="img-fluid custom-img" src="../../imagenes/WhatsApp Image 2024-02-09 at 9.36.35 AM.jpeg" alt="Informe de Rendición">
                    </a>
            </div>
    </div>

    <!-- Segunda fila -->
    <div class="row mb-4">
            <div class="col-12 col-sm-6 col-md-4 col-mobile-center mb-3">
                    <a href="documentos/Reglamento_de_Estudiantes_del_TecNM.pdf" title="Reglamento Estudiantil">
                            <img class="img-fluid custom-img" src="../../imagenes/Boton - Reglamento Estudiantes TecNM.jpg" alt="Reglamento Estudiantil">
                    </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-mobile-center mb-3">
                    <a routerLink="/Sitios/CodigoEtica" title="Código de Conducta">
                            <img class="img-fluid custom-img" src="../../imagenes/Boton - Codigo de Conducta.jpg" alt="Código de Conducta">
                    </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-mobile-center mb-3">
                    <a href="Revista-Espacio-ITH.html" title="Revista Espacio ITH">
                            <img class="img-fluid custom-img" src="../../imagenes/Boton-Revista-Espacio-ITH-TecNM-Campus-Hermosillo.png" alt="Revista Espacio ITH">
                    </a>
            </div>
    </div>

    <!-- Tercera fila -->
    <div class="row mb-4">
            <!-- Oculto -->
            <div class="col-md-4" style="display:none;">
                    <a href="guia-ergonomica-para-trabajar-desde-casa-2020.html">
                            <img class="img-fluid custom-img" src="../../imagenes/boton-guia-ergonomica.png" alt="Guía ergonómica">
                    </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-mobile-center mb-3">
                    <a href="https://www.mexicox.gob.mx/courses" title="MOOCs TecNM">
                            <img class="img-fluid custom-img" src="../../imagenes/Boton-MOOCS-TecNM-Hermosillo.png" alt="MOOCs TecNM">
                    </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-mobile-center mb-3">
                    <a routerLink="/Sitios/Ciie">
                            <img class="img-fluid custom-img" src="../../imagenes/Boton CIE.jpg" alt="CIE">
                    </a>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-mobile-center mb-3">
                    <a routerLink="/Sitios/ContraloresSociales">
                            <img class="img-fluid custom-img" src="../../imagenes/LOGOS_GUARDIANES DEL GASTO_PNG_Mesa de trabajo 1 copia 3.png" alt="Contralores Sociales">
                    </a>
            </div>
    </div>

    <!-- Cuarta fila -->
    <div class="row mb-4">
            <div class="col-12 col-sm-6 col-md-4 col-mobile-center mb-3">
                    <a href="https://capacitacion.conricyt.mx/" title="Capacitación Virtual">
                            <img class="img-fluid custom-img" src="../../imagenes/Boton-Capacitcion-Conricyt-TecNM-Hermosillo.png" loading="lazy" alt="Capacitación Virtual">
                    </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-mobile-center mb-3">
                    <a routerLink="/Sitios/MaterialServidoresPublicos" title="SFP TecNM">
                            <img class="img-fluid custom-img" src="../../imagenes/Boton-SFP-TecNM-Hermosillo.png" loading="lazy" alt="SFP TecNM">
                    </a>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-mobile-center mb-3">
                    <a href="../documentos/INFORME 2023-6 MEJORADO-22-02.pdf" title="Informe Mejorado 2023">
                            <img class="img-fluid custom-img" src="../../imagenes/WhatsApp Image 2024-02-26 at 2.23.08 PM.jpeg" loading="lazy" alt="Informe Mejorado 2023">
                    </a>
            </div>
    </div>

    <!-- Quinta fila -->
    <!-- <div class="row mb-4">
                           
                            
                        </div> -->

</div>