<div class="col-md-12">
    <h4>Sitos de Interes</h4>

    <!-- Primera fila -->
    <div class="row mb-4">
        <div class="col-md-4">
            <a href="/GalleryImages.html" target="_blank" title="Calendario escolar">
                <img class="img-responsive" src="imagenes/ea14224d-cd61-48ba-b7b2-a04bd7e9bb42.jpeg"
                    style="width:100%; border:2px solid gray; border-radius:15px;">
            </a>
        </div>
        <div class="col-md-4">
            <a href="/calendario-escolar.html" target="_blank" title="Calendario escolar">
                <img class="img-responsive" src="imagenes/Boton - Calendario Escolar.jpg"
                    style="width:100%; border:2px solid gray; border-radius:15px;">
            </a>
        </div>
        <div class="col-md-4">
            <a href="documentos/INFORME DE RENDICION DE CUENTAS 2023-ITH.pdf" target="_blank"
                title="Informe de Rendición">
                <img class="img-responsive" src="imagenes/WhatsApp Image 2024-02-09 at 9.36.35 AM.jpeg"
                    style="width:100%; border:2px solid gray; border-radius:15px;">
            </a>
        </div>
    </div>

    <!-- Segunda fila -->
    <div class="row mb-4">
        <div class="col-md-4">
            <a href="documentos/Reglamento_de_Estudiantes_del_TecNM.pdf" target="_blank" title="Reglamento Estudiantil">
                <img class="img-responsive" src="imagenes/Boton - Reglamento Estudiantes TecNM.jpg"
                    style="width:100%; border:2px solid gray; border-radius:15px;">
            </a>
        </div>
        <div class="col-md-4">
            <a href="codigo-de-conducta.html" target="_blank" title="Código de Conducta">
                <img class="img-responsive" src="imagenes/Boton - Codigo de Conducta.jpg"
                    style="width:100%; border:2px solid gray; border-radius:15px;">
            </a>
        </div>
        <div class="col-md-4">
            <a href="Revista-Espacio-ITH.html" target="_blank" title="Revista Espacio ITH">
                <img class="img-responsive" src="imagenes/Boton-Revista-Espacio-ITH-TecNM-Campus-Hermosillo.png"
                    style="width:100%; border:2px solid gray; border-radius:15px;">
            </a>
        </div>
    </div>

    <!-- Tercera fila -->
    <div class="row mb-4">
        <!-- Oculto -->
        <div class="col-md-4" style="display:none;">
            <a href="guia-ergonomica-para-trabajar-desde-casa-2020.html" target="_blank">
                <img class="img-responsive" src="imagenes/boton-guia-ergonomica.png"
                    style="width:100%; border:2px solid gray; border-radius:15px;">
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://www.mexicox.gob.mx/courses" target="_blank" title="MOOCs TecNM">
                <img class="img-responsive" src="imagenes/Boton-MOOCS-TecNM-Hermosillo.png"
                    style="width:100%; border:2px solid gray; border-radius:15px;">
            </a>
        </div>
        <div class="col-md-4">
            <a href="/ciie/quienes.html" target="_blank">
                <img class="img-responsive" src="imagenes/Boton CIE.jpg"
                    style="width:100%; border:2px solid gray; border-radius:15px;">
            </a>
        </div>

        <div class="col-md-4">
            <a href="contraloria-social.html" target="_blank">
                <img class="img-responsive" src="imagenes/LOGOS_GUARDIANES DEL GASTO_PNG_Mesa de trabajo 1 copia 3.png"
                    style="width:100%; border:2px solid gray; border-radius:15px;">
            </a>
        </div>
    </div>

    <!-- Cuarta fila -->
    <div class="row mb-4">

        <div class="col-md-4">
            <a href="https://capacitacion.conricyt.mx/" target="_blank" title="Capacitación Virtual">
                <img class="img-responsive" src="imagenes/Boton-Capacitcion-Conricyt-TecNM-Hermosillo.png"
                    loading="lazy" style="width:100%; border:2px solid gray; border-radius:15px;">
            </a>
        </div>
        <div class="col-md-4">
            <a href="material-secretaria-de-la-funcion-publica.html" target="_blank" title="SFP TecNM">
                <img class="img-responsive" src="imagenes/Boton-SFP-TecNM-Hermosillo.png" loading="lazy"
                    style="width:100%; border:2px solid gray; border-radius:15px;">
            </a>
        </div>

        <div class="col-md-4">
            <a href="documentos/INFORME 2023-6 MEJORADO-22-02.pdf" target="_blank" title="Informe Mejorado 2023">
                <img class="img-responsive" src="imagenes/WhatsApp Image 2024-02-26 at 2.23.08 PM.jpeg" loading="lazy"
                    style="width:100%; border:2px solid gray; border-radius:15px;">
            </a>
        </div>
    </div>

    <!-- Quinta fila -->
    <!-- <div class="row mb-4">
                           
                            
                        </div> -->

</div>