.<div class="navbar-container">
    <div class="row sub-navbar">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbarMainCollapse">
                        <span class="sr-only">Interruptor de Navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" routerLink="/">
                        <img src="https://ith.mx/logoitp.png" alt="Logo ITH">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbarMainCollapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false">
                                INSTITUCIÓN <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a routerLink="/institucion/Direccion">DIRECCIÓN</a></li>
                                <li><a routerLink="/institucion/Historia">HISTORIA</a></li>
                                <li><a routerLink="/institucion/Filosofia">FILOSOFÍA
                                        INSTITUCIONAL</a></li>
                                <li><a routerLink="/institucion/Escudo">ESCUDO</a></li>
                                <li><a routerLink="/institucion/Murales">MURALES</a></li>
                                <li><a routerLink="/institucion/Documentos">DOCUMENTOS
                                        OPERATIVOS</a></li>
                                <li><a routerLink="/institucion/Inversion">INVERSIÓN TECNM /ITH</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false">
                                OFERTA EDUCATIVA <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="http://hermosillo.tecnm.mx/aeronautica.html" target="_blank">ING.
                                        AERONÁUTICA</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/biomedica.html" target="_blank">ING.
                                        BIOMEDICA</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/electrica.html" target="_blank">ING.
                                        ELÉCTRICA</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/electronica.html" target="_blank">ING.
                                        ELECTRÓNICA</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/SEMICONDUCTORES.html" target="_blank">ING.
                                        SEMICONDUCTORES</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/industrial.html" target="_blank">ING.
                                        INDUSTRIAL</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/mecanica.html" target="_blank">ING.
                                        MECÁNICA</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/mecatronica.html" target="_blank">ING.
                                        MECATRÓNICA</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/admin.html" target="_blank">LIC.
                                        ADMINISTRACIÓN</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/sistemas.html" target="_blank">ING.
                                        SISTEMAS COMPUTACIONALES</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/informatica.html" target="_blank">ING.
                                        INFORMÁTICA</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/ige.html" target="_blank">ING. GESTIÓN
                                        EMPRESARIAL</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/posgrado/madmin/" class="gris">MAESTRÍA EN
                                        ADMINISTRACIÓN</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/posgrado/mcc/" class="gris">MAESTRÍA EN
                                        CIENCIAS DE LA COMPUTACIÓN</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/posgrado/me/" class="gris">MAESTRÍA EN
                                        INGENIERÍA ELECTRÓNICA</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/posgrado/mii/" class="gris">MAESTRÍA EN
                                        INGENIERÍA INDUSTRIAL</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/posgrado/dci/" target="_blank">DOCTORADO EN
                                        CIENCIAS DE LA INGENIERÍA</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false">
                                COMUNIDAD <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a target="_blank"
                                        href="http://hermosillo.tecnm.mx/documentos/Directorio TecNMIT_Hermosillo.pdf"
                                        class="gris">DIRECTORIO</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/documentos/COORDINADORES 2022.pdf"
                                        target="_blank">COORDINADORES</a></li>
                                <li><a href="http://www.facebook.com/groups/426759764077538/" class="gris">BECAS</a>
                                </li>
                                <li><a href="documentos/Pasos_para activar.pdf" target="_blank" class="gris">MICROSOFT
                                        IMAGINE</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/residencias/" class="gris">RESIDENCIAS</a>
                                </li>
                                <li><a href="http://hermosillo.tecnm.mx/serviciosocial/" class="gris">SERVICIO
                                        SOCIAL</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/documentos/REGLAMENTO CI.pdf"
                                        target="_blank">REGLAMENTO BIBLIOTECA</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/opciones-titulacion.html"
                                        target="_blank">TITULACIÓN</a></li>
                                <li><a href="http://materias.hermosillo.tecnm.mx/moodle/" target="_blank">MOODLE</a>
                                </li>
                                <li><a href="http://hermosillo.tecnm.mx/semana-estatal-seguridad-salud-trabajo.html"
                                        target="_blank">SEGURIDAD EN EL TRABAJO</a></li>
                                <li><a href="documentos/DIRECTORIO DEL DEPARTAMENTO DE CIENCIAS BÁSICAS.pdf"
                                        target="_blank">DIRECTORIO CIENCIAS BÁSICAS</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/EGRESADO LICENCIATURA Y POSGRADO.html"
                                        class="gris">ENCUESTA EGRESADOS LICENCIATURA Y POSGRADO</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/EMPLEADOR.html" class="gris">ENCUESTA
                                        EMPLEADOR</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/Obituario.html" class="gris">OBITUARIO</a>
                                </li>
                            </ul>
                        </li>

                        <li><a class="nav-link" href="http://hermosillo.tecnm.mx/convocatorias/"
                                target="_blank">CONVOCATORIAS</a></li>
                        <li><a class="nav-link" href="http://sith.ith.mx/menu/" target="_blank">SITH</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>