<div class="navbar-container">
    <div class="row sub-navbar">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbarMainCollapse">
                        <span class="sr-only">Interruptor de Navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" routerLink="/">
                        <img src="https://ith.mx/logoitp.png" alt="Logo ITH">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbarMainCollapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false">
                                INSTITUCIÓN <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a routerLink="/institucion/Direccion">DIRECCIÓN</a></li>
                                <li><a routerLink="/institucion/Historia">HISTORIA</a></li>
                                <li><a routerLink="/institucion/Filosofia">FILOSOFÍA
                                        INSTITUCIONAL</a></li>
                                <li><a routerLink="/institucion/Escudo">ESCUDO</a></li>
                                <li><a routerLink="/institucion/Murales">MURALES</a></li>
                                <li><a routerLink="/institucion/Documentos">DOCUMENTOS
                                        OPERATIVOS</a></li>
                                <li><a routerLink="/institucion/Inversion">INVERSIÓN TECNM /ITH</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false">
                                OFERTA EDUCATIVA <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a routerLink="/oferta-educativa/Aeronautica" >ING.
                                        AERONÁUTICA</a></li>
                                <li><a routerLink="/oferta-educativa/Biomedica" >ING.
                                        BIOMEDICA</a></li>
                                <li><a routerLink="/oferta-educativa/Electrica" >ING.
                                        ELÉCTRICA</a></li>
                                <li><a routerLink="/oferta-educativa/Electronica" >ING.
                                        ELECTRÓNICA</a></li>
                                <li><a routerLink="/oferta-educativa/Semiconductores" >ING.
                                        SEMICONDUCTORES</a></li>
                                <li><a routerLink="/oferta-educativa/Industrial" >ING.
                                        INDUSTRIAL</a></li>
                                <li><a routerLink="/oferta-educativa/Mecanica" >ING.
                                        MECÁNICA</a></li>
                                <li><a routerLink="/oferta-educativa/Mecatronica" >ING.
                                        MECATRÓNICA</a></li>
                                <li><a routerLink="/oferta-educativa/Administracion" >LIC.
                                        ADMINISTRACIÓN</a></li>
                                <li><a routerLink="/oferta-educativa/Sistemas" >ING.
                                        SISTEMAS COMPUTACIONALES</a></li>
                                <li><a routerLink="/oferta-educativa/Informatica" >ING.
                                        INFORMÁTICA</a></li>
                                <li><a routerLink="/oferta-educativa/Gestion" >ING. GESTIÓN
                                        EMPRESARIAL</a></li>
                                <li><a routerLink="/oferta-educativa/Maestria-Admin" class="gris">MAESTRÍA EN
                                        ADMINISTRACIÓN</a></li>
                                <li><a routerLink="/oferta-educativa/Maestria-CC" class="gris">MAESTRÍA EN
                                        CIENCIAS DE LA COMPUTACIÓN</a></li>
                                <li><a routerLink="/oferta-educativa/Maestria-IE" class="gris">MAESTRÍA EN
                                        INGENIERÍA ELECTRÓNICA</a></li>
                                <li><a routerLink="/oferta-educativa/Maestria-II" class="gris">MAESTRÍA EN
                                        INGENIERÍA INDUSTRIAL</a></li>
                                <li><a routerLink="/oferta-educativa/Doctorado" >DOCTORADO EN
                                        CIENCIAS DE LA INGENIERÍA</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false">
                                COMUNIDAD <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a 
                                        href="http://hermosillo.tecnm.mx/documentos/Directorio TecNMIT_Hermosillo.pdf"
                                        class="gris">DIRECTORIO</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/documentos/COORDINADORES 2022.pdf"
                                        >COORDINADORES</a></li>
                                <li><a href="http://www.facebook.com/groups/426759764077538/" class="gris">BECAS</a>
                                </li>
                                <!-- <li><a href="documentos/Pasos_para activar.pdf"  class="gris">MICROSOFT
                                        IMAGINE</a></li> -->
                                <li><a routerLink="/comunidad/residencias" class="gris">RESIDENCIAS</a>
                                </li>
                                <li><a href="http://hermosillo.tecnm.mx/serviciosocial/" class="gris">SERVICIO
                                        SOCIAL</a></li>
                                <li><a href="http://hermosillo.tecnm.mx/documentos/REGLAMENTO CI.pdf"
                                        >REGLAMENTO BIBLIOTECA</a></li>
                                <li><a routerLink="/comunidad/titulacion"
                                        >TITULACIÓN</a></li>
                                <li><a href="http://materias.hermosillo.tecnm.mx/moodle/" >MOODLE</a>
                                </li>
                                <li><a routerLink="/comunidad/seguridad-trabajo"
                                        >SEGURIDAD EN EL TRABAJO</a></li>
                                <li><a href="documentos/DIRECTORIO DEL DEPARTAMENTO DE CIENCIAS BÁSICAS.pdf"
                                        >DIRECTORIO CIENCIAS BÁSICAS</a></li>
                                <li><a routerLink="/comunidad/egresados"
                                        class="gris">ENCUESTA EGRESADOS LICENCIATURA Y POSGRADO</a></li>
                                <li><a  routerLink="/comunidad/empleadores" class="gris">ENCUESTA
                                        EMPLEADOR</a></li>
                                <li><a routerLink="/comunidad/obituario" class="gris">OBITUARIO</a>
                                </li>
                            </ul>
                        </li>

                        <li><a class="nav-link" routerLink="/convocatorias"
                                >CONVOCATORIAS</a></li>
                        <li><a class="nav-link" href="http://sith.ith.mx/menu/" >SITH</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>