<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h4 class="tnota" style="color:#404041;font-family:'Montserrat'">FILOSOFÍA INSTITUCIONAL</h4>
        </div>
        <div class="col-md-12">
            <h4 class="tnota" style="color:#404041;font-family:'Montserrat'">MISIÓN</h4>
        </div>

        <div class="col-md-12">
            <p style="color:#404041;font-family:'Montserrat'">
                Somos una Institución cuyo compromiso es formar profesionales emprendedores, comprometidos, con un alto
                sentido
                humano y de competencia, capaces de crear, desarrollar, innovar; con visión hacia el desarrollo
                sustentable,
                tecnológico, social y económico que demanda el entorno globalizado.
                <br>
                Una Institución fortalecida por un sistema cohesionado con capacidad de respuesta a las políticas
                emanadas del
                Ejecutivo Federal a través de la Secretaría de Educación Pública mediante sus áreas sustantivas de
                docencia,
                investigación y vinculación y apoyada por un equipo de trabajo con un alto sentido de servicio.

            </p>
        </div>
        <div class="col-md-12">
            <h4 class="tnota" style="color:#404041;font-family:'Montserrat'">VISIÓN</h4>
        </div>

        <div class="col-md-12">
            <p style="color:#404041;font-family:'Montserrat'">
                Una Institución dinámica con liderazgo en educación superior, que promueve y desarrolla la investigación
                científica
                y tecnológica, con planes y programas de estudio acreditados internacionalmente, con profesionistas
                certificados,
                comprometidos con la sociedad y coadyuvando a la excelencia de nuestros egresados para el desarrollo
                productivo del país.

            </p>
        </div>
        <div class="col-md-12">
            <h4 class="tnota" style="color:#404041;font-family:'Montserrat'">VALORES</h4>
        </div>
        <div class="col-md-12">
            <div>
            <ul>
                <li>
                    Bien común
                </li>
                <li>
                    Integridad
                </li>
                <li>
                    Honradez
                </li>
                <li>
                    Imparcialidad
                </li>
                <li>
                    Transparencia y rendición de cuentas
                </li>
                <li>
                    Entorno cultural y ecológico
                </li>
                <li>
                    Generosidad
                </li>
                <li>
                    Igualdad
                </li>
                <li>
                    Respeto
                </li>
                <li>
                    Liderazgo
                </li>
            </ul>
            </div>
        </div>

        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>