<div class="row">
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12" style="margin-bottom: 30px;margin-top: 10px; justify-items: center;">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a routerLink="/Sitios/Ciie">¿Quiénes Somos?</a></li>
                <li role="presentation"><a routerLink="/Sitios/Proceso">Proceso de Incubación</a></li>
                <li role="presentation"><a routerLink="/Sitios/Recurso">Recursos</a></li>
                <li role="presentation"><a routerLink="/Sitios/Contacto">Contáctanos</a></li>
            </ul>
        </div>
        <div class="col-md-12" style="color: black !important;margin-bottom: 30px;">
            <div class="col-md-3"><img src="img/CIIE.png" class="img-responsive"></div>

            <h4>Centro de Incubacion e Innovacion Empresarial</h4>
            <p style="color: black;">
                El Centro de incubación e innovación empresarial es un espacio creativo para que toda aquella persona
                interesada en desarrollar una idea de negocio, pueda ser apoyada con herramientas administrativas que le
                permitan tomar decisiones empresariales para la puesta en marcha de su empresa.
                Dentro de la estructura del CIIE se cuenta con un grupo multidisciplinario de consultores las cuales
                ayudan al emprendedor a desarrollar la idea de negocio, a partir del establecimiento del modelo de
                negocio, identificaci6n de la factibilidad técnica, financiera y de mercado de su proyecto, y la
                elaboración de su plan de negocio, así coma, la adecuación de este si se requiere para la obtención
                de apoyo financiero de un tercero, ya sea desde el inicio o una vez puesto en marcha el negocio.
            </p>
            <strong>Misión de los Centros de incubación e innovación Empresarial</strong>
            <p style="color: black;">
                Impulsar la creaci6n, desarrollo y sostenibilidad de empresas bajo el Modelo de lncubaci6n de Empresas
                del TecNM, que a través de servicios de consultoría potencie la competitividad empresarial, logrando un
                impacto econ6mico-social.
            </p>
            <strong>Visión de los CIIE</strong>
            <p style="color: black;">Ser una red de emprendimiento, reconocida par su labor social y de desarrollo
                empresarial, consolidando empresas en las distintas localidades y regiones del país.</p>
            <strong>Objetivos de los CIIE</strong>
            <div>
            <ol style="list-style: none;">
                <li>
                    • Vincular los programas de emprendedores con las actividades del CIIE para impulsar la formaci6n de
                    empresarios y empresas en los institutos tecnol6gicos.
                </li>
                <li>
                    • Promover los servicios ofrecidos par la red de las CIIE con grupos u organismos de la sociedad
                    para captar emprendedores externos.
                </li>
                <li>
                    • Optimizar el servicio y la atenci6n ofrecida a las incubados para favorecer la apertura rápida de
                    empresas.
                </li>
                <li>
                    • Fortalecer mecanismos de gesti6n financiera para apoyar a las empresas incubadas.
                </li>
                <li>
                    • Impulsar el acompañamiento para la promoci6n y comercializaci6n de las bienes y servicios de las
                    empresas incubadas.
                </li>
                <li>
                    • Gestionar los recursos econ6micos para la operaci6n del CIIE.
                </li>
                <li>
                    • Generar e incrementar las fuentes de trabajo en la localidad o región del país.
                </li>
                <li>
                    • Crear redes empresariales, que propicien la relaci6n entre empresarios a corto, mediano y largo
                    plaza.
                </li>
                <li>
                    • Generar condiciones que propicien la alianza estratégica entre empresas e instituciones
                    financieras.
                </li>
                <li>
                    • Ofrecer a la comunidad tecnológica y público en general, un modelo de desarrollo de empresas que
                    facilite la implantación, consolidación y mejora de las mismas.
                </li>
                <li>
                    • Propiciar la transferencia de tecnología, comercialización de la misma y propiedad intelectual.
                </li>
            </ol>
            </div>
            <strong>Valores del CIIE</strong>
            <p style="color: black;">
                El CIIE, para definir su actuar y las valores que le rigen, deberá tomar en cuenta las consideraciones
                éticas que se definen en el Modelo Educativo vigente del Tecnológico Nacional de México
            </p>
            <p style="color: black;">
                En el TecNM impera la convicción de que es posible construir ambientes, espacios y formas de convivencia
                humana en las que confluyan, coincidan y armonicen actitudes, acciones y fines colaborativos que
                favorezcan la construcción del conocimiento, el desarrollo del avance científico, tecnológico y
                humanístico, y la acción social incluyente. En consecuencia, y con un sentido del deber, en el TecNM se
                permea en la conciencia de su comunidad la reflexión ética que ha guiado históricamente a la humanidad,
                coma principio y fundamento del desarrollo individual y social; especialmente en lo que concierne a la
                dignidad humana, la libertad, la justicia, la equidad, la verdad, el respeto, la responsabilidad y la
                solidaridad, que deben integrarse a la formación profesional que se ofrece y se forja en nuestras
                instituciones, con el fin de que esos valores se asuman, se reproduzcan y contribuyan al desarrollo de
                las personas, las regiones y el país. Con base en esta riqueza axiológica universal, histórica, social e
                institucional, el TecNM asume como distintivos en su accionar cotidiano, imprescindibles en el camino
                hacia su visión, y fundamentales en el cumplimiento de su misión, las siguientes consideraciones éticas
            </p>
            <img src="img/ciie-valores.png" style="margin:auto" class="img-responsive">
        </div>


        <div class="col-md-12" style="display: none;">
            <div class="col-md-12">
                <h3>Galeria:</h3>
            </div>
            <div class="col-md-12">
                <!-- Least Gallery -->
                <section id="least">

                    <!-- Least Gallery: Fullscreen Preview -->
                    <div class="least-preview"></div>

                    <!-- Least Gallery: Thumbnails -->
                    <ul class="least-gallery">
                        <!-- 1 || Element with data-caption ||-->
                        <li>
                            <a href="imagenes/Mov Col ITH (2).jpeg" title=" ">
                                <img src="imagenes/Mov Col ITH (2).jpeg" class="img-responsive" alt="Alt Image Text" />
                            </a>
                        <li>
                        <li>
                            <a href="imagenes/Mov Col ITH (3).jpeg" title=" ">
                                <img src="imagenes/Mov Col ITH (3).jpeg" class="img-responsive" alt="Alt Image Text" />
                            </a>
                        <li>
                        <li>
                            <a href="imagenes/Mov Col ITH (4).jpeg" title=" ">
                                <img src="imagenes/Mov Col ITH (4).jpeg" class="img-responsive" alt="Alt Image Text" />
                            </a>
                        <li>
                    </ul>
                </section>
            </div>
        </div>

        <!-----------------script galerias------------------->
        <script src="FotoGaleria/js/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- least.js library -->
        <script src="FotoGaleria/js/libs/least/least.min.js"></script>

        <script>
            $(document).ready(function () {
                $('.least-gallery').least();
            });
        </script>

        <!-- &&& START CODE &&& ONLY FOR PERSONAL USE: PLEASE DON'T EMBED THIS CODE INTO YOUR PAGE -->
        <script>
            /* Google Analytics */
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-16040332-11', 'leastjs.com');
            ga('set', 'anonymizeIp', true);
            ga('send', 'pageview');
        </script>


        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>