<div class="row">
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12" style="margin-bottom: 30px;margin-top: 10px; justify-items: center;">
            <ul class="nav nav-tabs">
                <li role="presentation"><a routerLink="/Sitios/Ciie">¿Quiénes Somos?</a></li>
                <li role="presentation"><a routerLink="/Sitios/Proceso">Proceso de Incubación</a></li>
                <li role="presentation" class="active"><a routerLink="/Sitios/Recurso">Recursos</a></li>
                <li role="presentation"><a routerLink="/Sitios/Contacto">Contáctanos</a></li>
            </ul>
        </div>
        <div class="col-md-12" style="color: black !important;margin-bottom: 30px;">
            <div clas="col-md-12" style="text-align: center;">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <td>Nombre</td>
                            <td>Descripcion</td>
                            <td>Tipo de Archivo</td>
                            <td>Link de Descarga</td>
                        </tr>
                        <tr>
                            <td>Registro a la incubadora</td>
                            <td>Archivo para el registro para el proceso de incubacion</td>
                            <td>Word</td>
                            <td><a href="en-construccion.html" target="_blank">click aqui</a></td>
                        </tr>
                        <tr>
                            <td>Registro a la incubadora</td>
                            <td>Archivo para el registro para el proceso de incubacion</td>
                            <td>PDF</td>
                            <td><a href="en-construccion.html" target="_blank">click aqui</a></td>
                        </tr>
                        <tr>
                            <td>Manual de plan de negocios</td>
                            <td>Manual para la redacción del plan de negocios </td>
                            <td>Word</td>
                            <td><a href="ANEXO B. GUÍA DE PLAN DE NEGOCIO.DOCX" target="_blank">click
                                    aqui</a></td>
                        </tr>
                        <tr>
                            <td>Manual de plan de negocios</td>
                            <td>Manual para la redacción del plan de negocios</td>
                            <td>PDF</td>
                            <td><a href="ANEXO B. GUÍA DE PLAN DE NEGOCIO.pdf" target="_blank">click
                                    aqui</a></td>
                        </tr>

                    </table>
                </div>

            </div>


            <div class="col-md-12" style="display: none;">
                <div class="col-md-12">
                    <h3>Galeria:</h3>
                </div>
                <div class="col-md-12">
                    <!-- Least Gallery -->
                    <section id="least">

                        <!-- Least Gallery: Fullscreen Preview -->
                        <div class="least-preview"></div>

                        <!-- Least Gallery: Thumbnails -->
                        <ul class="least-gallery">
                            <!-- 1 || Element with data-caption ||-->
                            <li>
                                <a href="imagenes/Mov Col ITH (2).jpeg" title=" ">
                                    <img src="imagenes/Mov Col ITH (2).jpeg" class="img-responsive"
                                        alt="Alt Image Text" />
                                </a>
                            <li>
                            <li>
                                <a href="imagenes/Mov Col ITH (3).jpeg" title=" ">
                                    <img src="imagenes/Mov Col ITH (3).jpeg" class="img-responsive"
                                        alt="Alt Image Text" />
                                </a>
                            <li>
                            <li>
                                <a href="imagenes/Mov Col ITH (4).jpeg" title=" ">
                                    <img src="imagenes/Mov Col ITH (4).jpeg" class="img-responsive"
                                        alt="Alt Image Text" />
                                </a>
                            <li>
                        </ul>
                    </section>
                </div>
            </div>

            <!-----------------script galerias------------------->
            <script src="FotoGaleria/js/libs/jquery/2.0.2/jquery.min.js"></script>
            <!-- least.js library -->
            <script src="FotoGaleria/js/libs/least/least.min.js"></script>

            <script>
                $(document).ready(function () {
                    $('.least-gallery').least();
                });
            </script>

            <!-- &&& START CODE &&& ONLY FOR PERSONAL USE: PLEASE DON'T EMBED THIS CODE INTO YOUR PAGE -->
            <script>
                /* Google Analytics */
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-16040332-11', 'leastjs.com');
                ga('set', 'anonymizeIp', true);
                ga('send', 'pageview');
            </script>


            <!------------------------------------>
            <!--------END CONTENIDO-->
        </div>
    </div>
    <!----END NOTAS------>

</div>