<div class=col-md-12>
        <footer class=main-footer>
            <div class=list-info>
                <div class=container>
                    <div class=row>
                        <div class=col-sm-4>
                            <h5>Enlaces</h5>
                            <ul>
                                <!-- <li><a href=https://reformas.gob.mx target=_blank>Reformas</a> -->
                                <li><a href="https://portaltransparencia.gob.mx" target=_blank>Portal de Obligaciones de
                                        Transparencia</a>
                                <li><a href="https://www.infomex.org.mx/gobiernofederal/home.action" target=_blank>Sistema
                                        Infomex</a>
                                <li><a href="https://inicio.ifai.org.mx/SitePages/ifai.aspx" target=_blank>INAI</a>
                            </ul>
                        </div>
                        <div class=col-sm-4>
                            <h5>¿Qué es gob.mx?</h5>
                            <p>Es el portal único de trámites, información y participación ciudadana. <a
                                    href="https://www.gob.mx/que-es-gobmx">Leer más</a>
                            <ul>
                                <li><a href="https://www.gob.mx/en/index">English</a>
                                <li><a href="https://www.gob.mx/temas">Temas</a>
                                <li><a href="https://www.gob.mx/accesibilidad">Declaración de Accesibilidad</a>
                                <li><a href="https://www.gob.mx/privacidadintegral">Aviso de privacidad integral</a>
                                <li><a href="https://www.gob.mx/privacidadsimplificado">Aviso de privacidad
                                        simplificado</a>
                                <li><a href="https://www.gob.mx/terminos">Términos y Condiciones</a>
                                <li><a href="https://www.gob.mx/terminos#medidas-seguridad-informacion">Política de
                                        seguridad</a>
                                <li><a href="https://www.ordenjuridico.gob.mx" target=_blank>Marco Jurídico</a>
                                <li><a href="https://www.gob.mx/sitemap">Mapa de sitio</a>
                            </ul>
                        </div>
                        <div class=col-sm-4>
                            <h5>Contacto</h5>
                            <p>Mesa de ayuda: dudas e información<br>gobmx@funcionpublica.gob.mx
                            <p><a
                                    href="https://www.gob.mx/tramites/ficha/presentacion-de-quejas-y-denuncias-en-la-sfp/SFP54">Denuncia
                                    contra servidores públicos</a>
                        </div>
                    </div>
                    <div class=row>
                        <div class=col-sm-4>
                            <form id=subscribete role=form>
                                <fieldset>
                                    <legend class=vh>Suscríbete</legend><label for=email>Mantente informado.
                                        Suscríbete.</label>
                                    <div class=form-group-icon><input class=form-control id=email
                                            aria-label="Ingresa tu correo electrónico" name=email
                                            placeholder=usuario@ejemplo.com><button class="btn blue-right" type=button
                                            id=subscribe><span class=vh>Suscríbete</span><i
                                                class=icon-caret-right></i></button></div>
                                    <div class="hidden message-subscribe"></div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4">
                            <h5>Síguenos en</h5>
                            <ul class=list-inline>
                                <li><a href="https://www.facebook.com/gobmx" target=_blank class="social-icon facebook"
                                        aria-label="Facebook de presidencia"></a>
                                <li><a href="https://twitter.com/gobmx" target=_blank class="social-icon twitter"
                                        aria-label="Twitter de presidencia"></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class=container>
                <div class=row>
                    <div class=col-sm-4><img src="https://framework-gb.cdn.gob.mx/gobmx/img/logo_blanco.svg "
                            loading=lazy class=gobmx-footer alt="Página de inicio, Gobierno de México" height=39
                            width=126></div>
                    <div class="col-sm-4 col-sm-offset-4"></div>
                </div>
            </div><img
                src="https://sb.scorecardresearch.com/p?c1=2&c2=17183199&ns_site=gobmx&name=www.gob.guias.grafica"
                loading=lazy class=vh alt=* height=1 width=1><noscript><img
                    src="https://sb.scorecardresearch.com/p?c1=2&c2=17183199&cv=2.0&cj=1" loading=lazy></noscript>
        </footer>
    </div>