<ul class="nav nav-pills nav-stacked">
    <li class="active"><a routerLink="/oferta-educativa/Maestria-IE">Inicio</a></li>
    <li><a target="_blank" href="/../documentos/Listado aspirantes aceptados MIE 2024-2.pdf">Listado
            aspirantes aceptados MIE 2024-2</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-IE-costo">Costos</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-IE-convocatoria">Convocatorias</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-IE-plan">Plan de Estudios</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-IE-app">Aplicación de Conocimientos</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-IE-nucleo">Núcleo Academico Básico</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-IE-estudiantes">Estudiantes Matriculados</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-IE-productividad">Productividad Académica</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-IE-vinculacion">Vinculación</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-IE-actividades">Actividades de retribucion social y
            divulgacion</a></li>
    <li><a href="https://www.dof.gob.mx/nota_detalle.php?codigo=5698698&fecha=16/08/2023#gsc.tab=0">Reglamento de becas
            CONAHCyT.</a></li>
    <li><a
            href="../../documentos/LINEAMIENTOS PARA LA OPERACION DEL POSGRADO DEL TECNOLOOGICO NACIONAL DE MEXICO 2023 -1-1.pdf">Línea
            Lineamientos de Posgrado TecNM:</a></li>
    <li><a href="https://rinacional.tecnm.mx/">Repositorio institucional.</a></li>
    <li><a routerLink="/oferta-educativa/Maestria-IE-Contacto">Contacto</a></li>
</ul>