<div class="row">
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h1 class="tnota">
                Material Secretaría de la Función Pública
            </h1>
        </div>
        <div class="col-md-12">
            <div style="height:30px;">
                <br><br><br>
                <h3><strong>Material 2022</strong></h3><br><br><br>
                <a href="documentos/Codigo de Etica-amigable SFP 2022 WEB.pdf" target="_blank"><img
                        src="../imagenes/codigo etica 2.jpeg" alt="" title="" /></a>
                <a href="https://alertadores.funcionpublica.gob.mx" target="_blank"><img
                        src="../imagenes/Banner ciudadanos alertadores 2021-2.png" alt="" title="" /></a>
                <a href="https://www.dof.gob.mx/nota_detalle.php?codigo=5642176&fecha=08/02/2022" target="_blank"><img
                        src="../imagenes/BANNER CODIGOETICA14FEB22.PNG" style="height: 360px; width:980px;" alt=""
                        title="" /></a>
                <br><br><br>
                <h3><strong>Material de noviembre 2021</strong></h3><br><br><br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/q1lt5wHIo48"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/MzgPmwzmkks"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/sD6C32uaF-8"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dww54uV-T0Y"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/SsTKVw4Kpt4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3><strong>Material de octubre 2021</strong></h3>
                <img src="../imagenes/Banner integridad info2.png" class="img-responsive" style="max-width:100%;">
                <img src="../imagenes/Actuar_Integridad infografía.png" class="img-responsive" style="max-width:100%;">
                <br><br><br>
                <h3><strong>Material de septiembre 2021</strong></h3><br><br><br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NvpmH5F5Dks"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BAMyCGj8ivA"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7IEcJyrVNGU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

            </div>
        </div>
        <div class="col-md-12">
            <p>
                <br><br>

                <br>
                <label id="fecha-noticia" style="float:right"></label>
                <br><br>
            </p>
        </div>
        <div class="col-md-12" style="display: none;">
            <div class="col-md-12">
                <h3>Galeria:</h3>
            </div>
            <div class="col-md-12">
                <!-- Least Gallery -->
                <section id="least">

                    <!-- Least Gallery: Fullscreen Preview -->
                    <div class="least-preview"></div>

                    <!-- Least Gallery: Thumbnails -->
                    <ul class="least-gallery">
                        <!-- 1 || Element with data-caption ||-->
                        <li>
                            <a href="../imagenes/Nota Marruenta oct 2021 (2).JPG" title=" ">
                                <img src="../imagenes/Nota Marruenta oct 2021 (2).JPG" class="img-responsive"
                                    alt="Alt Image Text" />
                            </a>
                        <li>
                    </ul>
                </section>
            </div>
        </div>

        <!-----------------script galerias------------------->
        <script src="FotoGaleria/js/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- least.js library -->
        <script src="FotoGaleria/js/libs/least/least.min.js"></script>

        <script>
            $(document).ready(function () {
                $('.least-gallery').least();
            });
        </script>

        <!-- &&& START CODE &&& ONLY FOR PERSONAL USE: PLEASE DON'T EMBED THIS CODE INTO YOUR PAGE -->
        <script>
            /* Google Analytics */
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-16040332-11', 'leastjs.com');
            ga('set', 'anonymizeIp', true);
            ga('send', 'pageview');
        </script>


        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>