<div class="row">
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h1 class="tnota">
                SEGURIDAD Y SALUD EN EL TRABAJO
            </h1>
        </div>
        <div class="col-md-12" style="display: none;">
            <div>
                <img src="../imagenes/Banner-Nuevo-Ingreso-ITH-2020.png" class="img-responsive" style="max-width:100%;">
            </div>
        </div>
        <div class="col-md-12">


            <br><br>
            <label>Guía ergonómica para trabajar desde casa 2020.</label>
            <br>
            <label>Descarga la guía ergonómica para trabajar desde casa 2020</label>
            <br>
            <a href="../documentos/Documento Guia Ergonomica para trabajar en casa 2020.pdf" target="_blank">Haz click aquí
                para descargar el documento</a>
            <br>
            <a href="../documentos/Presentacion Guia Ergonomica para trabajar desde casa 2020.pdf" target="_blank">Haz
                click aquí para descargar la presentación</a>
            <br><br>
            <a
                href="../documentos/Libro-Seguridad y salud en el trabajo en México-Avances, retos y desafios (Digital).pdf">Libro-Seguridad
                y salud en el trabajo en México-Avances, retos y desafios (Digital)</a><br><br>
            <a href="../documentos/Presentación libro SST_23-11-17-OK.pptx">Presentación Libro-Seguridad y salud en el
                trabajo en México-Avances, retos y desafios(Digital)</a><br><br>
            <a href="../documentos/semana estatal/03 Proceso de Certificacion.PNG"> Proceso de Certificacion</a><br><br>
            <a href="../documentos/semana estatal/CONFERENCIA FACT RIESGO PSICOS SEMANA SEHi 2019.pdf"> CONFERENCIA FACT
                RIESGO PSICOS SEMANA SEHi 2019</a><br><br>
            <a href="../documentos/semana estatal/CURSO RIESGOS PSICOSOCIALES.zip"> CURSO RIESGOS PSICOSOCIALES</a><br><br>
            <a href="../documentos/semana estatal/Los OIT estaìndares de competencia en SST.pdf"> Los OIT estaìndares de
                competencia en SST</a><br><br>
            <a href="../documentos/semana estatal/MECANISMOS ALTERNOS A LA INSPECCION.pdf"> MECANISMOS ALTERNOS A LA
                INSPECCION</a><br><br>
            <a href="../documentos/semana estatal/Mina La India Semana Estatal SyS 2019 V1 (en proceso).pdf"> Mina La India
                Semana Estatal SyS 2019 V1 (en proceso)</a><br><br>
            <a href="../documentos/semana estatal/PERSUASION APLICAD A SEGURIDAD Jun 2018.pdf"> PERSUASION APLICAD A
                SEGURIDAD Jun 2018</a><br><br>
            <a href="../documentos/semana estatal/PISSA 2019.mp4"> PISSA 2019</a><br><br>
            <a href="../documentos/semana estatal/presentacion riegos psicosociales NOM-035-STPS-2018 SS.pdf"> presentacion
                riegos psicosociales NOM-035-STPS-2018 SS</a><br><br>
            <a href="../documentos/semana estatal/Presentacion STPS-MINA LA CARIDAD.pdf"> Presentacion STPS-MINA LA
                CARIDAD</a><br><br>
            <a href="../documentos/semana estatal/Presentaciones CONOCER.zip"> Presentaciones CONOCER</a><br><br>
            <a href="../documentos/semana estatal/Presentación NOM-036-1.pdf"> Presentación NOM-036-1</a><br><br>
            <a
                href="../documentos/semana estatal/Procedimiento para dictaminar  Enfermedades Psicosociales en el IMSS.pdf">
                Procedimiento para dictaminar Enfermedades Psicosociales en el IMSS</a><br><br>
            <a href="../documentos/semana estatal/SEMANA ESTATAL DE SEGURIDAD Y SALUD EN EL TRABAJO, SONORA 2019.pdf">
                SEMANA ESTATAL DE SEGURIDAD Y SALUD EN EL TRABAJO, SONORA 2019</a><br><br>
            <a href="../documentos/semana estatal/SEMANA ESTATAL DE SEGURIDAD Y SALUD EN EL TRABAJO.pdf"> SEMANA ESTATAL DE
                SEGURIDAD Y SALUD EN EL TRABAJO</a><br><br>
            <a href="../documentos/semana estatal/SEMBLANZA DE MCVT JUN 18 (1).pdf"> SEMBLANZA DE MCVT JUN 18
                (1)</a><br><br>
            <a href="../documentos/semana estatal/Semblanza JAGC.pdf"> Semblanza JAGC</a><br><br>
            <a href="../documentos/semana estatal/SES STPS ERGONOMIA  2019.pdf"> SES STPS ERGONOMIA 2019</a><br><br>
            <a href="../documentos/semana estatal/SGA-NOM-018-STPS-2015- 04122019.pdf"> SGA-NOM-018-STPS-2015-
                04122019</a><br><br>





        </div>
        <div class="col-md-12" style="display: none;">
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
                <!-- Least Gallery -->

            </div>
        </div>




        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>