<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota">Maestría en Ingeniería Electrónica <br> Actividades de retribución social y divulgación.
            </h2>
        </div>

        <div class="col-md-12">
            <div class="col-md-9">
                <p>
                    <b> 1. Actividades de retribución social y divulgación.</b> <br>
                    <br>
                    <a href="../../documentos/Anexo 1. Actividades de Retribucion Social-1.pdf"><b>Anexo 1. Actividades
                            de Retribución Social-1.pdf</b></a> <br>
                    <br>
                    LOS DERECHOS Y OBLIGACIONES DEL BECARIO, DE LA COORDINACIÓN ACADÉMICA DE PROGRAMA DEL POSGRADO
                    POSTULANTE Y DEL CONAHCYT, CON MOTIVO DE LA ASIGNACIÓN DE LA BECA.
                    <br>
                    <br>

                    DERECHOS Y OBLIGACIONES DEL BECARIO
                    <br>
                    <br>
                    <br>
                    Entregar al Conahcyt el informe de la investigación documental, de campo o de laboratorio, así como
                    la Constancia de actividades de retribución social, en los términos que para esos efectos se
                    establezcan para realizar el trámite de conclusión de la beca.
                    <br>
                    <br>
                    <br>
                    DERECHOS Y OBLIGACIONES DE LA COORDINACIÓN ACADÉMICA DE PROGRAMA DEL POSGRADO POSTULANTE
                    <br>
                    <br>
                    <br>
                    Corroborar la entrega, al Conacyt, del informe de la investigación documental, de campo o de
                    laboratorio, así como la Constancia de actividades de retribución social, en los términos que para
                    esos efectos se establezcan para realizar el trámite de conclusión de la beca. presenta el plan de
                    trabajo del Programa de Retribución Social, que se sustenta en el artículo segundo del actual
                    Reglamento de Becas del Programa de Fomento, Formación y Consolidación de Capital Humano de Alto
                    Nivel, en el que se establece que la retribución social es “el compromiso que adquiere el becario
                    para colaborar al desarrollo del país en el ámbito de su formación y conocimiento.”
                    <br>
                    <br>
                    Reglamento:
                    <br>
                    <b>ARTÍCULO 2.</b> Para los efectos del presente Reglamento, se entenderá, en singular o plural,
                    por:
                    <br>
                    <br>
                    <br>
                    <b>XXVIII. Retribución Social:</b> las actividades realizadas por las personas Becarias con actores
                    de los sectores público, social o privado para promover el acceso universal al conocimiento
                    científico y sus beneficios sociales, en particular de aquellos que deriven del proceso de formación
                    para el que recibieron la Beca.
                    <br>
                    <br>
                    <br>
                    <b>ARTÍCULO 16.</b> A la persona Becaria le corresponderá, además de cumplir con el objetivo para el
                    cual se le asigna la Beca o Apoyo complementario, lo siguiente:
                    <br>
                    <br>
                    <br>
                    <b>I. Obligaciones comunes:</b>
                    <br>
                    <b>i) Entregar al Consejo el informe de la investigación documental, de campo o de laboratorio, así
                        como la Constancia de actividades de retribución social, en los términos que para esos efectos
                        se establezcan.</b>
                    <br>


                </p>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <app-navbar3></app-navbar3>
                </div>
                <div class="col-md-12 img-responsive text-center" style="margin-top:20px;">
                    <img
                        src="https://conahcyt.mx/wp-content/uploads/2021/10/logo_conacyt_con_sintagma_azul_completo.svg">
                </div>


            </div>
        </div>



        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>