<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota">DOCUMENTOS OPERATIVOS</h2>
        </div>

        <div class="col-md-12">
            <div class="hyphenate llda">
                <h4>Certificaciones</h4>
                <ul class="pdf">
                    <li><a href="../documentos/CAMPUS CERTIFICADO 100 LIBRE PLASTICO DE UN SOLO USO.pdf"
                            target="_blank">Certificado 100% Libre De Plastico De uN Solo Uso</a></li>
                    <li><a href="../documentos/CERTIFICADO ISO 9001-2015.pdf" target="_blank">Certificado Certificado ISO
                            9001 </a></li>
                    <li><a href="../documentos/34 IT DE HERMOSILLO.pdf" target="_blank">Certificado Norma Mexicana
                            NMX-R-025-SCFI-2015 en Igualdad Laboral y No Discriminación</a></li>
                </ul>
                <hr>
                <h4>Actualizaciones del Marco Normativo</h4>

                <ul class="pdf">
                    <li><a href="../documentos/Manual de Organización del Instituto Tecnologico.pdf" target="_blank">Manual
                            de
                            Organización del Instituto Tecnológico</a></li>
                    <li><a href="../documentos/Marco normativo en materia de Transparencia (2).pdf" target="_blank">Marco
                            Normativo en Materia de Transparencia</a></li>
                    <li><a href="../documentos/Acuerdo 25 10 20 SEP.pdf" target="_blank">ACUERDO número 25/10/20 por el que
                            se modifica el diverso numero 16/08/19 por el que se expide el Código de Conducta
                            para las Personas Servidoras Públicas de la Secretaría de Educacion Pública</a></li>
                    <li><a href="../documentos/Proigualdad DOF 22 12 2020.pdf" target="_blank">DECRETO por el que se
                            aprueba el Programa Nacional para la igualdad entre Mujeres y Hombres 2020-2024</a></li>
                </ul>
                <hr>
                <ul class="doc">
                    <li><a href="../documentos/Anexo II-Solicitud de Traslado.docx">Anexo II-Solicitud de Traslado</a></li>
                    <li><a href="../documentos/Anexo XIII-Solicitud de equivalencia.docx">Anexo XIII-Solicitud de
                            equivalencia</a></li>
                    <li><a href="../documentos/ANEXO V. FORM. DE SOL. DE CONVAL. DE ESTUDIOS.docx">ANEXO V. FORM. DE SOL.
                            DE CONVAL. DE ESTUDIOS</a></li>
                    <!--<li><a href="../pasada/documentos/ACADEMIAS.doc">Academias</a></li>-->

                    <li><a href="../documentos/Manuales-de-Vinculacion.pdf" target="_blank">Manuales de Vinculación</a>
                    </li>

                    <li><a href="../documentos/Logistica-honores-a-la-bandera-TecNM-Hermosillo.pdf"
                            target="_blank">Logística Honores a la Bandera</a></li>

                    <li><a href="../documentos/Himno_Tecnologico(LETRA).pdf" target="_blank">Himno de los
                            Tecnológicos (Letra)</a></li>

                    <li><a href="http://hermosillo.tecnm.mx/documentos/ISO2019/PROCESO%20ACADEMICO/PROCESO%20EVALUACION%20DOCENTE/ITH-AC-PO-005%20Evaluación%20docente%20rev%202/ITH-CA-PO-005 PROCEDIMIENTO PARA LA EVALUACION DOCENTE Rev3.pdf"
                            target="_blank">Procedimientos
                            para la Evaluación Docente</a></li>

                    <li><a href="http://hermosillo.tecnm.mx/documentos/ISO2019/PROCESO%20ACADEMICO/PROCESO%20EVALUACION%20DOCENTE/ITH-AC-PO-005%20Evaluación%20docente%20rev%202/ITH-CA-PO-005-01%20RETROALIMENTACION%20DEL%20CLIENTErEV2.docx"
                            target="_blank">Retroalimentación
                            del Cliente</a></li>


                </ul>

            </div>



            <div class="hyphenate llda">

                <ul class="mp3">

                    <li><a href="../documentos/Himno Tecnologicos con letra.mp4">Himno de los Tecnológicos
                            (Cantado)</a></li>

                </ul>

            </div>


            <div class="lld2">

                <div>

                    <ul class="pdf">
                        <li><a href="../documentos/ITH PDI V7 2018 2024.pdf" target="_blank">Programa de Desarrollo
                                Institucional PDI 2019 - 2024</a></li>
                        <li><a href="../documentos/CUADERNO DE TUTORIA DEL ESTUDIANTE DEL ITH 2021_Actualizado.pdf"
                                target="_blank">Cuaderno
                                Tutorías</a></li>

                        <li><a href="../pasada2/2014/Clasificador_por_Objeto_del_Gasto_para_la_Administracion_Publica_Federal.pdf"
                                target="_blank">Clasificador por Objeto del Gasto para la Administración Pública
                                Federal</a></li>

                        <li><a href="../documentos/diario oficial estructura tnm.docx" target="_blank">DIARIO OFICIAL
                                ESTRUCTURA tecNM</a></li>

                        <li><a href="../documentos/Actividades de retribucion social y divulgacion en el TecNM.pdf"
                                target="_blank">Disposiciones para
                                la Operación de Estudios de Posgrado</a></li>

                        <li><a href="../documentos/Ley de Adquisiciones, Arrendamientos y Servicios del Sector Público.pdf"
                                target="_blank">Ley
                                de Adquisiciones, Arrendamientos y Servicios del Sector Público</a></li>

                        <li><a href="../documentos/Ley Federal de Responsabilidad de los Servidores Públicos.pdf"
                                target="_blank">Ley
                                Federal de Responsabilidad de los Servidores Públicos</a></li>

                        <li><a href="../documentos/Ley General de Transparencia y Acceso a la Informacion.pdf"
                                target="_blank">Ley
                                de Transparencia</a></li>



                        <li><a href="../en-construccion.html" target="_blank">Manual
                                de Administración de Recursos Financieros</a></li>

                        <li><a href="../en-construccion.html" target="_blank">Manual de
                                Anteproyecto de Inversión</a></li>

                        <li><a href="../en-construccion.html" target="_blank">Manual de Organización General del
                                Tecnológico Nacional de México</a></li>

                        <!--<li><a href="../pasada/documentos/acreditaciondeasignaturas.pdf">Manual de Procedimientos para la Acreditación de Asignaturas de los Planes de Estudio de los Institutos Tecnológicos</a></li>-->

                        <!--<li><a href="../pasada/documentos/ACADEMIAS.pdf">Manual de Procedimientos para la Instalación y Operación de Academias en los Institutos Tecnológicos</a></li>-->

                        <!--<li><a href="../pasada/documentos/manualresidenciasprofesionales.pdf">Manual de Procedimientos para la Planeación, Operación y Acreditación de las Residencias Profesionales en los Institutos Tecnológicos</a></li>-->

                        <li><a href="../en-construccion.html" target="_blank">Manual
                                de Procedimientos para la Planeación, Programación y Evaluación
                                Presupuestal</a></li>
                        <li><a href="../documentos/Documentos-Operativos/pia 2018.pdf" target="_blank">PIA 2018</a></li>
                        <li><a href="../documentos/PIID 2013-2018 ITHERMOSILLO.pdf" target="_blank">PIID 2013-2018</a></li>


                        <li><a href="../documentos/Procedimiento para inscripcion y reinscripcion Institutos Tecnologicos.pdf"
                                target="_blank">Procedimiento
                                para la Inscripción y Reinscripción de alumnos de los Institutos
                                Tecnológicos</a></li>

                        <li><a href="../documentos/PRONTUARIO ESTADISTICO 2015-1.pdf" target="_blank">PRONTUARIO
                                ESTADÍSTICO 2015-1</a></li>
                        <li><a href="../documentos/PRONTUARIO ESTADISTICO 2015-2.pdf" target="_blank">PRONTUARIO
                                ESTADÍSTICO 2015-2</a></li>
                        <li><a href="../documentos/PRONTUARIO ESTADISTICO 2016-1.pdf" target="_blank">PRONTUARIO
                                ESTADÍSTICO 2016-1</a></li>

                        <li><a href="../documentos/Documentos-Operativos/PRONTUARIO ESTADISTICO 2016-2.pdf">PRONTUARIO
                                ESTADÍSTICO 2016-2</a></li>
                        <li><a href="../documentos/PRONTUARIO ESTADISTICO 2017-1.pdf">PRONTUARIO ESTADÍSTICO
                                2017-1</a></li>
                        <li><a href="../documentos/PRONTUARIO ESTADISTICO 2017-2.xlsx.pdf">PRONTUARIO
                                ESTADÍSTICO 2017-2</a></li>
                        <li><a href="../documentos/PRONTUARIO ESTADISTICO 2018-1.pdf">PRONTUARIO ESTADÍSTICO
                                2018-1</a></li>
                        <li><a href="../documentos/PRONTUARIO ESTADISTICO 2018-2.xlsx.pdf">PRONTUARIO
                                ESTADÍSTICO 2018-2</a></li>
                        <li><a href="../documentos/prontuario 2019-1.pdf">PRONTUARIO
                                ESTADÍSTICO 2019-1</a></li>
                        <li><a href="../documentos/PRONTUARIO ESTADISTICO 2019-2.pdf">PRONTUARIO
                                ESTADÍSTICO 2019-2</a></li>
                        <li><a href="../documentos/prontuario estadistico 2020-1.pdf">PRONTUARIO ESTADÍSTICO 2020-1</a>
                        </li>
                        <li><a href="../documentos/prontuario estadistico 2020-2.pdf">PRONTUARIO ESTADÍSTICO 2020-2</a>
                        </li>
                        <li><a href="../documentos/PRONTUARIO 2021-1.pdf">PRONTUARIO ESTADÍSTICO 2021-1</a></li>
                        <li><a href="../documentos/PRONTUARIO 2021-2.pdf">PRONTUARIO ESTADÍSTICO 2021-2</a></li>
                        <li><a href="../documentos/prontuario estadistico 2022-1.pdf">PRONTUARIO ESTADÍSTICO 2022-1</a>
                        </li>
                        <li><a href="../documentos/prontuario estadistico 2022-2.pdf">PRONTUARIO ESTADÍSTICO 2022-2</a>
                        </li>
                        <li><a href="../documentos/PRONTUARIO ESTADISTICO 2023-1.pdf">PRONTUARIO ESTADÍSTICO 2023-1</a>
                        </li>
                        <li><a href="../documentos/prontuario 2023-2-2.pdf">PRONTUARIO ESTADÍSTICO 2023-2</a></li>
                        <li><a href="../documentos/prontuario estadistico 2024-1.pdf">PRONTUARIO ESTADÍSTICO 2024-1</a>
                        </li>
                        <li><a href="../documentos/Reglamento_de_Estudiantes_del_TecNM.pdf" target="_blank">Reglamento de
                                los
                                Reglamento_de_Estudiantes_del_TecNM </a></li>
                        <li><a href="../documentos/matricula actual 2021-2.pdf" target="_blank">Matrícula Estudiantil
                                2021-2</a></li>
                        <li><a href="../documentos/Matricula  2023-1.pdf" target="_blank">Matrícula Estudiantil 2023-1</a>
                        </li>
                        <li><a href="../documentos/Matricula 2023-2.pdf" target="_blank">Matrícula Estudiantil 2023-2</a>
                        </li>
                        <li><a href="../documentos/Matricula 2024-1.pdf" target="_blank">Matrícula Estudiantil 2024-1</a>
                        </li>
                        <li><a href="../documentos/Reglamento de los Alumnos del Sistema Nacional de Institutos Tecnológicos.pdf"
                                target="_blank">Reglamento de los
                                Alumnos del Sistema Nacional de Institutos Tecnológicos </a></li>

                        <li><a href="../documentos/Reglamento Interior Alumnos-ITH-2016.pdf">Reglamento
                                Interior Alumnos-ITH-2016</a></li>
                        <li><a href="../documentos/REGLAMENTO CI.pdf">Reglamento Centro de Información</a></li>


                        <li><a href="../documentos/Documentos-Operativos/agenda est 2016 .pdf" target="_blank">Agenda
                                Estadistica 2016 </a></li>
                        <li><a href="../documentos/Documentos-Operativos/AGENDA ESTADISTICA 2017.pdf"
                                target="_blank">Agenda
                                Estadistica 2017 </a></li>

                        <li><a href="../documentos/Documentos-Operativos/agenda 2018.pdf" target="_blank">Agenda
                                Estadistica 2018 </a></li>
                        <li><a href="../documentos/AGENDA ESTADISTICA 2019 TecNM Hermosillo.pdf" target="_blank">Agenda
                                Estadistica 2019 </a></li>
                        <li><a href="../documentos/agenda estadistica 2020.pdf" target="_blank">Agenda Estadistica 2020
                            </a></li>

                        <li><a href="../documentos/Documentos-Operativos/PTA 2020 ITHermosillo.pdf"
                                target="_blank">Programa de Trabajo Anual 2020</a></li>
                        <li><a href="../documentos/Documentos-Operativos/PROGRAMA DE TRABAJO ANUAL 2021.pdf"
                                target="_blank">Programa de Trabajo Anual 2021</a></li>
                        <li><a href="../documentos/Documentos-Operativos/PROGRAMA DE TRABAJO ANUAL 2022.pdf"
                                target="_blank">Programa de Trabajo Anual 2022</a></li>
                        <li><a href="../documentos/Documentos-Operativos/IRC 2017               IT Hermosillo (1).pdf"
                                target="_blank">Informe de Rendición de cuentas 2017 </a></li>
                        <li><a href="../documentos/Documentos-Operativos/IRC 2018 TECNM ITH.pdf" target="_blank">Informe de
                                Rendicion de Cuentas 2018</a></li>
                        <li><a href="../documentos/ITHERMOSILLO IRC 2019.pdf" target="_blank">Informe de Rendición de
                                Cuentas 2019</a></li>
                        <li><a href="../documentos/INFORME DE RENDICION DE CUENTAS 2020 ITHERMOSILLO.pdf"
                                target="_blank">Informe de Rendición de Cuentas 2020</a></li>
                        <li><a href="../documentos/Informe de Rendición de Cuentas  2021.pdf" target="_blank">Informe de
                                Rendición de Cuentas 2021</a></li>
                        <li><a href="../documentos/Informe de Rendicion de Cuentas 2022.pdf" target="_blank">Informe de
                                Rendición de Cuentas 2022</a></li>



                    </ul>
                    <ul class="xls">
                        <li><a href="../documentos/CUCoP_23Mar2022.xlsx" target="_blank">CUCoP 2020</a></li>

                    </ul>


                    <h4>LINEAMIENTOS ACADÉMICO-ADMINISTRATIVOS 2009-2010</h4>

                    <ul class="pdf">

                        <li><a
                                href="../documentos/Documentos-Operativos/Lineamiento para la      Integración y Operación de Academias.pdf">Academias</a>
                        </li>

                        <li><a
                                href="../documentos/Documentos-Operativos/Lineamiento para la      Evaluación y Acreditación de Asignaturas.pdf">Acreditación
                                de asignaturas</a></li>

                        <li><a
                                href="../documentos/Documentos-Operativos/Lineamiento para la      Convalidación de Estudios.pdf">Cambio
                                de carrera</a></li>

                        <li><a
                                href="../documentos/Documentos-Operativos/Lineamiento para la      Operación del Comité Académico.pdf">Comite
                                académico</a></li>

                        <li><a href="../documentos/Documentos-Operativos/Lineamiento de      Educación a Distancia.pdf">Educación
                                a distancia</a></li>

                        <li><a
                                href="../documentos/Documentos-Operativos/Lineamiento para la      Resolución de Equivalencia de Estudios.pdf">Equivalencias
                                de estudio</a></li>

                        <li><a
                                href="../documentos/Documentos-Operativos/Lineamiento para la Integracion de Especialidades.pdf">Especialidades</a>
                        </li>

                        <li><a href="../documentos/Documentos-Operativos/Lineamiento para la Movilidad Estudiantil.pdf">Movilidad
                                estudiantil</a></li>

                        <li><a
                                href="../documentos/Documentos-Operativos/Lineamiento para la  Operación y Acreditación de la Residencia Profesional.pdf">Residencia
                                profesional</a></li>

                        <li><a href="../documentos/Documentos-Operativos/Lineamiento para la Salida Lateral.pdf">Salida
                                lateral</a></li>

                        <li><a
                                href="../documentos/Documentos-Operativos/Lineamiento para la Titulacion Integral.pdf">Titulación</a>
                        </li>

                        <li><a href="../documentos/Documentos-Operativos/Lineamiento para el Traslado Estudiantil.pdf">Traslado
                                estudiantil</a></li>

                        <li><a
                                href="../documentos/Documentos-Operativos/Lineamiento para la      Operación del Programa de Tutoría.pdf">Tutoría</a>
                        </li>

                        <li><a
                                href="../documentos/Documentos-Operativos/Lineamiento para      Acreditación de Actividades Complementarias.pdf">Actividades
                                complementarias</a></li>

                        <li><a
                                href="../documentos/Documentos-Operativos/Lineamiento para la  Operación y Acreditación del Servicio Social.pdf">Servicio
                                social</a></li>

                        <li><a href="../documentos/Documentos-Operativos/Manual_de_Lineamientos_TecNM.pdf">Manual
                                de lineamientos académico-administrativos</a></li>
                    </ul>
                    <br><br>
                    <h4>MANUAL DE LINEAMIENTOS ACADÉMICOS DEL TECNOLÓGICO NACIONAL DE MÉXICO (OCTUBRE 2015)</h4>

                    <ul class="pdf">
                        <li><a href="../documentos/Documentos-Operativos/Manual_de_Lineamientos_TecNM.pdf">Manual
                                de lineamientos académico-administrativos</a></li>
                    </ul>


                    <h4>RECURSOS HUMANOS</h4>
                    <ul class="pdf">
                        <li><a href="../documentos/Reglamento_de_las_Condiciones_Generales_de_Trabajo_del_Personal_de_la_SEP.pdf"
                                target="_blank">Reglamento
                                de las condiciones generales de trabajo del personal de la SEP</a></li>
                        <li><a href="../documentos/LEY DEL ISSSTE.pdf" target="_blank">Ley del ISSSTE </a></li>
                        <li><a href="../documentos/Ley Federal del Trabajo.pdf" target="_blank">Ley Federal del Trabajo</a>
                        </li>
                        <li><a href="../documentos/B) 1-2-3 NORMATIVIDAD.pdf" target="_blank">Manual de Normas para la
                                Administración de Recursos Humanos en la Secretaría de Educación Pública.</a></li>
                        <li><a href="../documentos/A) 1-2-3 REGLAMENTO_DE_TRABAJO_DEL_PERSONAL_DOCENTE.pdf"
                                target="_blank">Reglamento
                                de Trabajo del Personal Docente </a></li>
                        <li><a href="../documentos/Reglamento de Trabajo del Personal No Docente.pdf"
                                target="_blank">Reglamento
                                de Trabajo del Personal No Docente </a></li>
                    </ul>


                    <p>&nbsp;</p>

                    <p>&nbsp;</p>

                </div>

            </div>

        </div>



        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>