<div class="row">
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h1 class="tnota"> </h1>
        </div>
        <div class="col-md-12">

        </div>
        <div class="col-md-12">

            <div>
                <img src="imagenes/506083262_723980850127004_8168517162871324334_n.jpg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/495470948_696606156197807_5729719448394592601_n.jpg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2025-03-31 at 12.52.25 PM.jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>

            <div>
                <img src="imagenes/468211656_582400924284998_6023489872597405991_n.jpg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/462652809_552360303955727_8319391458891509734_n.jpg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/461303838_542011821657242_5538885525350084409_n.jpg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/457139302_520598797131878_275134659656102441_n.jpg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/452324231_498793019312456_1291663476500599349_n.jpg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/451432825_494793069712451_2911453581491144977_n.jpg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/449776728_487284980463260_4060759752220728259_n.jpg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/448880905_481637844361307_4647792488954708439_n.jpg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/447029531_466276035897488_7724248297863804620_n.jpg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.51 PM.jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.50 PM (5).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>

            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.50 PM (4).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.50 PM (3).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>

            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.50 PM (2).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.50 PM (1).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.47 PM (1).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.47 PM.jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.50 PM.jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>

            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.49 PM (6).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.49 PM (5).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>


            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.49 PM (1).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.49 PM (4).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>

            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.49 PM (3).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.49 PM (2).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.49 PM.jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.48 PM (4).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.48 PM (3).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.48 PM (2).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.48 PM (1).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.48 PM.jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.47 PM (5).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.47 PM (4).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.47 PM (3).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>

            <div>
                <img src="imagenes/WhatsApp Image 2024-05-06 at 2.10.47 PM (2).jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/WhatsApp Image 2024-05-08 at 11.53.17 AM.jpeg" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/Esquela Soraida Mesinas.png" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/Esquela Miguel Machichi.png" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/Esquela Mario Martinez Romo.png" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/Esquela Enrique Siqueiros.png" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/Esquela Dativa Miramontes.png" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/Esquela alumno mecanica Jesus Bracamontes.png" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/Esquela mtro maytorena.png" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/María Dolores Gutiérrez Espinoza.png" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/Esquela alumno bio Hector David Gonzalez Castro.png" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/Esquela Luis Lomeli Rabago.png" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/Esquela-Jesus-Hernandez-Garcia-ITH .png" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/Esquela Panchita Teran.png" class="img-responsive"
                    style="max-width:100%; margin-bottom: 20px; border:1px solid;">
            </div>
            <div>
                <img src="imagenes/Obit 10 jul 2020 a.png" class="img-responsive"
                    style="max-width:100%;margin-bottom: 20px;border:1px solid;">
            </div>
            <div>
                <img src="imagenes/Obit 10 jul 2020 b.png" class="img-responsive"
                    style="max-width:100%;margin-bottom: 20px;border:1px solid;">
            </div>
            <div>
                <img src="imagenes/Obit 5 jul 2020 b.png" class="img-responsive"
                    style="max-width:100%;margin-bottom: 20px;border:1px solid;">
            </div>
            <div>
                <img src="imagenes/Obit 5 jul 2020 a.png" class="img-responsive"
                    style="max-width:100%;margin-bottom: 20px;border:1px solid;">
            </div>
        </div>
        <div class="col-md-12" style="display: none;">
            <div class="col-md-12">
                <h3>Galeria:</h3>
            </div>
            <div class="col-md-12">
                <!-- Least Gallery -->

            </div>
        </div>

        <!-----------------script galerias------------------->


        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>