<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12 col-sm-12 col-xs-12 panel panel-default">
            <div class="col-md-2 col-xs-2 col-sm-2">
                <img src="imagenes/logo_tecnm.jpg" class="img-responsive" alt="" height="74">
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
                <p class="centro">
                    <br>
                    <strong>Doctorado en Ciencias de la Ingeniería.</strong><br />
                    Desde 2017<br />
                    I.T. de Tuxtla Gutiérrez<br />
                    I.T. de Hermosillo.<br /><br>
                </p>
            </div>
            <div class="col-md-2 col-xs-2 col-sm-2">
                <img src="imagenes/logo_ittg.jpg" class="img-responsive" alt="" height="74">
            </div>
            <div class="col-md-2 col-xs-2 col-sm-2">
                <img src="imagenes/logo_ith.jpg" alt="" height="74" width="95" class="img-responsive">
            </div>
        </div>

        <div class="col-md-12">
            <h2 class="tnota">DOCTORADO EN CIENCIAS DE LA INGENIERÍA</h2>
        </div>


        <div class="col-md-12">
            <div class="col-md-9">
                <h2>Programa: Doctorado en Ciencias de la Ingeniería.</h2>
                <!--<h3 style="color:red;">Nota: La información es preliminar para fines de autorización ante las autoridades correspondientes. No considerar la información como definitiva.</h3>-->
                <p class="justificar">
                    El <b>Doctorado en Ciencias de la Ingeniería</b> entre el Instituto Tecnológico de Tuxtla Gutiérrez
                    (ITTG)
                    y el Instituto Tecnológico de Hermosillo (ITH) nace de una iniciativa con la finalidad de crear una
                    nueva
                    oportunidad de en la formación de recurso humano de alto nivel. Se involucran investigadores con
                    experiencia
                    en líneas de investigación conformando un grupo multidisciplinario y que el 46 % de los
                    investigadores que
                    conforman el Núcleo Académico Básico ostentan el reconocimiento del Sistema Nacional de
                    Investigadores (SNI).
                </p>

                <hr />

                <div>
                <h3>Líneas de generación y aplicación del conocimiento.</h3>
                <ol>
                    <li>
                        <p class="justificar"><b>Instrumentación y control en energías:</b> Desarrollar sistemas
                            electrónicos que permitan
                            aprovechar las fuentes de energías renovables y limpias (biocombustibles, hidráulica,
                            geotérmica,
                            biomasa, eólica, fotovoltaica entre otros) cuidando el medio ambiente y desarrollando
                            proyectos como:
                            Sistemas de control y diagnóstico de la operación para aerogeneradores, vehículos
                            electrícos, regulación de
                            potencia, robustez y desempeño, optimización para el aprovechamiento de máxima potencia,
                            automatización de
                            estaciones hidrometeorológicas, caracterización del aprovechamiento de la energía solar,
                            optimización del
                            proceso de la obtención del biodiesel y sistemas de medición de los diferentes parámetros
                            que conlleva el
                            aprovechamiento de las energías renovables y limpias.
                        </p>
                    </li>
                    <li>
                        <p class="justificar"><b>Sistemas Mecatrónicos:</b> Esta línea tiene como objetivo la
                            integración sinérgica de la
                            ingeniería mecánica, electrónica, del control automático y la computación para el desarrollo
                            de proyectos
                            de investigación que comprenden la modelación, análisis, simulación, control, y
                            automatización en las
                            áreas de sistemas subactuados, robótica, desarrollo de sistemas mecatrónicos para el
                            aprovechamiento energías
                            renovables y limpias, sistemas de seguridad industrial, entre otros.</p>
                    </li>
                    <li>
                        <p class="justificar"><b>Sistemas inteligentes en agroindustrias:</b> Desarrollar nuevos modelos
                            y aplicar los
                            modelos existentes de la inteligencia artificial para su implementación como núcleo en
                            aplicaciones
                            computacionales y dispositivos electrónicos de propósito general que eficienten su
                            funcionamiento a través
                            de métodos formales que faciliten su mejora a través del tiempo, en particular sistemas de
                            visión,
                            sistemas de optimización de procesos agroindustriales, búsquedas semánticas, algoritmos de
                            búsqueda, entre otros.</p>
                    </li>
                </ol>
                </div>

                <hr />

                <span style="    font-family: 'soberana_sanslight';font-size: 14px; color: rgb(152, 151, 156);">
                    
                    <h3>Núcleo académico básico.</h3>
                    <ol>
                        <li>
                            <p class="justificar"><b>Instrumentación y control en energías:</b>
                            <ul>
                                <li>Dr. Francisco Ronay López Estrada (ITTG) (Lider), SNI I</li>
                                <li>Dr. Jorge Luis Camas Anzueto (ITTG), SNI I</li>
                                <li>Dr. Héctor Ricardo Hernández de León (ITTG), SNI I</li>
                                <li>Dr. Carlos Ríos Rojas (ITTG)</li>
                                <li>Dra. Rocío Meza Gordillo (ITTG), SNI I</li>
                            </ul>
                        </li>
                        <li>
                            <p class="justificar"><b>Sistemas Mecatrónicos:</b>
                            <ul>
                                <li>Dr. Guillermo Valencia Palomo (ITH) (Lider), SNI I</li>
                                <li>Dr. José Antonio Hoyo Montayo (ITH), SNI Candidato</li>
                                <li>Dr. Oscar Mario Rodríguez Elias (ITH)</li>
                                <li>Dra. Rosalía del Carmen Gutiérrez Urquídez (ITH)</li>
                                <li>Dr. Jorge Alberto Orrante Sakanassi (ITH)</li>
                            </ul>
                        <li>
                            <p class="justificar"><b>Sistemas inteligentes en agroindustrias:</b>
                            <ul>
                                <li>Dr. Madain Pérez Patricio (Lider), SNI I</li>
                                <li>Dr. Héctor Guerra Crespo (ITTG)</li>
                                <li>Dr. Elias Neftali Escobar (ITTG)</li>
                                <li>Dr. Sabino Velázquez Trujillo (ITTG)</li>
                                <li>Dra. María Trinidad Serna Encinas (ITH)</li>
                            </ul>
                    </ol>

                    <hr />

                    <p>
                    <h3>Objetivos generales y específicos.</h3>
                    <ul>
                        <li>
                            <p class="justificar">Formar investigadores con amplios y profundos conocimientos en el
                                estado del arte
                                de su disciplina, con destrezas intelectuales y metodológicas que les permitan realizar
                                investigación competitiva y generar aportaciones relevantes en su campo de acción,
                                con la capacidad de innovación en el desarrollo de proyectos de impacto social,
                                científico y tecnológico.
                            </p>
                        </li>
                        <li>
                            <p class="justificar">Formar investigadores que sean capaces de trabajar interdisciplinaria
                                y
                                multidisciplinariamente e integrando disciplinas que contemplan la instrumentación,
                                automatización
                                y control para el aprovechamiento de energías renovables y limpias. Así como el
                                desarrollo de sistemas
                                mecatrónicos que contribuyan al crecimiento tecnológico, económico, ambiental y
                                sustentable de la región.
                            </p>
                        </li>
                    </ul>

                    <hr />
                    <p class="justificar">
                    <h3>Perfil de ingreso.</h3>
                    <p> El programa está dirigido a investigadores, profesores de
                        enseñanza superior, ingenieros del sector productivo, poseedores del grado de maestros en
                        ciencias
                        o equivalente en Electrónica, Sistemas Computacionales, Mecánica, Mecatrónica, Eléctrica, y
                        programas afines, además cuente con con competencias, habilidades, valores y conocimientos que
                        permitan evidenciar aptitudes para la investigación, innovación y desarrollo de proyectos de
                        alto impacto. </p>

                    <hr />
                    <p class="justificar">
                    <h3>Perfil del graduado.</h3>
                    <p> El egresado del doctorado en Ciencias en Ingenierías será capaz
                        de generar conocimientos científicos y tecnológicos a través del planteamiento y desarrollo de
                        trabajo
                        de investigación en las áreas de automatización y control, sistemas mecatrónicos,
                        aprovechamiento y
                        optimización de energías renovables y limpias, además contar con las siguientes competencias:
                    </p>

                    <ul>
                        <li>Capacidad para conducir investigación original en el área de ingeniería de su especialidad.
                        </li>
                        <li>Formar recursos humanos de alto nivel con la capacidad de innovación en el desarrollo de
                            proyectos de impacto social, científico y tecnológico.</li>
                        <li>Detectar y analizar problemas de relevancia en procesos productivos, planteando nuevas
                            alternativas de solución.</li>
                        <li>Participar en actividades docentes a nivel de licenciatura y posgrado en instituciones de
                            educación superior y en centros de investigación.</li>
                        <li>Dar asesoría y consultoría técnica al sector público y privado en el área de su
                            especialidad.</li>
                    </ul>

                    <hr />
                    <h3>Plan de estudios.</h3>
                    <ul>
                        <li>Duración del plan de estudio: 48 meses.</li>
                        <li>Período Lectivo: Semestral, con dos períodos de veintiun semanas cada uno. </li>
                        <li>Ingreso al Programa: Bianual, el año escolar inicia en el mes de agosto y enero.</li>
                        <li>No. de semestres: 08.</li>
                    </ul>

                    <table id="tabla1">
                        <tr>
                            <th><b>Estructura académica.</b></th>
                            <th>DOC horas.</th>
                            <th>TIS horas.</th>
                            <th>TPS horas.</th>
                            <th>Horas totales.</th>
                            <th>Créditos.</th>
                        </tr>
                        <tr class="alternar">
                            <td><b>Seminario de investigación.</b></td>
                            <td class="centro">16</td>
                            <td class="centro">300</td>
                            <td class="centro">0</td>
                            <td class="centro">316</td>
                            <td class="centro">16</td>
                        </tr>
                        <tr>
                            <td>Seminario predoctoral.*</td>
                            <td class="centro"></td>
                            <td class="centro">160</td>
                            <td class="centro"></td>
                            <td class="centro">160</td>
                            <td class="centro">8</td>
                        </tr>
                        <tr class="alternar">
                            <td><b>Proyecto de tesis I</b></td>
                            <td class="centro">16</td>
                            <td class="centro">300</td>
                            <td class="centro">0</td>
                            <td class="centro">316</td>
                            <td class="centro">16</td>
                        </tr>
                        <tr>
                            <td>Proyecto de tesis II</td>
                            <td class="centro">16</td>
                            <td class="centro">300</td>
                            <td class="centro">0</td>
                            <td class="centro">316</td>
                            <td class="centro">16</td>
                        </tr>
                        <tr class="alternar">
                            <td><b>Proyecto de tesis III</b></td>
                            <td class="centro">16</td>
                            <td class="centro">300</td>
                            <td class="centro">0</td>
                            <td class="centro">316</td>
                            <td class="centro">16</td>
                        </tr>
                        <tr>
                            <td>Proyecto de tesis IV</td>
                            <td class="centro">16</td>
                            <td class="centro">300</td>
                            <td class="centro">0</td>
                            <td class="centro">316</td>
                            <td class="centro">16</td>
                        </tr>
                        <tr class="alternar">
                            <td><b>Examen predoctoral**</b></td>
                            <td class="centro"></td>
                            <td class="centro">160</td>
                            <td class="centro"></td>
                            <td class="centro">160</td>
                            <td class="centro">8</td>
                        </tr>
                        <tr>
                            <td>Proyecto de tesis V</td>
                            <td class="centro">16</td>
                            <td class="centro">300</td>
                            <td class="centro">0</td>
                            <td class="centro">316</td>
                            <td class="centro">16</td>
                        </tr>
                        <tr class="alternar">
                            <td><b>Tesis***</b></td>
                            <td class="centro">0</td>
                            <td class="centro">1040</td>
                            <td class="centro">0</td>
                            <td class="centro">1040</td>
                            <td class="centro">52</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td class="centro"></td>
                            <td class="centro"></td>
                            <td class="centro"></td>
                            <td class="centro">2936</td>
                            <td class="centro">164</td>
                        </tr>

                    </table>

                    <p class="justificar">* En el seminario Seminario Predoctoral el candidato presentará ante ante el
                        Comité Tutorial
                        la propuesta en extensa de su proyecto de investigación, para evaluar la pertinencia y
                        originalidad,
                        características que deberá estar fundamentada en una revisión exhaustiva y detallada del estado
                        del arte, la originalidad de su proyecto de investigación, el dictamen del comité podrá ser
                        de aprobado o no aprobado. Si el dictamen es aprobado el doctorante podrá continuar con las
                        materias
                        señaladas en el plan de estudios. En caso contrario el comité podrá emitir uno de los fallos
                        siguientes
                    <ol>
                        <li>Prorroga: El estudiante repetirá el seminario, por una sola vez más, en un plazo no mayor de
                            seis meses, considerando todas las observaciones emitidas por el comité tutorial.</li>
                        <li>Baja: el estudiante causará baja inmediata del programa del posgrado. </li>
                    </ol>
                    <p>El fallo del comité tutorial es de carácter inapelable. </p>
                    <p class="justificar">** En el seminario examen predoctoral el candidato presentará ante ante el
                        Comité Tutorial los resultados
                        de su proyecto de investigación, los cuales deberán demostrar originalidad y contribución al
                        estado del arte de su disciplina. El dictamen del comité podrá ser de aprobado o no aprobado.
                        Si el dictamen es aprobado el doctorante podrá continuar con la redacción de la tesis y
                        presentación del examen de grado. En caso contrario el comité podrá emitir uno de los fallos
                        siguientes
                    <ol>
                        <li>Prorroga: El estudiante repetirá el examen en un plazo no mayor de seis meses, considerando
                            todas las observaciones emitidas por el comité tutorial.</li>
                        <li>Baja: el estudiante causará baja inmediata del programa del posgrado. </li>
                    </ol>
                    <p>El fallo del comité tutorial es de carácter inapelable. </p>
                    <p class="justificar">*** Tesis: La tesis consiste en la presentación detallada de los resultados de
                        la investigación escritas
                        en lenguaje científico. Dicho documento deberá ser avalado primeramente por el director y
                        co-director de tesis, y en segundo término por los integrantes restantes del comité tutorial.
                        Será acreditada por la defensa y aprobación del examen de grado de Doctor ante el Jurado
                        correspondiente.
                        Para poder presentar dicho examen el doctorante deberá contar con al menos una publicación
                        científica en
                        revista indizada en el Journal Citations Reports, de acuerdo a los lineamientos enmarcados por
                        el TecNM y
                        el CONACYT.<br />

                        Nomenclatura (16-300-0-16): (DOC-TIS-TPS-HT) DOC: Docencia; TIS: Trabajo Independiente
                        Significativo;
                        TPS: Trabajo Profesional Supervisado; HT: Horas
                    </p>

                    <hr />

                    <h3>Requisitos y antecedentes académicos de ingreso de los candidatos.</h3>
                    <p>Para ingresar al programa de Doctorado en Ciencias de la Ingeniería el candidato
                        deberá cumplir con los siguientes requisitos:
                    <ol>
                        <li>Certificado de estudios de maestría con un promedio general mínimo de 85 o equivalente.</li>
                        <li>Demostrar comprensión del idioma inglés a través de un certificado de TOEFL de mínimo 500
                            puntos.</li>
                        <li>Capacidad de transmitir conocimientos de manera oral y escrito los cuales serán evaluados a
                            través de una propuesta de tesis y entrevista. </li>
                        <li>Aprobar EXANI III con un mínimo de 1000 puntos.</li>
                    </ol>

                    <hr />

                    <h3>Procedimiento de selección de aspirantes.</h3>

                    <p class="justificar">Se emite la convocatoria para participar en el proceso de admisión a
                        estudiantes nacionales
                        y extranjeros, en hasta dos veces al año, de acuerdo a las fechas establecidas en la
                        convocatoria vigente. Para la difusión de la convocatoria de ingreso se utilizan medios de
                        comunicación masiva como prensa escrita, radio y televisión, también se publica la convocatoria
                        en el portal de Internet del Instituto Tecnológico de Tuxtla Gutiérrez y se envía a
                        Universidades,
                        Institutos Tecnológicos y Centros de Investigación; asimismo se participa en las Ferias de
                        Posgrado.
                    </p>

                    <p class="justificar">El procedimiento de selección y admisión del aspirante a ingresar al Doctorado
                        en
                        Ciencias de la Ingeniería se desarrolla de acuerdo al siguientes etapas:
                    </p>

                    <ul>
                        <li>Fase 1:
                            <ul>
                                <li>
                                    <p class="justificar">Examen: El aspirante presenta examen para valorar los
                                        conocimientos y habilidades.</p>
                                </li>
                                <li>
                                    <p class="justificar">Primer contacto: Contactar a uno de los profesores del área de
                                        interés para proponer un trabajo que asegure un conocimiento del candidato en la
                                        línea de investigación del investigador. El candidato al programa doctoral debe
                                        enviar una carta de motivos, en donde exprese las razones que se tienen por
                                        realizar un doctorado en Ingenierías. Es indispensable anexar su Curriculum
                                        Vitae y copia de los documentos probatorios del mismo. La documentación
                                        probatoria podrá enviarse en linea mediante una cuenta en Dropbox, Google Drive,
                                        entre otros. </p>
                                </li>
                                <li>
                                    <p class="justificar">Propuesta: Elaborar una propuesta de tema de investigación y
                                        el nombre del director de tesis con mayor afinidad al tema que describa, en
                                        forma clara y precisa, el proyecto a desarrollar. Esta propuesta se elaborará
                                        con la ayuda de su asesor y deberá indicar el problema a resolver. El candidato
                                        podrá proponer una propuesta nueva en conjunto con el asesor o seleccionar una
                                        de un banco de propuestas de investigación las cuales estarán publicadas en la
                                        página web del doctorado. </p>
                                </li>
                            </ul>
                        </li>
                        <li>Fase 2:
                            <ul>
                                <li>
                                    <p class="justificar">Presentación de propuesta: Una vez recibida y cotejada esta
                                        documentación se formará un comité de admisión, con especialistas del programa.
                                        El aspirante deberá exponer su propuesta ante el comité de admisión donde se
                                        analizará el contenido y en caso de ser necesario se le harán sugerencias para
                                        que ésta sea complementada. </p>
                                </li>
                                <li>
                                    <p class="justificar">Entrevista: Se fijará la fecha de la entrevista con el Comité.
                                        La entrevista podrá realizarse en linea mediante mediante videoconferencia con
                                        Skype, Google Hangout, entre otros, en caso de que el aspirante sea de otro
                                        estado. Una vez pasado la entrevista el comité decidirá si se admite al programa
                                        o si se pospone su admisión y las condiciones que deberá cumplir para su posible
                                        admisión. El resultado de este dictamen se dejará asentado en una acta para tal
                                        fin. Este deberá ser un proceso de UNA sola iteración. </p>
                                </li>
                            </ul>
                        </li>
                        <li>Fase 3:
                            <ul>
                                <li>
                                    <p class="justificar">Aceptación/rechazo e inscripción: El comité analizará
                                        integralmente la solicitud, considerando el examen, el anteproyecto y la
                                        entrevista para valorar el cumplimiento del perfil de ingreso. En caso positivo,
                                        se extenderá una carta de aceptación al programa. En caso negativo se le enviará
                                        una carta explicativa. En ambos casos, esta carta podrá ser firmada únicamente
                                        por el Subdirector Académico o por el Director. </p>
                                </li>
                            </ul>
                        </li>
                        <li>Fase 4:
                            <ul>
                                <li>
                                    <p class="justificar">El coordinador del programa procederá con el proceso de
                                        inscripción mediante la entrega de documentos pertinentes al Departamento de
                                        Servicios Escolares. Se contará un máximo de quince días para cubrir este
                                        requisito.</p>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <p class="justificar">La convocatoria se apertura a egresados de maestrías en Ingenierías en
                        Recursos Renovables, Eléctrica, energías, Mecatrónica, Electrónica, Mecánica, Sistemas
                        Computacionales, Ingeniería Industrial, y otras áreas afines.</p>

                </span>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <app-navbar5></app-navbar5>
                </div>



            </div>



            <!------------------------------------>
            <!--------END CONTENIDO-->
        </div>
    </div>
</div>