<div class="row">
    <div class="col-md-12">
        <!------CONTENIDO-------->

        <div class="col-md-12">
            <h2 class="tnota">RESIDENCIAS</h2>
        </div>


        <div class="col-md-12">
            <h2>PROCEDIMIENTO PARA RESIDENCIAS (PLANES 2009-2010)</h2><br><br>
            <p>
                Es una estrategia educativa de carácter curricular, que permite al estudiante emprender un proyecto
                teórico-práctico, analítico, reflexivo, crítico y profesional; para resolver un problema específico de
                la realidad social y productiva, para fortalecer y aplicar sus competencias profesionales.
                <br><br>
                Para ti que vas a cursar RESIDENCIAS en el próximo semestre, es importante que cumplas con los
                siguientes requisitos:<br>
                a) Tener acreditado el Servicio Social. <br>
                b) Tener acreditado las actividades complementarias. <br>
                c) Tener aprobado al menos el 80% de créditos de su plan de estudio <br>
                d) No contar con ninguna asignatura en condición de “Curso Especial” <br><br>

                El valor curricular para la residencia profesional es de 10 créditos, y su duración queda determinada
                por un período de 4 meses como tiempo mínimo y 6 meses como tiempo máximo, debiendo acumularse un mínimo
                de 500 horas.
                <br><br>
                <b>¿QUÉ TIENES QUE HACER PARA INICIAR RESIDENCIAS PARA EL PRÓXIMO SEMESTRE? </b><br><br>
                1. Asistir a la Plática de Inducción en la fecha publicada en el calendario escolar de cada semestre en
                la página web del Instituto. <br>
                2. Para obtener un Proyecto, debe ser según lo previsto en el numeral 7.6 del Lineamiento para la
                Operación y Acreditación de Residencias Profesionales 2009-2010 (Ver Lineamiento) <a
                    href="../residencia 2009-2010/Lineamiento para la Operación y Acreditación de la Residencia Profesional.pdf">click
                    aquí</a> y para consultar vacantes ir a la página <a
                    href="https://ithermosillo.trabajando.com.mx">https://ithermosillo.trabajando.com.mx</a> <br>
                3. Una vez que hayas sido aceptado por una empresa, solicitaras a la empresa el Proyecto en el que
                participarás, el cual puede ser elaborado por ellos o por ti pero apoyado por la empresa. (Anexo I del
                Lineamiento) <a href="../residencia 2009-2010/RESID. PROF. ANEXO I 2009-2010.doc">click aquí</a>. Este lo
                presentaras a tu Coordinador de Residencias para revisión y autorización por la Academia respectiva.<br>
                4. Una vez cumplido el paso anterior, pasarás al Departamento de Gestión Tecnológica y Vinculación por
                tu clave para llenar tu Solicitud en línea, <a
                    href="https://www.gestiontecnologica.hermosillo.tecnm.mx/siscrep/SISCREP/index.php">(click
                    aquí)</a>.<br>
                5. El Departamento de Gestión Tecnológica y Vinculación te entregará la Carta de Presentación y
                Agradecimiento dirigida a la Empresa, la cual deberás presentar en ésta, para ser firmada y sellada de
                recibido, y entonces integrarla en el expediente.<br>
                6. Solicitaras a la empresa la Carta de Aceptación, en hoja membretada con firma y sello, (Ver formato)
                <a href="../residencia 2009-2010/carta-aceptacion-residencias.docx">click aquí</a>. <br>
                7. Entregar a tu coordinador de residencias tu expediente, el cual debe contener lo siguiente: <br>
                a) Solicitud (3 tantos o según lo indique tu coordinador de residencias). <br>
                b) Carta de Presentación y Agradecimiento con firma y sello de recibido de la empresa (2 tantos).<br>
                c) Anteproyecto (2 tantos). <br>
                d) Carta de Aceptación de la empresa en papel membretado correspondiente con firma y sello, (1
                tanto).<br>
                NOTA1: Fecha límite para entrega de anteproyectos, será la misma fecha que se indique como inicio de
                clases. Cualquier situación que este fuera de este tiempo debes reportarlo a tu coordinador de
                residencias y así evitar problemas posteriores.<br>
                NOTA2: NINGUN PROYECTO ES VÁLIDO PARA INICIAR SI NO HA SIDO AUTORIZADO POR LA ACADEMIA Y CON ASESOR
                ASIGNADO.<br><br>

                <b>¿QUÉ TIENES QUE HACER DURANTE EL DESARROLLO DE LAS RESIDENCIAS PROFESIONALES?</b> <br><br>
                8.- El asesor interno dará seguimiento a tu proyecto durante el tiempo que duren las Residencias,
                debiendo registrar la asesoría en el (Anexo V del Lineamiento) <a
                    href="../residencia 2009-2010/Anexo V de Residencias.docx">click aquí</a>. La asesoría puede ser
                presencial o vía internet, en caso de estar haciendo la residencias fuera de la ciudad.<br>
                9.- En caso de haber un cambio en tus residencias en la empresa, tales como, cambio de asesor externo,
                cambio de proyecto, cambio de actividades, cierre de la empresa, no asignación de recursos y falta de
                espacios necesarios, entre otros, deberás reportarlo de manera inmediata a tu coordinador de residencias
                para que se lleve a cabo el trámite correspondiente. <br>
                NOTA 3: Si el Residente no se comunica con su asesor interno por un periodo de dos meses, se le dará de
                baja en las Residencias.
                <br><br>
                <b>¿QUÉ TIENES QUE HACER AL CONCLUIR EL DESARROLLO DE LAS RESIDENCIAS PROFESIONALES?</b> <br><br>
                10.- Deberás entregar a tu asesor interno lo siguiente: <br>
                a) Informe técnico final (Anexo II del Lineamiento) <a
                    href="../residencia 2009-2010/RESID. PROF. ANEXO II 2009-2010.doc">click aquí</a>. <br>
                b) Constancia de Terminación de la Empresa (en papel membretado correspondiente, firmado y sellado) <a
                    href="../residencia 2009-2010/carta-terminación-residencias.docx">click aquí</a>. <br>
                c) Formato de evaluación del proyecto firmado por los asesores interno(s) y externo(s) (Anexo III del
                Lineamiento), este te lo proporcionará tu coordinador de residencias. <br>
                d) Copia digital de su informe técnico, una vez aprobado. Entregarlo en CD (ver formato de portada CD)
                <a href="../documentos/portada-ce-residencias-03-2015.ppt">click aquí</a>. <br>
                e) Resumen Ejecutivo (con portada: nombre del alumno, número de control, proyecto, empresa y período)
                incluir en CD arriba mencionado<br>
                f) El Coordinador de residencias debe enviar el Acta de calificación al Depto. de Servicios
                Escolares<br><br>

                <b>NOTA 4:</b> No se registra calificación en el sistema hasta que se haya cumplido con la entrega de
                los documentos del paso 10.<br><br>

                <b>Nota importante: Para darte una mejor atención en cada una de las etapas de tu Residencia
                    Profesional, completa correctamente todos y cada uno de los Requisitos y cumple puntualmente con las
                    fechas límites de entrega.</b>

            </p>
            <br><br>

            <h2>
                <div>La plática de inducción de residencias se realizará el dia 25 de mayo a las 11 y
                    17 hrs. en el teatro auditorio.</div>
            </h2>
            <!------------------------------------>
            <!--------END CONTENIDO-->
        </div>
    </div>
</div>