 <div class="row">
                <div class="col-md-12">
                    <!------CONTENIDO-------->

                    <div class="col-md-12">
                        <h2 class="tnota">RESIDENCIAS</h2>
                    </div>


                    <div class="col-md-12">
                            <h2>PROCEDIMIENTO PARA RESIDENCIAS (PLANES 2004-2005)</h2><br><br>
                            <p>Se constituye el proyecto de residencias profesionales como una estrategia educativa, que permite al estudiante, aún estando en proceso de formación, incorporarse profesionalmente a los sectores productivos de bienes y servicios a través del desarrollo de un proyecto definido de trabajo, asesorado por instancias académicas e instancias externas.<br><br>
                            •	Para ti que vas a cursar RESIDENCIAS en el próximo semestre, es importante que acudas con tu coordinador de residencias para mayor  información.<br>
                            •	Necesitas haber aprobado al menos el 75% de créditos de tu plan de estudios. (Se recomienda haber concluido tu Servicio Social).<br>
                            •	OJO!!!!Los anteproyectos de residencias profesionales, deben ser sometidos a consideración de la academia, siendo ellos quienes emiten la autorización. SIN AUTORIZACIÓN NO ES VALIDO UN PROYECTO DE RESIDENCIAS<br>
                            •	El valor curricular para la residencia profesional es de 20 créditos, y su duración queda determinada por un período de 4 meses como tiempo mínimo y 6 meses como tiempo máximo, debiendo acumularse un mínimo de 640 horas.<br><br>
                            
                            <h3>¿Qué tienes que hacer para iniciar residencias? </h3><p>
                            1. Idealmente haber asistido a la Plática de Inducción el jueves  22 de Mayo de 2014<br>
                            2. Para obtener un Proyecto, puede ser:<br><br>
                                a) Del banco de proyectos, con anteproyecto definido y asesorado por tu coordinador de residencias         <br>
                                b) De tu propia propuesta, con autorización de la academia<br>
                                c) Haber participado en la fase regional del Concurso de Innovación Tecnológica o nacional de emprendedores.
                            <p>Para consultar vacantes ingresa aquí: <a href="https://ithermosillo.trabajando.com.mx">ithermosillo.trabajando.com.mx</a><br>
                              <br>                                            3.- La empresa define su anteproyecto y una vez  revisado y autorizado por la Academia respectiva, tú en conjunto con tu Coordinador de residencias decides que empresa elegir y cuando ésta acepte tu participación en su proyecto, seguirás al  paso <br>
                              4.- Una vez cumplido el paso anterior  llenarás tu solicitud en línea y deberás pasar al Departamento de Gestión Tecnológica y Vinculación por  la Carta de Presentación y Agradecimiento dirigida a la Empresa, que deberás presentar en ésta, para ser firmada y sellada de recibido, y entonces  integrarla en el expediente  para el registro de tu proyecto que entregarás al coordinador de residencias de tu carrera.<br><br>
                              5.- Requisitos para integrar tu expediente:  <br>
                              Entregar con tu coordinador de residencias la siguiente Información: <br><br>
                              a) Solicitud (3 tantos o según lo indique tu coordinador de residencias).    <a href="https://www.gestiontecnologica.hermosillo.tecnm.mx/siscrep/SISCREP/index.php">Ahora ya puedes realizar tu trámite en línea, click aquí </a>(para el llenado de tu Solicitud) <br>
                              b) Copia de kárdex (debe indicar tener el 75% de créditos aprobados). (Tu coordinador de residencias  los solicitará a Serv. Escolares<br>
                              c) Carta de Presentación y Agradecimiento con firma y sello de recibido de la empresa).(2 tantos)<br>
                              d) Anteproyecto (2 tantos). <a href="../residencias/ANEXOANTEPROYECTORESIDENCIAS.doc">Click aquí para ver índice de Anteproyecto</a><br>
                              e) Carta de Aceptación de la empresa en papel membretado correspondiente con firma y sello.(1 tanto)<br><br>
                              NOTA1: Fecha límite para entrega de anteproyectos, será la misma fecha que se indique como inicio de clases. Cualquier situación que este fuera de este tiempo debes reportarlo a tu coordinador de residencias y así evitar problemas posteriores.<br><br>
                              NOTA2: NINGUN PROYECTO ES VÁLIDO PARA INICIAR SI NO HA SIDO AUTORIZADO POR LA ACADEMIA Y CON ASESOR ASIGNADO
                            <h3>¿Qué tienes que hacer durante el desarrollo de tu residencia? </h3><br><br>
                            <p>6.- Tu Coordinador de Residencias publicará el dictamen de los anteproyectos y el nombre del asesor interno asignado. <br><br>
                            7.- El asesor interno dará seguimiento a tu proyecto durante el tiempo que duren las Residencias.<br><br>
                            NOTA: Entregarás informes parciales según indicaciones de tu coordinador de residencias. (En tu trámite en línea podrás descargar la hoja de seguimiento de tu proyecto)<br><br>
                            8.- En caso de haber un cambio en tu residencia en la empresa, tales como, cambio de asesor externo, cambio de proyecto, cambio de actividades, cierre de la empresa, no asignación de recursos y falta de espacios necesarios, entre otros, deberás reportarlo de manera inmediata a tu coordinador de residencias para que se lleve a cabo el trámite pertinente. <br><br>
                            
                            <h3>¿Qué tienes que hacer al concluir el desarrollo de tu residencia? </h3><br><br>
                            <p>9.- Deberás entregar a tu asesor interno lo siguiente: <br><br>
                                a) Informe técnico final (<a href="../residencias/GUIA-PARA-ELABORAR-INFORME-TECNICO-FINAL.doc">haz click aquí para el formato del informe técnico final</a>).   ó Si te vas a titular por la Opción X, Memoria de Residencia Profesional,  <a href="../residencias/GUIA-PARA-ELABORAR-MEMORIA-RESIDENCIA-PROFESIONAL.doc">descarga aquí</a> la guía para elaborar la memoria  (en lugar de presentar tu Informe Técnico Final)<br><br>
                            NOTA: Una vez que tu asesor  interno haya revisado y aprobado tu informe final,<br><br>
                            10.- Deberás entregar a tu coordinador de residencias lo siguiente:<br><br>
                                a) Constancia de Terminación de la Empresa (en papel membretado correspondiente, firmado y sellado)<br>
                                b) Resumen Ejecutivo (con portada: nombre del alumno, num. de control, proyecto,   <br>
                                     empresa y período) e Informe Técnico Final, ambos en formato digital            [<a href="../residencias/PORTADA-CD-RESIDENCIAS-05-2013.ppt">Ver ejemplo  de carátula de CD. (click aquí).</a> ]<br><br>
                            NOTA2: No se registra calificación en el sistema hasta que se haya cumplido con la entrega de los documentos del paso 10<br><br>
                            
                            El Resumen Ejecutivo del proyecto, conteniendo en un extensión no mayor a dos páginas lo siguiente: institución, título del trabajo, fecha, datos de la empresa, problemas a resolver, justificación, resultados, conclusiones, datos del residente con fines de localización y nombre de los asesores. El Resumen Ejecutivo, es un breve análisis de los aspectos mas importantes del proyecto, por lo tanto en pocas palabras se debe describir el producto o servicio, el mercado, la empresa, los factores de éxito del proyecto, los resultados esperados, las necesidades de financiamiento y las conclusiones generales.  Se deberá incluir en el resumen ejecutivo lo siguiente: 
                            a) Palabras Claves de Búsqueda en forma de lista separadas por comas, mediante las cuales podremos ubicar tu proyecto por temas de interés.<br>
                            b) Escribir en una o dos líneas las cualidades que definirían a tu proyecto como caso de éxito, por ejemplo, puede ser el haber desarrollado una innovación en los procesos, productos y/o servicios, el haber generado un puesto de trabajo para ti y/o para otras personas, el haber participado en proyectos de investigación o mejora, etc. <br><br>
                            Nota importante: Para darte una mejor atención en cada una de las etapas de tu Residencia Profesional, completa correctamente todos y cada uno de los Requisitos y cumple puntualmente con las fechas límites de entrega. 
                            
                                        
                        <!------------------------------------>
                        <!--------END CONTENIDO-->
                    </div>
                </div>
            </div>