<div class="row">
    <div class="col-md-12 col-mx col-message">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <div class="col-md-offset-2 col-md-8">
                <h2 class="tnota">
                    MENSAJE DEL DIRECTOR
                </h2>
            </div>
            <div class="col-md-2" style="margin-top: 34px;text-align:right">
                <span class="flag-icon flag-icon-mx flag-icon-squared"></span>
                <span class="flag-icon flag-icon-gb flag-icon-squared" style="display: none;"></span>
                <span class="flag-icon flag-icon-fr flag-icon-squared" style="display: none;"></span>
                <span class="flag-icon flag-icon-it flag-icon-squared" style="display: none;"></span>
                <span class="flag-icon flag-icon-de flag-icon-squared" style="margin-right: 45px;display:none;"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <div>
                    <img loading="lazy" src="../direccion/RNV FOTO MENSAJE PAGINA 27 0123.jpeg" class="img-responsive"
                        style="max-width:100%;">
                    <a href="https://www.facebook.com/TecNMHermosillo" target="_blank"><img loading="lazy"
                            src="face-btn.png"></a><a href="https://twitter.com/TecNMHermosillo" target="_blank"><img
                            loading="lazy" src="twitter-btn.png"></a> @TecNMHermosillo
                </div>
            </div>
            <div class="col-md-6">
                <div>
                <div style="text-align: justify;">
                    <br><br>
                    Reciban un afectuoso saludo a nombre del Tecnológico Nacional de México y del Instituto Tecnológico
                    de Hermosillo.
                    <br>
                    Es un alto honor para un Servidor recibir la alta encomienda de ser el Director de mi casa, el ITH,
                    con la visión de seguir consolidando la calidad y prestigio del que goza esta casa de estudios desde
                    hace 48 años.
                    <br>
                    Agradezco a mis compañeros docentes, al personal administrativo y de apoyo a la educación su trabajo
                    a lo largo de todos estos años; sin duda, Ustedes serán la clave para avanzar en el cumplimiento de
                    nuestras metas y objetivos siempre en favor de los estudiantes quienes son la razón de nuestra
                    institución.
                    <br>
                    Temas como el Litio, la transición energética, el Internet 2 en impulso de diversos proyectos desde
                    las Academias y la División de Estudios de Posgrado e Investigación, el desarrollo de aplicaciones
                    telemáticas, la creación de laboratorios virtuales, bibliotecas digitales entre otros serán parte de
                    la agenda académica a la que los invito a que se sumen.
                    <br>
                    El ITH es una institución de gran prestigio, los más de 18 mil egresados son la mejor carta de
                    presentación y nuestro reto es seguir formando profesionistas con una sólida formación académica y
                    un gran sentido de responsabilidad con su entorno.
                    <br>
                    Son tiempos de enfrentar los grandes desafíos y el Tecnológico Nacional de México a través de ITH
                    estará presente.
                    <br><br>

                </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <p>
                <br>
                “Excelencia en Educación Tecnológica”
                <br>
                “En el Esfuerzo Común, la Grandeza de Todos”
                <br><br>
                Fraternalmente<br>
                Mtro. Rogelio Noriega Vargas<br>
                Director
            </p>
        </div>


        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
    <div class="col-md-12 col-gb col-message" style="display: none">
        <!------CONTENIDO-------->
        <!-- <div class="col-md-12">
                            <div class="col-md-offset-2 col-md-8">
                                <h2 class="tnota">
                                        MESSAGE FROM THE PRINCIPAL
                                </h2>
                            </div>
                            <div class="col-md-2" style="margin-top: 34px;text-align:right">
                                <span class="flag-icon flag-icon-mx flag-icon-squared"></span>
                            <span class="flag-icon flag-icon-gb flag-icon-squared"></span>
                            <span class="flag-icon flag-icon-fr flag-icon-squared"></span>
                            <span class="flag-icon flag-icon-it flag-icon-squared"></span>
                            <span class="flag-icon flag-icon-de flag-icon-squared" style="margin-right: 45px;display:none;"></span>
                            </div>
                        </div>
    
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <center>
                                    <img src="Jose-Antonio-Hoyo-Montaño-Director-TecNM-Hermosillo.jpg" class="img-responsive" style="max-width:100%;">
                                    <a href="https://www.facebook.com/JoseHoyoTecNM" target="_blank"><img src="face-btn.png"></a><a href="https://twitter.com/JoseHoyoTecNM" target="_blank"><img src="twitter-btn.png"></a>  @JoseHoyoTecNM
                                </center>
                            </div>
                            <div class="col-md-6">
                                <p>                           
                                    The Hermosillo Institute of Technology (ITH) is part of the National Technology of Mexico (TecNM), the largest higher education system in Latin America, heir to an academic legacy of more than 70 years of existence and with a broad vision of the future. As of 2014, ITH began its transformation to TecNM Campus Hermosillo.
                                    <br><br>
                                    The entire Board of Directors of TecNM Campus Hermosillo is greatly committed to the training of young people, who find in our educational offer the option for their undergraduate and graduate studies. The 11 bachelor’s, 4 masters and the doctorate degrees are highly relevant to satisfy the quality needs required by the industry and society.
                                    <br><br>
                                    In 2021, ITH will be celebrating 46 years of its founding, it is a great honor and responsibility for me to join as Director and lead this Community made up of students, teaching, administrative and educational support staff. A Community that has done a great job despite the health contingency that has arisen since last year.
                                    <br><br>
                                    Welcome to this Internet portal, we hope it will be useful. 
                                    <br><br>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <p>
                                <br>
                                "Excellence in Technological Education"
                                <br>
                                “In the Common Effort, the Greatness of All”
                            <br><br>
                            Sincerely<br>
                            Jose Antonio Hoyo Montaño<br>
                            Principal
                            </p>
                        </div>
     -->

        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
    <div class="col-md-12 col-fr col-message" style="display: none">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <div class="col-md-offset-2 col-md-8">
                <h2 class="tnota">
                    Message du directeur à la communauté de l´ITH
                </h2>
            </div>
            <div class="col-md-2" style="margin-top: 34px;text-align:right">
                <span class="flag-icon flag-icon-mx flag-icon-squared"></span>
                <span class="flag-icon flag-icon-gb flag-icon-squared"></span>
                <span class="flag-icon flag-icon-fr flag-icon-squared"></span>
                <span class="flag-icon flag-icon-it flag-icon-squared"></span>
                <span class="flag-icon flag-icon-de flag-icon-squared" style="margin-right: 45px;display:none;"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <div style="text-align: center;">
                    <img src="Jose-Antonio-Hoyo-Montaño-Director-TecNM-Hermosillo.jpg" class="img-responsive"
                        style="max-width:100%;">
                    <a href="https://www.facebook.com/JoseHoyoTecNM" target="_blank"><img src="face-btn.png"></a><a
                        href="https://twitter.com/JoseHoyoTecNM" target="_blank"><img src="twitter-btn.png"></a>
                    @JoseHoyoTecNM
                </div>
            </div>
            <div class="col-md-6">
                <p>
                    L'Institut technologique d'Hermosillo (Instituto Tecnológico de Hermosillo) fait partie du système
                    de l'Institut technologique national du Mexique (TecNM), qui est le plus grand système
                    d'enseignement supérieur d´Amérique latine, suivant un héritage académique de plus de 70 ans
                    d'existence et avec une perspective toujours tournée envers l'avenir. C´est à partir de 2014, que l'
                    ITH a commencé sa transformation en TecNM Campus Hermosillo.
                    <br><br>
                    L'ensemble du conseil d'administration du TecNM Campus Hermosillo se trouve fortement engagé avec la
                    formation des jeunes étudiants qui trouvent dans notre programme éducatif la meilleure option pour
                    poursuivre leurs études professionnels. Les 11 licenses , 4 masters et le doctorat sont solidement
                    accouplés aux besoins de qualité, exigés par l'industrie et la société.
                    <br><br>
                    En 2021, l'ITH commémore les 46 ans de sa fondation, et c'est pour moi un grand privilège et, au
                    même temps une responsabilité, de m'intégrer en tant que directeur et encourager cette communauté
                    composée d´étudiants, personnel enseignant, administratif et pédagogique. Une communauté qui a fait
                    face avec succès, au défi de la crise sanitaire présentée depuis l'année dernière.
                    <br><br>
                    Soyez donc bienvenues sur ce portail web, nous espérons qu'il deviendra pour vous un outil efficace.
                    <br><br>
                </p>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <p>
                <br>
                “Dans l'effort commun, la grandeur de tous”
                <br><br>
                Cordialement,<br>
                Jose Antonio Hoyo Montaño<br>
                Directeur.
            </p>
        </div>


        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
    <div class="col-md-12 col-it col-message" style="display: none">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <div class="col-md-offset-2 col-md-8">
                <h2 class="tnota">
                    Messaggio dal Direttore,
                </h2>
            </div>
            <div class="col-md-2" style="margin-top: 34px;text-align:right">
                <span class="flag-icon flag-icon-mx flag-icon-squared"></span>
                <span class="flag-icon flag-icon-gb flag-icon-squared"></span>
                <span class="flag-icon flag-icon-fr flag-icon-squared"></span>
                <span class="flag-icon flag-icon-it flag-icon-squared"></span>
                <span class="flag-icon flag-icon-de flag-icon-squared" style="margin-right: 45px;display: none;"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <div style="text-align: center;">
                    <img src="Jose-Antonio-Hoyo-Montaño-Director-TecNM-Hermosillo.jpg" class="img-responsive"
                        style="max-width:100%;">
                    <a href="https://www.facebook.com/JoseHoyoTecNM" target="_blank"><img src="face-btn.png"></a>
                    <a href="https://twitter.com/JoseHoyoTecNM" target="_blank"><img src="twitter-btn.png"></a>
                    @JoseHoyoTecNM
                </div>
            </div>
            <div class="col-md-6">
                <p>
                    L'Istituto Tecnologico di Hermosillo (ITH) fa parte dell'Istituto Tecnologico Nazionale del Messico
                    (TecNM), il quale è il più grande sistema di istruzione superiore in America Latina, ereditario
                    accademico di oltre 70 anni di esistenza e con un'ampia visione del futuro. Dal 2014, l'ITH ha
                    iniziato la sua trasformazione nel TecNM Campus Hermosillo.
                    <br><br>
                    È un grande impegno per l'intero Consiglio di Amministrazione del TecNM Campus Hermosillo formare
                    giovani, i quali trovano nella nostra offerta formativa la loro possibilità di proseguire gli studi
                    professionisti. Le 11 lauree, i 4 master e il dottorato sono di grande rilevanza per soddisfare le
                    esigenze di qualità richieste dall'industria e dalla società.
                    <br><br>
                    Nel 2021, l'ITH festeggerà i 46 anni dalla sua fondazione, è per me è un grande onore e
                    responsabilità di integrarmi come Direttore e guidare questa Comunità composta da studenti,
                    personale docente, amministrativo ed educativo. Una comunità che ha svolto un ottimo lavoro
                    nonostante le emergenze sanitarie presentate dall'anno scorso.
                    <br><br>
                </p>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <p>
                <br>
                Nello sforzo comune, la grandezza di tutti
                <br><br>
                Attentamente<br>
                Jose Antonio Hoyo Montaño<br>
                Direttore
            </p>
        </div>


        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
    <div class="col-md-12 col-de col-message" style="display: none">
        <!------CONTENIDO-------->
        <!-- <div class="col-md-12">
                            <div class="col-md-offset-2 col-md-8">
                                <h2 class="tnota">
                                        Meldung vom Direktor,
                                </h2>
                            </div>
                            <div class="col-md-2" style="margin-top: 34px;text-align:right">
                                <span class="flag-icon flag-icon-mx flag-icon-squared"></span>
                                <span class="flag-icon flag-icon-gb flag-icon-squared"></span>
                                <span class="flag-icon flag-icon-fr flag-icon-squared"></span>
                                <span class="flag-icon flag-icon-de flag-icon-squared" style="margin-right: 45px"></span>
                            </div>
                        </div>
    
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <center>
                                    <img src="director.jpg" class="img-responsive" style="max-width:100%;">
                                </center>
                            </div>
                            <div class="col-md-6">
                                <p>                           
                                        Das Technologie Institut Hermosillo (ITH) ist teil von National Technologie Mexiko (TECNM), die das gröβtete Hochbildungssystem von Lateinamerika ist und die, zweifellos, eine Bildung für die Sozialherausforderungen bietet.
                                    <br><br>
                                    Es ist eine groβe Verpflichtung für unsere Institut, teil der TECNM zu sein, dafür arbeiten wir jeden Tag um eine Bildungsqualität in unsere 11 Studien und 4 Master zu bietet. Wir wollen, dass die Arbeit unserer Akademiker qualitätsvoll für die Notwendigkeiten der Industrie und Gesellschaft wäre.
                                    <br><br>
                                    In diesem Jahr feiert die ITH ihren 45 Geburstag und es ist eine Ehre der Direktor von dieser Studenten, Lehrer und Arbeiter- Gemeinschaft zu sein. Unsere Gemeinschaft hat immer ein guter Ruf für ihre wertige Verpflichtung und Arbeit.
                                    <br><br>
                                    Sie sind sehr Willkommen in dieser Startseite, die hoffentlich nützlich für Sie wäre
                                    <br><br>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <p>
                                <br>
                                In der Gemeinanstrengun, die Würde von Allen.
                            <br><br>
                            Mit freundlichen Grüβen.<br>
                            Gerardo Ochoa Salcido.<br>
                            Direktor
                            </p>
                        </div> -->


        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>