<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota">MAESTRÍA EN CIENCIAS DE LA COMPUTACIÓN <br> PLAN DE ESTUDIOS</h2>
        </div>

        <div class="col-md-12">
            <div class="col-md-9">
                <div>
                    El ingreso al programa de maestría en Ciencias de la Computación es anual. El plan de estudios tiene
                    una duración de 2 años (24 meses), con cuatro períodos lectivos semestrales. El estudiante debe
                    cursar un total de 100 créditos, que de acuerdo a la organización curricular del programa contempla
                    cuatro materias básicas, cuatro optativas y tres seminarios de investigación, que suman 60 créditos.
                    Además, debe realizar un proyecto de Tesis para la obtención del grado que tiene un valor de 40
                    créditos. Las materias optativas están agrupadas por Líneas de Generación y/o Aplicación del
                    Conocimiento (LGAC). Este proceso de selección de asignaturas está fuertemente influenciado por los
                    conocimientos y habilidades previas del estudiante así como lo requerido para completar su proyecto
                    de Tesis.
                    <br><br>
                    <b>Objetivo general</b><br><br>

                    El Plan de Estudios está enfocado a formar profesionales en el área de las ciencias de la
                    computación que sean capaces de analizar, diseñar, modelar e implementar software de calidad para
                    generar y adaptar el conocimiento, así como para fortalecer la capacidad tecnológica del país, con
                    el fin de llevar a cabo tareas de investigación y desarrollo tecnológico.
                    Objetivos específicos
                    <br><br>
                    Preparar a los participantes en el programa de maestría para que sean capaces de: <br>
                    • Analizar, diseñar, desarrollar e implantar software de base y de aplicaciones, utilizando o
                    creando metodologías y ambientes computacionales, con base en la estructura, operación y necesidades
                    de información de las organizaciones. <br>
                    • Desarrollar modelos teóricos y prácticos utilizando las ciencias matemáticas y computacionales
                    para implementar aplicaciones novedosas y eficientes. <br>
                    • Realizar una programación eficiente de los modelos de representación de la información y de los
                    procesos computacionales seleccionados para la resolución de un problema. <br>
                    • Analizar y evaluar los algoritmos computacionales empleados para la solución de problemas o clases
                    de problemas. <br>
                    • Participar interdisciplinariamente en los proyectos de solución computacional de problemas en los
                    diversos dominios de la ciencia, la tecnología, la gestión, la producción y los servicios. <br>
                    • Integrar conceptos y técnicas de computación para identificar, plantear y resolver problemas de
                    investigación y desarrollo tecnológico asociados a sistemas complejos. <br>
                    • Ampliar los conocimientos en ingeniería y habilitar al profesional para la aplicación innovadora
                    del conocimiento científico o técnico. <br>
                    • Formar recursos humanos que tengan una visión global de las ciencias de la computación y que
                    resuelvan problemas teórico-prácticos de diversa índole. <br>
                    • Llevar a cabo tareas de investigación y desarrollo tecnológico vinculadas a su área de formación.
                    <br><br>
                    <b>Perfil de ingreso</b><br><br>

                    Es deseable que el alumno que quiera ingresar a la Maestría en Ciencias de la Computación cubra el
                    siguiente perfil: <br>
                    • Contar con un grado superior en ingeniería en sistemas computacionales, ingeniería en informática,
                    licenciatura en informática o áreas afines. <br>
                    • Promedio mínimo de ochenta 80 avalado con un documento oficial. <br>
                    • Acreditación de un idioma extranjero mediante un documento avalado por el Consejo de Posgrado.
                    <br>
                    • Conocimiento de Software y Hardware relacionados con los sistemas computacionales. <br>
                    • Capacidad de relacionar el conocimiento matemático con aplicaciones prácticas. <br>
                    • Habilidad para la implementación mediante software o hardware de algoritmos y creación de análisis
                    y diseños de sistemas de información. <br>
                    • Dedicación de tiempo completo a los estudios de la maestría. <br>
                    • Que tenga gusto por la investigación, creación y/o aplicación de la tecnología así como verdaderos
                    deseos de superación. <br>
                    • Capacidad de manejo de información y planteamiento de objetivos. <br>
                    • Capacidad de trabajo tanto en equipo como individualmente. <br>
                    • Que posea imaginación creativa para resolver problemas.<br><br>

                    <b>Perfil de egreso</b><br><br>

                    Por perfil del egresado se entienden los conocimientos, habilidades, actitudes y actividades que le
                    permiten un educado desarrollo de su práctica profesional. El egresado de la Maestría en Ciencias de
                    la Computación tendrá conocimientos sobre: <br>
                    • Fundamentos matemáticos que presentan el enfoque teórico de la disciplina. <br>
                    • Las principales metodologías de análisis y diseño de sistemas de información. <br>
                    • La metodología y las herramientas para la realización de proyectos de desarrollo de sistema de
                    base, de información y de investigación. <br>
                    • Los conceptos y técnicas de inteligencia artificial y sus aplicaciones.<br>
                    • Nuevas tecnologías de cómputo y su aplicación en la solución de problemas.<br>
                    • La adquisición del concepto de transdisciplinariedad, de integración de recursos, de evolución del
                    saber hacer y contarán con el binomio tecnología-administración. <br><br>

                    <b>Habilidades para:</b><br><br>
                    • Uso óptimo de los recursos computacionales en su ámbito profesional. <br>
                    • Identificación y planteamiento de problemas de información. <br>
                    • Análisis, síntesis y evaluación de las diferentes alternativas de solución de problemas. <br>
                    • Capacidad de abstracción de análisis y de crítica. <br>
                    • Aplicación de técnicas y métodos adecuados en el tratamiento de información. <br>
                    • Creatividad en su trabajo profesional. <br>
                    • Comunicación adecuada en forma oral y escrita. <br>
                    Y es deseable que posea actitudes de: <br>
                    • Perseverancia en la solución de problemas. <br>
                    • Actualización permanente en su área profesional. <br>
                    • Organización, responsabilidad y compromiso. <br>
                    • Disposición para el trabajo en grupos interdisciplinarios.<br>
                    • Responsabilidad y ética en su desempeño profesional. <br>
                    • Mentalidad emprendedora. <br>
                    • Liderazgo.<br><br>

                    <b>Mapa curricular</b><br><br>

                    Siguiendo los lineamientos de la Dirección de Posgrado Investigación e Innovación de la Secretaría
                    Académica del Tecnológico Nacional de México, se tiene un plan de estudio estructurado de la
                    siguiente manera:<br>
                    • Duración del plan de estudio: 24 meses.<br>
                    • Período lectivo: Semestral. <br>
                    • Ingreso al Programa: Anual, iniciando el año escolar en el mes de agosto. <br>
                    Los cursos están repartidos en grupos:<br>
                    • Asignaturas básicas, de carácter obligatorio a nivel del SNEST. <br>
                    • Asignaturas por línea de investigación, con carácter de optativos. Algunos de estos cursos podrán
                    ser optativos a juicio del asesor (o tutor) y estarán en apoyo a su trabajo de tesis. <br>
                    • Un proyecto de investigación que da lugar a la tesis de grado.
                    <br><br>

                    <div>
                        <img src="plan-estudio.png" class="img-responsive" style="width:60%">
                    </div>
                    <br><br>
                    Los créditos de acuerdo al Plan de Estudios se encuentran a continuación.
                    <br>
                    <div>
                        <img src="plan-estudio2.PNG" class="img-responsive" style="width:80%">
                    </div>
                    <br><br>
                    <div>
                        <img src="plan-estudio3.PNG" class="img-responsive" style="width:80%">
                    </div>
                    <br><br>
                    <span style="    font-family: 'soberana_sanslight';font-size: 14px;color: rgb(152, 151, 156);">
                        <b>Requisitos de egreso</b><br><br>
                        Los requisitos para la obtención del grado son:<br>
                        a) Estar inscrito en el programa.<br>
                        b) Haber aprobado la totalidad de la estructura académica del programa con un promedio general
                        mínimo de ochenta (80), sin considerar los créditos de la tesis.<br>
                        c) Haber cubierto el requisito de egreso del idioma inglés.<br>
                        d) Haber sido autorizado el informe final de la tesis por el comité revisor.<br>
                        e) Haber publicado o tener aceptado donde aparezca como primer autor, un artículo en algún foro
                        académico. <br>
                        f) Defender el documento escrito durante el examen de grado, y ser aprobado en el mismo.<br><br>

                        Actividades complementarias del Plan de Estudios<br>
                        Los estudiantes deberán realizar al menos las siguientes actividades complementarias:<br><br>
                    </span>
                    <div>
                        <img src="plan-estudio4.PNG" class="img-responsive" style="width:80%">
                    </div>


                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                   <app-navbar2></app-navbar2>
                </div>
                <div class="col-md-12 img-responsive text-center" style="margin-top:20px;">
                    <img
                        src="https://conahcyt.mx/wp-content/uploads/2021/10/logo_conacyt_con_sintagma_azul_completo.svg">
                </div>


            </div>
        </div>



        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>