<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota">MAESTRÍA EN CIENCIAS DE LA COMPUTACIÓN</h2>
        </div>

        <div class="col-md-12">
            <div class="col-md-9">
                <div class="col-md-12"><img src="http://hermosillo.tecnm.mx/posgrado/me/Banner posgrado.jpg"
                        class="img-responsive"></div>
                <p style="text-align: justify;">

                    <br><br>
                    Las Ciencias de la Computación han transformado de forma radical el mundo en el que vivimos. Gran
                    parte de los avances tecnológicos, científicos, e incluso sociales no se podrían haber logrado sin
                    el apoyo de las Ciencias de la Computación. Las necesidades de la actual 4ta revolución industrial,
                    denominada Industria 4.0, no hará sino requerir más y mejores sistemas de cómputo, que aprovechen
                    tecnologías como el cómputo en la nube, las aplicaciones para dispositivos móviles, la realidad
                    aumentada, los sistemas inteligentes, big data, y un largo etcétera, en beneficio de las empresas,
                    las organizaciones y la sociedad en general.
                    <br><br>
                    Por lo tanto, se vuelve altamente relevante la formación de recursos humanos especializados que
                    tengan la capacidad de aprovechar estas nuevas tecnologías para proveer productos y servicios para
                    atender las diversas necesidades tanto del sector público como privado.
                    <br><br>
                    La operación del programa de la Maestría en Ciencias de la Computación inicia en agosto de 2014 como
                    una respuesta a la demanda existente en la zona de influencia del Instituto Tecnológico de
                    Hermosillo, donde el desarrollo industrial ha alcanzado un crecimiento considerable en los últimos
                    años y se cuenta con una planta industrial consolidada y diversa en su naturaleza, que
                    constantemente requiere servicios y productos informáticos y de cómputo para ser competitiva. Se
                    tienen industrias y empresas de diferentes sectores entre las que destacan: aeroespacial,
                    automotriz, minera, maquiladora, agroindustrial, entre otras.
                    <br><br>
                    El programa cuenta con Profesores-Investigadores de reconocido prestigio que trabajan en dos
                    diferentes líneas de investigación con laboratorios equipados. Actualmente, la Maestría en Ciencias
                    de la Computación cuenta con el reconocimiento del CONAHCYT dentro del Sistema Nacional de
                    Posgrados.

                    <br><br>
                </p>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                   <app-navbar2></app-navbar2>
                </div>
                <div class="col-md-12 img-responsive text-center" style="margin-top:20px;">
                    <img
                        src="https://conahcyt.mx/wp-content/uploads/2021/10/logo_conacyt_con_sintagma_azul_completo.svg">
                </div>


            </div>
        </div>



        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>