<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota">HISTORIA</h2>
        </div>

        <div class="col-md-12">
            <p>
                En el año 1974, el entonces Gobernador del Estado de Sonora, Lic. Carlos Armando Biebrich Torres, hace
                gestiones para que se cree esta Institución al poniente de la ciudad. El 12 de Octubre de 1975, se
                inician oficialmente las clases con una matrícula de 136 alumnos y cuatro carreras a nivel medio
                superior las cuales son: técnico en aire acondicionado y refrigeración, técnico mecánico, técnico en
                electrónica y técnico en electricidad y 40 alumnos en cursos propedéuticos de nivel superior para las
                carreras de ingeniería.<br>

                <br>En una superficie de 216,533 mts. cuadrados de terreno, se construyeron inicialmente 6 aulas para 40
                alumnos cada una, un salón de dibujo, tres talleres, laboratorio de física y de química. En el personal
                directivo fungía como director de la Institución el Ing. Horacio Núñez Martínez, y el Ing. Nicolás
                Echevarria Díaz como Subdirector, así como 6 jefes de departamento y 45 miembros del personal docente,
                administrativo y de servicios. <br>


                <br>En Enero de 1976,se inician propiamente las carreras de ing. industrial mecánico e ing. industrial
                en electrónica, el 19 de Octubre de 1976, siendo Gobernador del Estado el Lic. Alejandro Carrillo
                Marcor, fue inaugurado oficialmente el Instituto Tecnológico Regional de Hermosillo, por el C.
                Presidente de la República Lic. Luis EcheverríaÁlvarez.<br>
                <br>En Octubre del mismo año, el Ing. Sergio ValdezGurrola, sustituyó en la Subdirección al Ing. Nicolás
                Echevarria Díaz, hacia Febrero de 1978, al término del semestre, egresaron los primeros 36 alumnos en el
                nivel medio superior, en Agosto de este mismo año, el Ing. Luis Reyes Larios, sustituye en la
                Subdirección al Ing. Sergio Valdez Gurrola.<br>

                <br>En estos dos años de 1976 y 1978, se incrementó la infraestructura, construyéndose el edificio
                administrativo, taller de aire acondicionado y refrigeración, sala audiovisual, laboratorio de idiomas,
                tres módulos de 21 aulas y dos salas de dibujo, los laboratorios de ing. mecánica y electrónica, así
                como el taller de soldadura, almacén y taller de mantenimiento.<br>
                <br>Para Febrero de 1979, el Ing. Marcelino Bauzá Rosete, sustituyó al Ing. Luis Reyes Larios en la
                Subdirección. En el mes de Agosto de este mismo año, egresaron los primeros alumnos de nivel superior, 7
                ingenieros industriales en electrónica y 2 ingenieros industriales mecánicos. En este mismo período
                inicia la licenciatura en relaciones comerciales, con 45 alumnos.<br>


                <br>En Octubre de 1980, inicia la licenciatura en informática y el Instituto Tecnológico de Hermosillo,
                cumple su V aniversario, celebrándolo con eventos especiales se develó una placa conmemorativa, el acto
                estuvo a cargo de la Dra. Alicia Arellano de Pavlovich, Presidente Municipal en presencia del Arq.
                Gustavo F. Aguilar Beltrán, Gerente Regional de C.A.P.F.C.E , El Profesor José María Ruiz Vázquez,
                Director General de Educación Pública del Estado, y el Ing. Horacio Núñez Martínez, Director del
                Instituto Tecnológico de Hermosillo. <br>

                <br> En el período transcurrido de 1982 a 1983, se construyeron ocho aulas y el centro de cómputo, una
                biblioteca con capacidad para 200 usuarios y 26,000 volúmenes en libros, también se construyó y equipó
                parcialmente el laboratorio de métodos, se complementó el equipo del laboratorio de ing. mecánica e ing.
                en electrónica. Se construyeron 91.5 metros cuadrados de andadores y se adaptó el laboratorio de
                fotografía y se reacondicionó el local de servicios médicos.<br>


                <br>En Septiembre de 1983, el Ing. Octavio Corral Torres, sustituyóen la Subdirección al Ing. Marcelino
                Bauzá Rosete, además en ese mismo año egresaron las primeras generaciones de licenciatura en relaciones
                comerciales e informática. A principios de 1984 el Ing. Octavio Corral Torres, asume la dirección de la
                institución sustituyendo al Ing. Horacio Núñez Martínez.<br>

                <br>Tres eventos importantes se desarrollaron este mismo año: El primero, fue la reunión sobre el Plan
                de Desarrollo de este instituto 1984 - 1988, con la presencia del Secretario de Educación Pública Jesús
                Reyes Heroles y el Gobernador del Estado Dr. Samuel Ocaña García.<br>


                <br>El segundo evento marcó el noveno aniversario del instituto y fue además el abanderamiento del
                Instituto Tecnológico de Hermosillo, a cargo del C. Gobernador del Estado Sr. Samuel Ocaña García y con
                la presencia del C. Ing. Filiberto Cepeda Tijerina, Director General de Institutos Tecnológicos. La
                Subdirección fue ocupada por el Ing. Alejandro Saracho Luna.<br>

            </p>
        </div>



        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>