<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota">MAESTRÍA EN ADMINISTRACIÓN <br> LÍNEAS DE GENERACIÓN Y APLICACIÓN DEL
                CONOCIMIENTO</h2>
        </div>

        <div class="col-md-12">
            <div class="col-md-9">
                <p>

                    La Maestría en Administración se desarrolla en dos Líneas de Generación y Aplicación del
                    Conocimiento, las cuales se generaron tomando como base, las necesidades del entorno
                    regional, la experiencia en los campos disciplinarios de cada uno de los integrantes del
                    Núcleo Académico Básico que soporta el programa:
                    <br><br>
                    A. Gestión del Talento Humano.<br>
                    Esta línea está orientada al estudio de los métodos y técnicas relativos al proceso de
                    integración del recurso humano a los procesos productivos organizacionales incluyendo
                    todas aquellas funciones inherentes a las actividades de recursos humanos.<br>
                    B. Dirección Estratégica<br>
                    Esta línea de trabajo se orienta al conjunto de decisiones y acciones utilizadas para
                    formular e implementar estrategias específicas que conseguirán que la organización se
                    adapte a su entorno de forma competitiva, para poder alcanzar las metas establecidas.

                </p>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <app-navbar></app-navbar>   
                </div>


            </div>
        </div>



        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>