<div class="row" style="margin-top: 40px;">
    <div class="col-md-3">
        <div id="ESecU">
            <span class="titulo" style="font-size: 14px;">Sistema de Gestión Integral</span>
            <ul>
                <a routerLink="/iso">
                    <li class="contenidoFooter">Gestión de Calidad</li>
                </a>
            </ul>
        </div>
    </div>


</div>
<div class="col-md-12">
    <hr class="puntos col-md-12 col-xs-12 col-sm-12">
    <p>
        ●<a href="http://www.presidencia.gob.mx/" target="_top" class="contenidoFooter">Presidencia de la
            Republica</a>
        ●<a href="http://www.sep.gob.mx/" target="_top" class="contenidoFooter">Secretaría de Educación Pública</a>
        ●<a href="http://www.tecnm.mx/" target="_top" class="contenidoFooter">Tecnológico Nacional de México</a>

        ●<a href="http://www.anuies.mx/" class="contenidoFooter" target="_top"
            title="Asociación Nacional de Universidades e Instituciones de Educación Superior">ANUIES</a>
        ●<a href="http://www.universia.net.mx/" target="_top" class="contenidoFooter">Universia</a>

        <a href="/ciie/quienes.html" target="_blank"></a>
    </p>
    <hr class="puntos">


    <div class="col-md-12 col-sm-12">
        <div class="col-md-12 text-center">
            <a href="http://www.sep.gob.mx/" target="_top">
                <img class="logosepB img-responsive"
                    src="https://www.tecnm.mx/assets/files/main/img/pleca_educacion_dic24.png"
                    title="Secretaría de Educación Pública" style="margin: 0 auto; display: block;">
            </a>
        </div>
    </div>
    <address class="col-md-12 text-center contenidoFooter">
        Instituto Tecnológico de Hermosillo,
        <a href="http://hermosillo.tecnm.mx/" class="contenidoFooter">www.hermosillo.tecnm.mx</a>,
        <a href="mailto:webmaster@hermosillo.tecnm.mx" class="contenidoFooter">cyd_hermosillo@tecnm.mx</a><br>
        Av. Tecnológico 115 C.P. 83170 Colonia Sahuaro, Hermosillo Sonora, México<br>
        Teléfono: (01 662) 2 60 65 00 ext. 114<br>
        Copyright © 2013 Instituto Tecnológico de Hermosillo. Algunos derechos reservados.
    </address>
</div>