<div class="row">
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota">MAESTRÍA EN INGENIERÍA INDUSTRIAL <br> PLAN DE ESTUDIOS</h2>
        </div>

        <div class="col-md-12">
            <div class="col-md-9">
                <div>
                    Estructura del plan de estudios Maestría en Ingeniería Industrial En un periodo de dos años, se
                    deberán cubrir satisfactoriamente los 100 créditos del plan de estudios. Los contenidos de las
                    materias se encuentran en los enlaces disponibles en cada una de las asignaturas, mismos que indican
                    del nombre de los cursos, número de créditos, contenidos, metodología de enseñanza y aprendizaje,
                    criterios y procedimientos de evaluación, bibliografía relevante y actualizada.
                    <br><br>
                    <div><img src="../../imagenes/maestira mii 2025-1-.png" class="img-responsive"></div>
                    <br><br>
                    <div><img src="../../imagenes/maestira mii 2025-1-.2png.png" class="img-responsive"></div>
                    <br><br>
                    <!-- <center><img src="plan-estudio-3.png" class="img-responsive"></center> -->
                    <!-- <br><br> -->


                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <app-navbar4></app-navbar4>
                </div>
                <div class="col-md-12 img-responsive text-center" style="margin-top:20px;">
                    <img src="conacyt-pnpc.png">
                </div>


            </div>



            <!------------------------------------>
            <!--------END CONTENIDO-->
        </div>
    </div>
    <!----END NOTAS------>

</div>