<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota">ESCUDO</h2>
        </div>
        <div class="col-md-12">
            <div style="text-align: center; align-items: center;"><img src="../logo_ith.jpg" class="img-responsive" width="230" height="234"></div>
        </div>
        <div class="col-md-12">
            <p>

                El escudo ITH, fue diseñado en 1977 por el hoy Ingeniero Industrial en Electrónica César Gilberto Leyva
                Durazo.<br><br>

                •El naranja representa el color que toma la tierra calcinada de esta región bajo el sol abrasador; color
                representativo de la ciudad.<br><br>

                •El verde la ambición mayor del sonorense, forestar su árida tierra.
                <br><br>
                •El hexágono representa la cabeza de un tornillo, inscritas aparece una circunferencia representando el
                cuadrante de un osciloscopio.
                <br><br>
                •Equinoccio de primavera.
                <br><br>
                •Las líneas internas representan los 365 días del año.
                <br><br>
                •Las doce crestas representan los meses del año que a la vez es el dibujo estilizado de un engrane,
                símbolo de la industrialización.
                <br><br>
                •Se destacan los signos (+) y (-) representando la indisoluble unidad del bien y el mal.
                <br><br>
                •Los orbitales y llaves simbolizan las carreras que se estudian en el ITH.
                <br><br>
                •En el interior aparece el mapa de Sonora con un hexágono ubicado aproximadamente en el Municipio de
                Hermosillo.
                <br><br>
                Coronando el escudo se encuentra el venado, mascota del Tecnológico, deidad de alto significado en la
                mitología regional que aparece sobre un fondo verde.
                <br><br>
                1975, año de fundación del Instituto Tecnológico de Hermosillo.

            </p>
        </div>



        <!------------------------------------>
        <!--------END CONTENIDO-->
    </div>
</div>