<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota">INGENIERIA EN BIOMEDICA</h2>
        </div>

        <div class="col-md-12">

            <!-- Tab panes -->

            <section>
                <div>
                    <div>
                        <div class="col-menu-carrera">
                            <app-navbar-carrera></app-navbar-carrera>
                            <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                            <!-- <script>
                                $(function () {
                                    $(".col-menu-carrera").load("menu-carrera.html");
                                });
                            </script> -->
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane  in active" id="home">

                                <h3 class="head text-center text-warning col-md-9">Bienvenidos</h3>
                                <div class="col-md-9">
                                    <div class="narrow" style="text-align: center;width: 100%;">
                                        <p><br>
                                            <b>Objetivo General</b><br><br>
                                            Formar profesionistas con competencias en los principios y técnicas
                                            de la ingeniería aplicadas al campo de la biomedicina para diseñar,
                                            innovar, integrar y gestionar tecnología; así como realizar
                                            investigación científica y desarrollo tecnológico en equipos
                                            multidisciplinarios para resolver problemas en el sector salud y la
                                            medicina, con compromiso ético, actitud emprendedora y productiva,
                                            consciente del desarrollo sustentable de acuerdo a la normatividad
                                            vigente.
                                            <br><br>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3" style="text-align: center;">
                                    <img src="imagenes/Thumb-triptico-Biomedica.png">
                                    <a class="text-warning" style="font-weight: bold;" target="_blank"
                                        href="imagenes/Biomedica-ITH-TecNM-Campus-Hermosillo-triptico-2020.png">Descarga
                                        el tríptico informativo</a>
                                </div>

                            </div>
                            <div class="tab-pane " id="perfil">
                                <h3 class="head text-center text-warning">Perfiles </h3>
                                <p class="narrow">
                                    <b>Perfil de Ingreso</b><br><br>
                                    El aspirante a ingresar a la carrera de Ingeniería Biomédica deberá
                                    reunir las siguientes características:<br>
                                    1. Convicción de trabajar por el bien común y el alcance del éxito<br>
                                    2. Bases académicas sólidas en las áreas físico-matemáticas y
                                    médico-biológicas.<br>
                                    3. Comunicarse correctamente de manera oral y escrita.<br>
                                    4. Habilidad para trabajar de manera individual y en grupo.<br>
                                    5. Analizar, sintetizar y evaluar información.<br>
                                    6. Integrar y aplicar los conocimientos adquiridos.
                                    <br><br>

                                    <b>Perfil de Egreso</b><br><br>
                                    El egresado de Ingeniería Biomédica desarrollará entre otras, las
                                    siguientes competencias:<br><br>

                                    1. Ejercer la profesión en el entorno político, social, económico y
                                    cultural de manera ética y dentro del marco legal.<br>
                                    2. Promover y aplicar acciones relacionadas con el desarrollo
                                    sustentable.<br>
                                    3. Realizar investigación científica y desarrollo tecnológico.<br>
                                    4. Ejercer actitudes emprendedoras, de liderazgo y desarrollar
                                    habilidades para la toma de decisiones en su ámbito profesional.<br>
                                    5. Dirigir y participar en equipos de trabajo interdisciplinario y
                                    multidisciplinario en contextos nacionales e internacionales.<br>
                                    6. Participar como administrador en la toma de decisiones para la
                                    gestión de recursos humanos, económicos y materiales.<br>
                                    7. Asesorar y capacitar en el área de Ingeniería Biomédica.<br>
                                    8. Diseñar e implementar instrumental de alta tecnología para el
                                    diagnóstico médico, tratamiento y rehabilitación integral de
                                    pacientes.<br>
                                    9. Innovar, integrar y administrar la tecnología en laboratorios,
                                    clínicas y hospitales.<br>
                                    10. Intervenir en la creación de condiciones de seguridad e higiene
                                    en instalaciones hospitalarias empleando la normatividad vigente.<br>
                                    11. Integrar soluciones informáticas en el campo de la Ingeniería
                                    Biomédica<br>
                                    12. Gestionar sistemas de manejo y disposición de desechos en el
                                    área biomédica.<br>
                                    13. Proveer servicio de mantenimiento a equipo biomédico.


                                </p>
                            </div>
                            <div class="tab-pane " id="materias">
                                <h3 class="head text-center text-warning">Materias</h3>
                                <>
                                    <b>Reticula </b>
                                    <br><br>
                                    <div class="panel panel-default col-md-12 col-xs-12 col-sm-12">
                                        <div class="panel-heading col-md-12 col-md-sm-12 col-xs-12 text-center">
                                            <div class="text-success">
                                                <b>INGENIERIA BIOMEDICA<br />
                                                    ESPECIALIDAD: BIÓNICA </b>
                                            </div>
                                        </div>
                                        <div class="panel-body col-md-12 col-md-sm-12 col-xs-12 table-responsive">


                                            <table class="table table-bordered table-responsive text-center">
                                                <tbody>
                                                    <tr class="text-info">
                                                        <td>
                                                            Semestre 1</td>
                                                        <td>
                                                            Semestre 2</td>
                                                        <td>
                                                            Semestre 3</td>
                                                        <td>
                                                            Semestre 4</td>
                                                        <td>
                                                            Semestre 5</td>
                                                        <td>
                                                            Semestre 6</td>
                                                        <td>
                                                            Semestre 7</td>
                                                        <td>
                                                            Semestre 8</td>
                                                        <td>
                                                            Semestre 9</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-danger materias"
                                                                href="documentos/reticulas/biomedica/Semestre 1/1-ACF0901 Calculo Diferencial.pdf"
                                                                target="_blank"> Cálculo <br>Diferencial<br>ACF-0901
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-warning materias"
                                                                href="documentos/reticulas/biomedica/Semestre 2/1-ACF0902 Calculo Integral.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Cálculo Diferencial">
                                                                Cálculo <br>Integral<br>ACF-0902</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info materias"
                                                                href="documentos/reticulas/biomedica/Semestre 3/1-ACF0904 Calculo Vectorial.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Cálculo Integral">
                                                                Cálculo <br>Vectorial<br>ACF-0904</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-success materias"
                                                                href="documentos/reticulas/biomedica/Semestre 4/1-ACF0905 Ecuaciones Diferenciales.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Cálculo Vectorial">
                                                                Ecuaciones<br> Diferenciales<br>ACF-0905
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-default materias"
                                                                href="documentos/reticulas/biomedica/Semestre 5/1-ACD0908 Desarrollo Sustentable.pdf"
                                                                target="_blank"> Desarrollo
                                                                <br>Sustentable<br>ACD-0908</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-danger materias"
                                                                href="documentos/reticulas/biomedica/Semestre 6/1-IBF1027 Sensores y Actuadores.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Electrónica Analógica">
                                                                Sensores y <br>Actuadores<br>IBF-1027</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-warning materias"
                                                                href="documentos/reticulas/biomedica/Semestre 7/1-ACA0909 Taller de Investigacion I.pdf"
                                                                target="_blank"> Taller de <br>Investigación
                                                                I<br>ACA-0909</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info materias"
                                                                href="documentos/reticulas/biomedica/Semestre 8/1-ACA0910 Taller de Investigacion II.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Taller de Investigación I">
                                                                Taller de <br>Investigación II<br>ACA-0910</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-success materias"
                                                                href="documentos/reticulas/biomedica/Semestre 9/1-IBC1025 Proyecto de Ingenieria Biomedica.pdf"
                                                                data-placement="top" data-toggle="tooltip"
                                                                data-original-title="Taller de Investigación II">
                                                                IBC-1025 Proyecto de <br>Ingenieria
                                                                <br>Biomedica<br>IBC-1025</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-danger materias"
                                                                href="documentos/reticulas/biomedica/Semestre 1/2-IBD1012 Fundamentos de Programacion.pdf"
                                                                target="_blank"> Fundamentos de<br>
                                                                Programación<br>IBD-1012</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-warning materias"
                                                                href="documentos/reticulas/biomedica/Semestre 2/2-IBC1023 Programacion Orientada a Objetos.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Fundamentos de Programación">
                                                                Programación <br>Orientada a <br>Objetos<br>IBC-1023</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info materias"
                                                                href="documentos/reticulas/biomedica/Semestre 3/2-IBC1030 Tecnologia de base de datos.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Programación Orientada a Objetos">
                                                                Tecnologías de<br> Base de<br> Datos<br>IBC-1030</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-success materias"
                                                                href="documentos/reticulas/biomedica/Semestre 4/2-IBD1018 Metodos Numericos.pdf"
                                                                target="_blank"> Métodos <br>Numericos<br>IBD-1018</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-default materias"
                                                                href="documentos/reticulas/biomedica/Semestre 5/2-IBF1009 Electronica Digital.pdf"
                                                                target="_blank"> Electrónica <br>Digital<br>IBF-1009</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-danger materias"
                                                                href="documentos/reticulas/biomedica/Semestre 6/2-IBC1024 Propiedades de los Materiales.pdf"
                                                                target="_blank"> Propiedades de<br> los
                                                                Materiales<br>IBC-1024 </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-warning materias"
                                                                href="documentos/reticulas/biomedica/Semestre 7/2-IBC1004 Biomateriales.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Propiedades de los Materiales">
                                                                Biomateriales <br>IBC-1004</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info materias"
                                                                href="documentos/reticulas/biomedica/Semestre 8/2-IBC1026 Seguridad e Higiene en el Sector Salud.pdf"
                                                                target="_blank"> Seguridad e <br>Higiene
                                                                en <br>el Sector Salud<br>IBC1026</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-success materias"
                                                                href="documentos/reticulas/biomedica/Semestre 9/2-BIF1703 (ESPECIALIDAD) CAD CAM e Impresion en 3D.pdf"
                                                                target="_blank"> CAD/CAM e<br>
                                                                Impresión en 3D<br>BIF-1703</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-danger materias"
                                                                href="documentos/reticulas/biomedica/Semestre 1/3-ACA0907 Taller de Etica.pdf"
                                                                target="_blank"> Taller de<br> Etica<br>ACA-0907
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-warning materias"
                                                                href="documentos/reticulas/biomedica/Semestre 2/3-IBF1021 Optica y ondas.pdf"
                                                                target="_blank"> óptica y <br>Ondas<br>IBF-1021</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info materias"
                                                                href="documentos/reticulas/biomedica/Semestre 3/3-IBJ1005 Bioquimica.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Fundamentos de Quimica Orgánica">
                                                                Bioquimica <br>IBJ-1005</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-success materias"
                                                                href="documentos/reticulas/biomedica/Semestre 4/3-IBF1010 Fenomenos de Transporte en Biosistemas.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Anatomia y Fisiología I">
                                                                Fenomenos de <br>Transporte en
                                                                <br>Biosistemas<br>IBF-1010
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-default materias"
                                                                href="documentos/reticulas/biomedica/Semestre 5/3-IBC1029 Sistemas de Computo y Redes.pdf"
                                                                target="_blank"> Sistemas de<br>
                                                                Computo y <br>Redes<br>IBC-1029</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-danger materias"
                                                                href="documentos/reticulas/biomedica/Semestre 6/3-IBC1007 Desarrollo Empresarial.pdf"
                                                                target="_blank"> Desarrollo <br>Empresarial
                                                                <br>IBC-1007</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-warning materias"
                                                                href="documentos/reticulas/biomedica/Semestre 7/3-IBF1014 Instrumentacion Biomedica.pdf"
                                                                target="_blank"> Instrumentación
                                                                <br>Biomedica<br>IBF-1014
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info materias"
                                                                href="documentos/reticulas/biomedica/Semestre 8/3-IBF1022 Procesamiento Digital de Señales.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Instrumentación Biomedica, Señales y Sistemas e Instrumentación Virtual ">
                                                                Procesamiento <br>Digital de <br>Señales<br>IBF-1022</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-success materias" href="#"
                                                                target="_blank">Residencias <br>Profesionales<br>
                                                                RES-B001</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-danger materias"
                                                                href="documentos/reticulas/biomedica/Semestre 1/4-IBC1016 Introduccion a la Ingenieria Biomedica.pdf"
                                                                target="_blank"> Introducción a <br>la
                                                                Ingenieria <br>Biomedica<br>IBC-1016</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-warning materias"
                                                                href="documentos/reticulas/biomedica/Semestre 2/4-AEF1042 Mecanica Clasica.pdf"
                                                                target="_blank">Mecánica <br>Clásica<br>AEF-1042
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info materias"
                                                                href="documentos/reticulas/biomedica/Semestre 3/4-IBF1002 Anatomia y Fisiologia I.pdf"
                                                                target="_blank"> Anatomia y <br>Fisiologia
                                                                I <br>IBF-1002</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-success materias"
                                                                href="documentos/reticulas/biomedica/Semestre 4/4-IBF1003 Anatomia y Fisiologia II.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Anatomia y Fisiologia I">
                                                                Anatomia y<br> Fisiologia II<br>IBF-1003</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-default materias"
                                                                href="documentos/reticulas/biomedica/Semestre 5/4-IBF1011 Fisica Medica.pdf"
                                                                target="_blank"> Fisica <br>Medica<br>IBF1011</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-danger materias"
                                                                href="documentos/reticulas/biomedica/Semestre 6/4-IBF1020 Modelado de Sistemas Fisiologicos.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Anatomia y Fisiologia II">
                                                                Modelado de<br> Sistemas<br>
                                                                Fisiologicos<br>IBF-1020</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-warning materias"
                                                                href="documentos/reticulas/biomedica/Semestre 7/4- IBF1028 Señales y Sistemas.pdf"
                                                                target="_blank"> Señales y <br>Sistemas
                                                                <br>IBF-1028</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info materias"
                                                                href="documentos/reticulas/biomedica/Semestre 8/4-BIF1702 (ESPECIALIDAD) Biomecanica.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Modelado de Sistemas Fisiologicos">
                                                                Biomecanica<br>BIF-1702</a>
                                                        </td>
                                                        <td>
                                                            &nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-danger materias"
                                                                href="documentos/reticulas/biomedica/Semestre 1/5-AEF1060 Quimica Inorganica.pdf"
                                                                target="_blank"> Quimica <br>Inorganica<br>AEF-1060
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-warning materias"
                                                                href="documentos/reticulas/biomedica/Semestre 2/5-AEF1033 Fundamentos de Quimica Organica.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Quimica Inorganica">
                                                                Fundamentos de<br> Quimica <br>Organica<br>AEF-1033</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info materias"
                                                                href="documentos/reticulas/biomedica/Semestre 3/5-AEF1020 Electromagnetismo.pdf"
                                                                target="_blank"> Electromagnetismo<br>AEF-1020</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-success materias"
                                                                href="documentos/reticulas/biomedica/Semestre 4/5-IBJ1006 Circuitos y Maquinas Electricas.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Electromagnetismo">
                                                                Circuitos y <br>Maquinas <br>Electricas<br>IBJ-1006</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-default materias"
                                                                href="documentos/reticulas/biomedica/Semestre 5/5-IBF1008 Electronica Analogica.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Circuitos y Máquinas Eléctricas">
                                                                Electrónica <br>Analogica<br>IBF-1008</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-danger materias"
                                                                href="documentos/reticulas/biomedica/Semestre 6/5-IBF1001 Amplificadores de Bioseñales.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Electrónica Analógica">
                                                                Amplificadores de <br>Bioseñales<br>IBF-1001</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-warning materias"
                                                                href="documentos/reticulas/biomedica/Semestre 7/5- BIF1701 (ESPECIALIDAD) Fundamentos basicos de la inmunologia.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Anatomia y Fisiologia II">
                                                                Fundamentos <br>Básicos de<br> la
                                                                Inmunología<br>BIF-1701</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info materias"
                                                                href="documentos/reticulas/biomedica/Semestre 8/5- BIF1704 (ESPECIALIDAD) Informatica Medica.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Sistemas de Computo y Redes">
                                                                Informática<br> Medica<br>BIF-1704</a>
                                                        </td>
                                                        <td>
                                                            &nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-danger materias"
                                                                href="documentos/reticulas/biomedica/Semestre 1/6-ACC0906 Fundamentos de Investigacion.pdf"
                                                                target="_blank"> Fundamentos de<br>
                                                                Investigación<br>ACC-0906</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-warning materias"
                                                                href="documentos/reticulas/biomedica/Semestre 2/6-ACF0903 Algebra Lineal.pdf"
                                                                target="_blank"> Álgebra<br> Lineal<br>ACF-0903</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info materias"
                                                                href="documentos/reticulas/biomedica/Semestre 3/6-AEF1052 Probabilidad y Estadistica.pdf"
                                                                target="_blank"> Probabilidad y<br>
                                                                Estadistica<br>AEF-1052</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-success materias"
                                                                href="documentos/reticulas/biomedica/Semestre 4/6-IBQ1017 Mediciones Electricas.pdf"
                                                                target="_blank"> Mediciones
                                                                <br>Eléctricas<br>IBQ-1017</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-default materias"
                                                                href="documentos/reticulas/biomedica/Semestre 5/6-IBC1013 Gestion de Costos.pdf"
                                                                target="_blank"> Gestión de <br>Costos<br>IBC-1013</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-danger materias"
                                                                href="documentos/reticulas/biomedica/Semestre 6/6-IBF1019 Microcontroladores.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Electrónica Digital">
                                                                Microcontroladores<br>IBF-1019</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-warning materias"
                                                                href="documentos/reticulas/biomedica/Semestre 7/6-IBC1015 Instrumentacion Virtual.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Microcontroladores y Amplificadores de Bioseñales">
                                                                Instrumentación <br>Virtual<br>IBC-1015
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info materias"
                                                                href="documentos/reticulas/biomedica/Semestre 8/6-BIF1705 (ESPECIALIDAD) Robotica Medica.pdf"
                                                                target="_blank" data-placement="top"
                                                                data-toggle="tooltip"
                                                                data-original-title="Sensores y Actuadores">
                                                                Robotica <br>Medica<br>BIF-1705</a>
                                                        </td>
                                                        <td>
                                                            &nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-danger materias" href="#">
                                                                Tutorias I<br>TUT-2013</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-warning materias" href="#">Tutorias
                                                                II<br>TUT-2014</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info materias" href="#">Actividad
                                                                Complementaria 4<br>A4B-2010</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-success materias" href="#">Actividad
                                                                Complementaria 5<br>A5B-2010</a>
                                                        </td>
                                                        <td>
                                                            &nbsp;</td>
                                                        <td>
                                                            <a class="btn btn-danger materias" href="#">Actividades
                                                                <br> Complementarias<br>ACB-2010 </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-warning materias" href="#"
                                                                target="_blank">Servicio <br> Social<br>
                                                                SSB-2010</a>
                                                        </td>
                                                        <td>
                                                            &nbsp;</td>
                                                        <td>
                                                            &nbsp;</td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-danger materias" href="#">
                                                                Extraescolar I<br>E1B-2010</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-warning materias" href="#">Extraescolar
                                                                II<br>E2B-2010</a>
                                                        </td>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                        <td>
                                                            &nbsp;</td>
                                                        <td>
                                                            &nbsp;</td>
                                                        <td>
                                                            &nbsp;</td>
                                                        <td>
                                                            <a class="btn btn-warning materias" data-placement="top"
                                                                data-toggle="tooltip"
                                                                title="Actividades Complementarias" href="#"
                                                                target="_blank">Servicio
                                                                Social<br>SSM-2010</a>
                                                        </td>
                                                        <td>
                                                            &nbsp;</td>
                                                        <td>
                                                            &nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="col-md-12">
                                                <a href="/documentos/reticulas/biomedica/RETICULA IBIO-2010-235 CON ESPECIALIDAD.pdf"
                                                    target="_blank">Descargar Reticula</a>
                                            </div>

                                        </div>
                                    </div>
                            </div>
                            <div class="tab-pane " id="directorio">
                                <h3 class="head text-center text-warning">Planta Docente de Ingeniería Biomédica</h3>
                                <div class="narrow text-center">

                                    <div class="col-md-12">
                                        <div class="col-md-5 col-md-offset-1" style="height:260px">
                                            <table class="table table-striped">
                                                <tr class="active">
                                                    <td rowspan="5"><img src=""></td>
                                                    <td><b>Nombre:</b> ING. JOSE DE JESUS EDUARDO MEDINA GUTIERREZ</td>
                                                </tr>
                                                <tr class="active">
                                                    <td><b>Email:</b> electricaelectronica@hermosillo.tecnm.mx </td>
                                                </tr>
                                                <tr class="active">
                                                    <td><b>Puesto:</b> Jefe del departamento de Eléctrica-Electrónica
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-md-5 col-md-offset-1" style="height:260px">
                                            <table class="table table-striped">
                                                <tr class="active">
                                                    <td rowspan="5"><img src=""></td>
                                                    <td><b>Nombre:</b> María Jesús Coronado López</td>
                                                </tr>
                                                <tr class="active">
                                                    <td><b>Email:</b> maria.coronadol@hermosillo.tecnm.mx </td>
                                                </tr>
                                                <tr class="active">
                                                    <td><b>Puesto:</b> Secretaria del Departamento </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-md-5 col-md-offset-1" style="height:260px">
                                            <table class="table table-striped">
                                                <tr class="active">
                                                    <td rowspan="5"><img src=""></td>
                                                    <td><b>Nombre:</b> M.E. Julia Graciela Preciado León</td>
                                                </tr>
                                                <tr class="active">
                                                    <td><b>Email:</b> julia.preciadol@hermosillo.tecnm.mx </td>
                                                </tr>
                                                <tr class="active">
                                                    <td><b>Puesto:</b> Presidenta de Academia </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-md-5 col-md-offset-1" style="height:260px">
                                            <table class="table table-striped">
                                                <tr class="active">
                                                    <td rowspan="5"><img src=""></td>
                                                    <td><b>Nombre:</b> M.C. Jorge David Gutiérrez Cota</td>
                                                </tr>
                                                <tr class="active">
                                                    <td><b>Email:</b> coordinacion.biomedica@hermosillo.tecnm.mx </td>
                                                </tr>
                                                <tr class="active">
                                                    <td><b>Puesto:</b> Coordinadora de Carrera </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-md-5 col-md-offset-1" style="height:260px">
                                            <table class="table table-striped">
                                                <tr class="active">
                                                    <td rowspan="5"><img src=""></td>
                                                    <td><b>Nombre:</b> M.C. Jesús Manuel Tarín Fontes</td>
                                                </tr>
                                                <tr class="active">
                                                    <td><b>Email:</b> jesus.tarinf@hermosillo.tecnm.mx /
                                                        chumelfts@gmail.com </td>
                                                </tr>
                                                <tr class="active">
                                                    <td><b>Puesto:</b> Coordinador de Residencias Profesionales </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-md-5 col-md-offset-1" style="height:260px">
                                            <table class="table table-striped">
                                                <tr class="active">
                                                    <td rowspan="5"><img src=""></td>
                                                    <td><b>Nombre:</b> M.C. Francisco Medellín Valdez </td>
                                                </tr>
                                                <tr class="active">
                                                    <td><b>Email:</b> francisco.medellinv@hermosillo.tecnm.mx </td>
                                                </tr>
                                                <tr class="active">
                                                    <td><b>Puesto:</b> Coordinadora de Créditos Complementarios </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-md-5 col-md-offset-1" style="height:260px">
                                            <table class="table table-striped">
                                                <tr class="active">
                                                    <td rowspan="5"><img src=""></td>
                                                    <td><b>Nombre:</b> Ing. María Fernanda Leal Serna</td>
                                                </tr>
                                                <tr class="active">
                                                    <td><b>Email:</b> maria.leals@hermosillo.tecnm.mx </td>
                                                </tr>
                                                <tr class="active">
                                                    <td><b>Puesto:</b> Jefa de Laboratorio de Biomédica</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="tab-pane " id="contacto">
                                <h3 class="head text-center text-warning">Contacto</h3>
                                <p class="narrow text-center">
                                    Nombre: Ing. José de Jesús Eduardo Medina Gutiérrez <br>
                                    Puesto: Jefe del Departamento de Ingeniería Eléctrica y Electrónica <br>
                                    Email: electricaelectronica@hermosillo.tecnm.mx <br>
                                    Teléfono: (662) 26065.00 ext. 146 <br>
                                    Nombre: M.C. Jorge David Gutiérrez Cota <br>
                                    Puesto: Coordinador de Ingeniería Biomédica <br>
                                    Email: coordinacion.biomedica@hermosillo.tecnm.mx <br>

                                    Teléfono: (662) 26065.00 ext. 182
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
            </section>