<div class="row">
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "c8700d9cf950be63738668a48d457167",
            "Position": "Left",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "es-MX",
            "showTooltip": true,
            "btnStyle": {
                "vPosition": [
                    "80%",
                    "80%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1876c9",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 1,
                    "shape": "circle"
                }
            }
        };
        (function (doc, head, body) {
            var coreCall = doc.createElement('script');
            coreCall.src = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer = true;
            coreCall.integrity = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin = 'anonymous';
            coreCall.setAttribute('data-cfasync', true);
            body ? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
    <div class="col-md-12">
        <!------CONTENIDO-------->
        <div class="col-md-12">
            <h2 class="tnota">MAESTRÍA EN INGENIERÍA INDUSTRIAL <br> NÚCLEO ACADÉMICO BÁSICO</h2>
        </div>

        <div class="col-md-12">
            <div class="col-md-9">
                <div class="container col-md-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#mnab">Línea de Sistemas de
                                        Manufactura</a>
                                </h4>
                            </div>
                            <div id="mnab" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <tr class="col-md-12">
                                            <td class="col-md-3">

                                            </td>
                                            <td class="col-md-9">
                                                Dr. Germán Alonso Ruiz Domínguez
                                                <br>
                                                gruiz@hermosillo.tecnm.mx


                                            </td>
                                        </tr>

                                        <tr class="col-md-12">
                                            <td class="col-md-3"></td>
                                            <td class="col-md-9">
                                                Dr. Gilberto Orrantia Daniel
                                                <br>
                                                gilberto.orrantiad@hermosillo.tecnm.mx



                                            </td>
                                        </tr>

                                        <tr class="col-md-12">
                                            <td class="col-md-3"> </td>
                                            <td class="col-md-9">
                                                M.C.I. Rodolfo Ulises Rivera Landaverde
                                                <br>
                                                rodolfo.riveral@hermosillo.tecnm.mx

                                            </td>
                                        </tr>

                                        <tr class="col-md-12">
                                            <td class="col-md-3"> </td>
                                            <td class="col-md-9">
                                                Dr. Rafael García Martínez
                                                <br>
                                                rafael.garciam@hermosillo.tecnm.mx


                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#ptp">Línea de Ergonomía
                                        Ocupacional</a>
                                </h4>
                            </div>
                            <div id="ptp" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <tr class="col-md-12">
                                            <td class="col-md-3"> </td>
                                            <td class="col-md-9">
                                                Dr. Gerardo Meza Partida
                                                <br>
                                                gerardo.mezap@hermosillo.tecnm.mx

                                            </td>
                                        </tr>
                                        <tr class="col-md-12">
                                            <td class="col-md-3"> </td>
                                            <td class="col-md-9">
                                                Dr. Enrique Javier de la Vega Bustillos
                                                <br>
                                                enrique.delavegab@hermosillo.tecnm.mx


                                            </td>
                                        </tr>
                                        <tr class="col-md-12">
                                            <td class="col-md-3"> </td>
                                            <td class="col-md-9">
                                                Dr. Francisco Octavio López Millán
                                                <br>
                                                francisco.lopezm@hermosillo.tecnm.mx


                                            </td>
                                        </tr>
                                        <tr class="col-md-12">
                                            <td class="col-md-3"> </td>
                                            <td class="col-md-9">
                                                Dra. Martha Estela Diaz Muro
                                                <br>
                                                Martha.diazm@hermosillo.tecnm.mx


                                            </td>
                                        </tr>
                                        <tr class="col-md-12">
                                            <td class="col-md-3"> </td>
                                            <td class="col-md-9">
                                                Dr. Carlos Alberto Pereyda Pierre
                                                <br>
                                                carlos.pereydap@hermosillo.tecnm.mx



                                            </td>
                                        </tr>
                                        <tr class="col-md-12">
                                            <td class="col-md-3"> </td>
                                            <td class="col-md-9">
                                                Dr. Oscar Vidal Arellano Tanori
                                                <br>
                                                Oscar.arellanot@hermosillo.tecnm.mx



                                            </td>
                                        </tr>

                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <app-navbar4></app-navbar4>
                </div>
                <div class="col-md-12 img-responsive text-center" style="margin-top:20px;">
                    <img src="conacyt-pnpc.png">
                </div>


            </div>



            <!------------------------------------>
            <!--------END CONTENIDO-->
        </div>
    </div>
    <!----END NOTAS------>

</div>