<ul class="nav nav-pills nav-stacked">
    <li class="active"><a routerLink="/oferta-educativa/Doctorado">Inicio</a></li>
    <li><a href="https://dciittg.com/doctorado/">más información</a></li>
    <li><a routerLink="/oferta-educativa/Doctorado-contacto">Contacto</a></li>
    <li><a routerLink="/oferta-educativa/Doctorado-estudiantes">Estudiantes</a></li>
    <!-- <li ><a href="docentes.html">Docentes</a></li>
                                                    <li ><a href="lineas-investigacion.html">Líneas de Investigación</a></li>
                                                    <li ><a href="tesis.html">Tesis Disponibles</a></li>
                                                    <li ><a href="productividad.html">Productividad</a></li>
                                                    <li ><a href="vinculacion.html">Vinculación</a></li>
                                                    <li ><a href="procedimientos.html">Procedimientos</a></li> -->
</ul>