<div class="row">
    <div class="col-sm-12">
        
        <div class=row *ngFor="let item of notas">
            <div class=col-md-3><img [src]="item.fotoperfil" loading=lazy
                    class="img-responsive noticia">
                <h6 style=float:left><span class="badge badge-secondary" style=margin-left:10px> {{item.fecha | date:'MMMM d'}} </span></h6><img src="imagenes/100 libre plastico logo 2.png" loading=lazy
                    class=img-responsive-logo-libre-plastico
                    style=float:right;margin-right:50px;margin-top:5px;max-width:80px>
            </div>
            <div class=col-md-7>
                <div class=row>
                    <div class="col-md-12 text-uppercase titulo"> {{item.titulo}}

                    </div>
                </div>
                <div class=row>
                    <div class="col-md-12 contenido">
                        <div class=row>
                            <div class=col-md-12>
                                    <input class="btn btn-sm" id="nota6" (click)="verNota(item.id)" src="imagenes/btnLeerMas.png"
                                        value="Leer más..." />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=row>
            <div class=col-md-3><img src="imagenes/555726058_806941175164304_1255115301323374271_n.jpg" loading=lazy
                    class="img-responsive noticia">
                <h6 style=float:left><span class="badge badge-secondary" style=margin-left:10px>septiembre
                        26</span></h6><img src="imagenes/100 libre plastico logo 2.png" loading=lazy
                    class=img-responsive-logo-libre-plastico
                    style=float:right;margin-right:50px;margin-top:5px;max-width:80px>
            </div>
            <div class=col-md-7>
                <div class=row>
                    <div class="col-md-12 text-uppercase titulo">Graduación Generación 2020-2025 |
                        TecNM-Hermosillo

                    </div>
                </div>
                <div class=row>
                    <div class="col-md-12 contenido">
                        <div class=row>
                            <div class=col-md-12>
                                <form action="nota 26092025.html" method="post">
                                    <input class="btn btn-sm" id="nota6" src="imagenes/btnLeerMas.png" type="submit"
                                        value="Leer más..." />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=row>
            <div class=col-md-3><img src="imagenes/554093536_806080395250382_1069815532305222337_n.jpg" loading=lazy
                    class="img-responsive noticia">
                <h6 style=float:left><span class="badge badge-secondary" style=margin-left:10px>septiembre
                        26</span></h6><img src="imagenes/100 libre plastico logo 2.png" loading=lazy
                    class=img-responsive-logo-libre-plastico
                    style=float:right;margin-right:50px;margin-top:5px;max-width:80px>
            </div>
            <div class=col-md-7>
                <div class=row>
                    <div class="col-md-12 text-uppercase titulo">🌿✨ Tequios por la Paz | Limpieza en
                        TecNM-Hermosillo ✨🌿

                    </div>
                </div>
                <div class=row>
                    <div class="col-md-12 contenido">
                        <div class=row>
                            <form action="nota 02 26092025.html" method="post">
                                <input class="btn btn-sm" id="nota6" src="imagenes/btnLeerMas.png" type="submit"
                                    value="Leer más..." />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=row>
            <div class=col-md-3><img src="imagenes/554093389_806071981917890_6848098958508160034_n.jpg" loading=lazy
                    class="img-responsive noticia">
                <h6 style=float:left><span class="badge badge-secondary" style=margin-left:10px>septiembre
                        26</span></h6><img src="imagenes/100 libre plastico logo 2.png" loading=lazy
                    class=img-responsive-logo-libre-plastico
                    style=float:right;margin-right:50px;margin-top:5px;max-width:80px>
            </div>
            <div class=col-md-7>
                <div class=row>
                    <div class="col-md-12 text-uppercase titulo">Tequios por la Paz en Punta Chueca ✨🌊

                    </div>
                </div>
                <div class=row>
                    <div class="col-md-12 contenido">
                        <div class=row>
                            <form action="nota 01 26092025.html" method="post">
                                <input class="btn btn-sm" id="nota6" src="imagenes/btnLeerMas.png" type="submit"
                                    value="Leer más..." />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=row>
            <div class=col-md-3><img src="imagenes/552620823_803783745480047_132022493245703269_n.jpg" loading=lazy
                    class="img-responsive noticia">
                <h6 style=float:left><span class="badge badge-secondary" style=margin-left:10px>septiembre
                        23</span></h6><img src="imagenes/100 libre plastico logo 2.png" loading=lazy
                    class=img-responsive-logo-libre-plastico
                    style=float:right;margin-right:50px;margin-top:5px;max-width:80px>
            </div>
            <div class=col-md-7>
                <div class=row>
                    <div class="col-md-12 text-uppercase titulo">TecNM-Hermosillo celebra la Semana Aeronáutica
                        en el marco de su 50 Aniversario

                    </div>
                </div>
                <div class=row>
                    <div class="col-md-12 contenido">
                        <div class=row>
                            <form action="nota 01 23092025.html" method="post">
                                <input class="btn btn-sm" id="nota6" src="imagenes/btnLeerMas.png" type="submit"
                                    value="Leer más..." />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=row>
            <div class=col-md-3><img src="imagenes/549455386_803788525479569_5527614227640115993_n.jpg" loading=lazy
                    class="img-responsive noticia">
                <h6 style=float:left><span class="badge badge-secondary" style=margin-left:10px>septiembre
                        23</span></h6><img src="imagenes/100 libre plastico logo 2.png" loading=lazy
                    class=img-responsive-logo-libre-plastico
                    style=float:right;margin-right:50px;margin-top:5px;max-width:80px>
            </div>
            <div class=col-md-7>
                <div class=row>
                    <div class="col-md-12 text-uppercase titulo">TecNM-Hermosillo celebra la Semana Aeronáutica
                        en el marco de su 50 Aniversario

                    </div>
                </div>
                <div class=row>
                    <div class="col-md-12 contenido">
                        <div class=row>
                            <form action="nota 23092025.html" method="post">
                                <input class="btn btn-sm" id="nota6" src="imagenes/btnLeerMas.png" type="submit"
                                    value="Leer más..." />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=row>
            <div class=col-md-3><img src="imagenes/549289574_801217515736670_4039034911239645315_n.jpg" loading=lazy
                    class="img-responsive noticia">
                <h6 style=float:left><span class="badge badge-secondary" style=margin-left:10px>septiembre
                        19</span></h6><img src="imagenes/100 libre plastico logo 2.png" loading=lazy
                    class=img-responsive-logo-libre-plastico
                    style=float:right;margin-right:50px;margin-top:5px;max-width:80px>
            </div>
            <div class=col-md-7>
                <div class=row>
                    <div class="col-md-12 text-uppercase titulo">TecNM-Hermosillo participa en el Simulacro
                        Nacional 2025 reafirmando su compromiso con la seguridad y la cultura de protección
                        civil

                    </div>
                </div>
                <div class=row>
                    <div class="col-md-12 contenido">
                        <form action="nota 19092025.html" method="post">
                            <input class="btn btn-sm" id="nota6" src="imagenes/btnLeerMas.png" type="submit"
                                value="Leer más..." />
                        </form>
                        <!-- <form action="nota 19092025.html" method=post><input class="btn btn-sm" id=nota6
                                                src=imagenes/btnLeerMas.png type=submit value="Leer más..." /></form> -->
                    </div>
                </div>
            </div>
        </div>
        <div class=row>
            <div class=col-md-3><img src="imagenes/547642717_797863396072082_1792753611323102234_n.jpg" loading=lazy
                    class="img-responsive noticia">
                <h6 style=float:left><span class="badge badge-secondary" style=margin-left:10px>septiembre
                        15</span></h6><img src="imagenes/100 libre plastico logo 2.png" loading=lazy
                    class=img-responsive-logo-libre-plastico
                    style=float:right;margin-right:50px;margin-top:5px;max-width:80px>
            </div>
            <div class=col-md-7>
                <div class=row>
                    <div class="col-md-12 text-uppercase titulo">Ceremonia Cívica – 215 Aniversario del Inicio
                        de la Independencia de México

                    </div>
                </div>
                <div class=row>
                    <form action="nota 15092025.html" method="post">
                        <input class="btn btn-sm" id="nota6" src="imagenes/btnLeerMas.png" type="submit"
                            value="Leer más..." />
                    </form>
                    <div class=col-md-12>
                        <!-- <form action="nota 15092025.html" method=post><input class="btn btn-sm" id=nota6
                                                src=imagenes/btnLeerMas.png type=submit value="Leer más..."></form> -->
                    </div>
                </div>
            </div>
        </div>

        <div class=row>
            <div class=col-md-3><img src="imagenes/542023653_788898326968589_5089794970231137549_n.jpg" loading=lazy
                    class="img-responsive noticia">
                <h6 style=float:left><span class="badge badge-secondary" style=margin-left:10px>septiembre
                        04</span></h6><img src="imagenes/100 libre plastico logo 2.png" loading=lazy
                    class=img-responsive-logo-libre-plastico
                    style=float:right;margin-right:50px;margin-top:5px;max-width:80px>
            </div>
            <div class=col-md-7>
                <div class=row>
                    <div class="col-md-12 text-uppercase titulo">TecNM-Hermosillo realiza toma de protesta del
                        CESA 2025-2026 en el marco de su 50 Aniversario

                    </div>
                </div>
                <form action="nota 02 03092025.html" method="post">
                    <input class="btn btn-sm" id="nota6" src="imagenes/btnLeerMas.png" type="submit"
                        value="Leer más..." />
                </form>
                <div class=col-md-12>
                    <!-- <form action="nota 02 03092025.html" method=post><input class="btn btn-sm"
                                                id=nota6 src=imagenes/btnLeerMas.png type=submit value="Leer más..."> -->
                    <!-- </form> -->
                </div>
            </div>
        </div>

        <div class=row>
            <div class=col-md-3><img src="imagenes/542096654_788745006983921_4525122641207733693_n.jpg" loading=lazy
                    class="img-responsive noticia">
                <h6 style=float:left><span class="badge badge-secondary" style=margin-left:10px>septiembre
                        04</span></h6><img src="imagenes/100 libre plastico logo 2.png" loading=lazy
                    class=img-responsive-logo-libre-plastico
                    style=float:right;margin-right:50px;margin-top:5px;max-width:80px>
            </div>
            <div class=col-md-7>
                <div class=row>
                    <div class="col-md-12 text-uppercase titulo">✈️🌍 Orgullo Venados en Alemania 🌍✈️

                    </div>
                </div>
                <form action="nota 01 03092025.html" method="post">
                    <input class="btn btn-sm" id="nota6" src="imagenes/btnLeerMas.png" type="submit"
                        value="Leer más..." />
                </form>
                <div class=col-md-12>
                    <!-- <form action="nota 01 03092025.html" method=post><input class="btn btn-sm"
                                                id=nota6 src=imagenes/btnLeerMas.png type=submit value="Leer más...">
                                        </form> -->
                </div>
            </div>
        </div>

        <div class=row>
            <div class=col-md-3><img src="imagenes/IMG-20250904-WA0003.jpg" loading=lazy class="img-responsive noticia">
                <h6 style=float:left><span class="badge badge-secondary" style=margin-left:10px>septiembre
                        04</span></h6><img src="imagenes/100 libre plastico logo 2.png" loading=lazy
                    class=img-responsive-logo-libre-plastico
                    style=float:right;margin-right:50px;margin-top:5px;max-width:80px>
            </div>
            <div class=col-md-7>
                <div class=row>
                    <div class="col-md-12 text-uppercase titulo">TecNM-Hermosillo y la Secretaría Anticorrupción
                        impulsan la cultura de la integridad con el PADEIP 2025

                    </div>
                </div>
                <form action="nota 03092025.html" method="post">
                    <input class="btn btn-sm" id="nota6" src="imagenes/btnLeerMas.png" type="submit"
                        value="Leer más..." />
                </form>
                <div class=row>
                    <div class=col-md-12>
                        <!-- <form action="nota 03092025.html" method=post><input class="btn btn-sm" id=nota6
                                                src=imagenes/btnLeerMas.png type=submit value="Leer más..."></form> -->
                    </div>
                </div>
            </div>
        </div>

        <div class=row>
            <div class=col-md-3><img src="imagenes/541505375_788034777054944_5316499514075605960_n.jpg" loading=lazy
                    class="img-responsive noticia">
                <h6 style=float:left><span class="badge badge-secondary" style=margin-left:10px>septiembre
                        02</span></h6><img src="imagenes/100 libre plastico logo 2.png" loading=lazy
                    class=img-responsive-logo-libre-plastico
                    style=float:right;margin-right:50px;margin-top:5px;max-width:80px>
            </div>
            <div class=col-md-7>
                <div class=row>
                    <div class="col-md-12 text-uppercase titulo">🎉👕 ¡Bienvenidos al TecNM-Hermosillo! 👕🎉

                    </div>
                    <form action="nota 02092025.html" method="post">
                        <input class="btn btn-sm" id="nota6" src="imagenes/btnLeerMas.png" type="submit"
                            value="Leer más..." />
                    </form>
                    <div class="col-md-12 contenido">
                        <div class=row>
                            <div class=col-md-12>
                                <!-- <form action="nota 02092025.html" method=post><input class="btn btn-sm" id=nota6
                                                src=imagenes/btnLeerMas.png type=submit value="Leer más..." /></form> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>